@charset "UTF-8";
/* line 5, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/tools/ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ╨б╨▓╨╛╤П ╨▒╨╕╨▒╨╗╨╕╨╛╤В╨╡╨║╨░ ╨░╨╜╨╕╨╝╨░╤Ж╨╕╨╕ */
/* ╨Ъ╤А╤Г╤В╨╕╨╝ ╤Н╨╗╨╡╨╝╨╡╨╜╤В╤Л (╤Б╨╡╨╗╨╡╨║╤В╨╛╤А , ╤Б╨╡╨║╤Г╨╜╨┤╤Л (4sec) ) */
@-webkit-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* End spin classes */
/* Start fadeout function */
@-webkit-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* End fadeout function */
/* Start fadein function */
@-webkit-keyframes fadein_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein_animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* End fadein function */
/* line 10, ../../source/sass/style.sass */
* {
  box-sizing: border-box;
}

/* line 13, ../../source/sass/style.sass */
body {
  background: #282C34;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 18, ../../source/sass/style.sass */
#loader {
  position: absolute;
  overflow: hidden;
  width: 164px;
  height: 159px;
  left: 45%;
  top: 40%;
}
/* line 26, ../../source/sass/style.sass */
#loader img {
  position: inherit;
}

/* line 29, ../../source/sass/style.sass */
.loader-logo-back {
  width: 100%;
  height: 100%;
}

/* line 33, ../../source/sass/style.sass */
.loader-logo-front {
  left: 35;
  top: 35;
}

/* ╨Ъ╤А╤Г╤В╨╕╨╝ ╨╗╤Г╤З╨╕ ╨╗╨╛╨│╨╛╤В╨╕╨┐╨░ */
/* line 17, ../../source/sass/anim.sass */
.loader-logo-back {
  -moz-animation: spin_animation 4s linear infinite;
  -webkit-animation: spin_animation 4s linear infinite;
  animation: spin_animation 4s linear infinite;
}

/* ╨б╨╛╨╖╨┤╨░╨╡╨╝ ╨┐╤А╨╛╨┐╨░╨┤╨░╤О╤Й╨╕╨╣ ╨║╨╗╨░╤Б╤Б */
/* line 27, ../../source/sass/anim.sass */
.fadeout {
  -moz-animation: fadeout_animation 3s ease-in-out forwards;
  -webkit-animation: fadeout_animation 3s ease-in-out forwards;
  animation: fadeout_animation 3s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* ╨б╨╛╨╖╨┤╨░╨╡╨╝ ╨┐╨╛╤П╨▓╨╗╤П╤О╤Й╨╕╨╣╤Б╤П ╨║╨╗╨░╤Б╤Б */
/* line 40, ../../source/sass/anim.sass */
.fadein {
  -moz-animation: fadein_animation 2s ease-in-out forwards;
  -webkit-animation: fadein_animation 2s ease-in-out forwards;
  animation: fadein_animation 2s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* ╨Я╨╛╤П╨▓╨╗╨╡╨╜╨╕╤П ╨╗╨╛╨░╨┤╨╡╤А╨░ */
/* line 40, ../../source/sass/anim.sass */
.fadein-loader {
  -moz-animation: fadein_animation 1s ease-in-out forwards;
  -webkit-animation: fadein_animation 1s ease-in-out forwards;
  animation: fadein_animation 1s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* FLOAT */
/* line 50, ../../source/sass/style.sass */
.content-left {
  text-align: left;
}

/* line 52, ../../source/sass/style.sass */
.block-left {
  float: left;
}

/* line 54, ../../source/sass/style.sass */
.block-right {
  float: right;
}

/* COLORS */
/* line 63, ../../source/sass/style.sass */
.orange-text {
  color: #ECB72E;
}

/* line 66, ../../source/sass/style.sass */
.gray-text {
  color: #282C34;
}

/* line 69, ../../source/sass/style.sass */
.gray-text-light {
  color: #b3b0a1;
}

/* SIZE */
/* line 72, ../../source/sass/style.sass */
.h100 {
  height: 100%;
}

/* line 75, ../../source/sass/style.sass */
.w95p {
  width: 95%;
}

/* line 77, ../../source/sass/style.sass */
.w5p {
  width: 5%;
}

/* PADDING */
/* line 81, ../../source/sass/style.sass */
.padding-left20px {
  padding-left: 20px;
}

/* line 84, ../../source/sass/style.sass */
.padding-top80px {
  padding-top: 80px;
}

/* MARGION */
/* line 88, ../../source/sass/style.sass */
.margin-left20px {
  margin-left: 20px;
}

/* TEXT */
/* line 92, ../../source/sass/style.sass */
.text-upper {
  text-transform: uppercase;
}

/* line 94, ../../source/sass/style.sass */
.text-strong-title {
  font-size: 18pt;
  font-family: "Lora";
}

/* BUTTONS */
/* line 100, ../../source/sass/style.sass */
.button-simple {
  width: auto;
  text-align: center;
}

/* line 104, ../../source/sass/style.sass */
.button-simple:after, .button-dark:after {
  background-image: none;
  width: 0;
}

/* line 108, ../../source/sass/style.sass */
.button-dark {
  width: auto;
  background-color: #000;
  border: 2px solid #ECB72E;
}

/* line 113, ../../source/sass/style.sass */
.opacity05 {
  opacity: 0.5;
}

/* FOR PAGES */
/* line 118, ../../source/sass/style.sass */
.dark-with-light {
  background: #171819 url(/src/images/bg_light.png);
  background-size: cover;
}

/* line 122, ../../source/sass/style.sass */
.about-desc {
  background-color: #282C34;
  padding: 65px;
}

/* REGIONS */
