%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"../css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"../css/general_all.css" }
	%body
		%header#header
			%img{ :src=>"../images/logo.svg" , :alt=>"Уникальные Кальянные"}
			%nav
				%img.menu{ :src=>"../images/menu.svg" , :alt=>"Меню"}
		%section.section_1_bg
			%header
				%h1 Посетите наши лучшие уникальные места
				%p.h2_subtitle Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю и гостье.
				%button Открыть
			%section.instruments
				%a.magnifying Искать по названию
				%a.changeview Карта
				%a.citypin По городу
			%hr
		-# List of lounges
		%section.lounges
			%article.lounge
				.frontside
					%img{ :src=>"../images/blazon.svg"}
					%h4 «Резерв»
					%small Тюмень=
			%article.lounge
				.frontside
					%img{ :src=>"../images/blazon.svg"}
					%h4 «Резерв»
					%small Тюмень
			%article.lounge
				.frontside
					%img{ :src=>"../images/blazon.svg"}
					%h4 «Резерв»
					%small Тюмень
			%article.lounge
				.frontside
					%img{ :src=>"../images/blazon.svg"}
					%h4 «Резерв»
					%small Тюмень
			%article.lounge
				.frontside
					%img{ :src=>"../images/blazon.svg"}
					%h4 «Резерв»
					%small Тюмень
			%article.lounge
				.frontside
					%img{ :src=>"../images/blazon.svg"}
					%h4 «Резерв»
					%small Тюмень
			%article.lounge
				.frontside
					%img{ :src=>"../images/blazon.svg"}
					%h4 «Резерв»
					%small Тюмень
			%article.lounge
				.frontside
					%img{ :src=>"../images/blazon.svg"}
					%h4 «Резерв»
					%small Тюмень
