
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"../css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"../css/general_all.css" }
	%body
		-# Form
		%section.achievments_all
			%header.achievments_header
				%a Назад
				%h6 Навыки
			%section.achievments_list
				%img{ :src=>"../images/skills/skillset.svg" , :alt=>"Навыки"}
		

		-# Background
		.background-color-overlay
		-# Main conent
		%main.bg_testing
			