<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <title>Index fale</title>
    <link href='src/css/reset.css' rel='stylesheet'>
    <link href='src/css/ukpace.css' rel='stylesheet'>
    <link href='src/css/style.css' rel='stylesheet'>
    <link href='src/css/lounges.css' rel='stylesheet'>
    <link href='src/css/fonts.css' rel='stylesheet'>
    <link href='src/css/about.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-grid-only/css/grid12.css' rel='stylesheet'>
    <link href='bower_components/font-awesome/css/font-awesome.min.css' rel='stylesheet'>
  </head>
  <body>
    <main>
      <section id='liberty_block1'>
        <header>
          <img alt='Уникальные Кальянные' height='40px' src='src/images/logo.svg'>
          <nav>
            <a>Войти</a>
            <a>Зарегистрироваться</a>
            <img height='40px' src='src/images/menu.svg'>
          </nav>
        </header>
        <section class='informationlib'>
          <h1 class='orange-text'>ЛИБЕРТИ</h1>
          <h4>Sed et ceteri codices originale sit unum*</h4>
          <figure>
            <img alt='Город' height='16px' src='src/images/location_gold.svg'>
            <figcapation>
              Санкт-Петербург,
              <br>
              улица Маяковского 27
            </figcapation>
          </figure>
          <figure>
            <img alt='Город' height='16px' src='src/images/phone.svg'>
            <figcapation>+7 (812) 922-71-99</figcapation>
          </figure>
          <figure>
            <img alt='Город' height='16px' src='src/images/clock.svg'>
            <figcapation>
              Пн. - Пт.: с 17:00 до последнего гостя
              <br>
              Сб. - Вс.: с 16:00 до последнего гостя
            </figcapation>
          </figure>
        </section>
        <section class='liberactions'>
          <button>Забронировать столик</button>
          <button class='button-dark'>Связаться с нами</button>
        </section>
        <footer>
          <p>Оригинал один - остальное копии</p>
        </footer>
      </section>
      <section id='liberty_block2'>
        <h4>Первая в мире территория для курения со свободной оплатой и уникальным подходом к каждому гостю</h4>
        <h5>Почему же Вам стоит выбрать именно эту кальянную Петербурга? Во-первых, привлекает наша особенная атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Почему же Вам стоит выбрать именно эту кальянную Петербурга? Во-первых, привлекает наша особенная атмосфера.</h5>
      </section>
      <section class='cd-hero' id='liberty_block3'>
        <ul class='cd-hero-slider autoplay'>
          <li class='selected'>
            <img class='img-slider' src='src/images/slider/1.jpg'>
          </li>
          <li>
            <img class='img-slider' src='src/images/slider/2.jpg'>
          </li>
          <li>
            <img class='img-slider' src='src/images/slider/3.jpg'>
          </li>
          <li>
            <img class='img-slider' src='src/images/slider/4.jpg'>
          </li>
          <li>
            <img class='img-slider' src='src/images/slider/5.jpg'>
          </li>
          <div class='cd-slider-nav'>
            <nav>
              <ul>
                <li class='selected'>
                  <img class='img-nav' src='src/images/slider/1.jpg'>
                </li>
                <li>
                  <img class='img-nav' src='src/images/slider/2.jpg'>
                </li>
                <li>
                  <img class='img-nav' src='src/images/slider/3.jpg'>
                </li>
                <li>
                  <img class='img-nav' src='src/images/slider/4.jpg'>
                </li>
                <li>
                  <img class='img-nav' src='src/images/slider/5.jpg'>
                </li>
              </ul>
            </nav>
          </div>
        </ul>
      </section>
      <section id='liberty_block_3-5'>
        <h2>Кальянные мастера</h2>
        <h5>
          Мы ставим своей целью не только подавать лучшие кальяны, но и помогать людям находить новые полезные знакомства. Тут вы можете выбраь место, дату, время
          <br>
          и выбрать одного или нескольких человек, с кем хотите встретиться.
        </h5>
        <br>
        <img alt='Город' height='396px' src='src/images/shisha.svg'>
        <img alt='Город' height='396px' src='src/images/shisha.svg'>
        <img alt='Город' height='396px' src='src/images/shisha.svg'>
      </section>
      <section id='liberty_block4'>
        <section id='map_wrapper'>
          <h3>Санкт-Петербург</h3>
          <h5>Центральный</h5>
          <p>В первый же день было принято решение отказаться от стандартного позиционирования оплата стала свободной на усмотрение гостя или гостей.</p>
          <img alt='Город' height='10px' src='src/images/location.svg'>
          <small>Россия, Санкт-Петербург, улица Маяковского 27</small>
        </section>
      </section>
      <section id='liberty_block5'>
        <h2>Контакты</h2>
        <h5>«Либерти» находится в самом центре Санкт-Петербурга!</h5>
        <h6>Адрес:</h6>
        <p>Санкт-Петербург, улица Маяковского 27</p>
        <h6>Контактный номер:</h6>
        <p>+7 (812) 922-71-99</p>
        <h6>Рабочие часы:</h6>
        <p>
          Понедельник - Пятница .................... с 17:00 и до последнего гостя
        </p>
        <p>
          Cуббота - Воскресенье .................... с 16:00 и до последнего гостя
        </p>
      </section>
    </main>
  </body>
</html>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js' type='text/javascript'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js' type='text/javascript'></script>
<script src='bower_components/requirejs/require.js' type='text/javascript'></script>
<script src='src/js/app/config.js' type='text/javascript'></script>
<script src='src/js/app/start.js' type='text/javascript'></script>
<script src='src/js/app/slider.js' type='text/javascript'></script>
