<section class='content page-index-content section_1_bg'>
  <h1>Посетите наши лучшие<br>уникальные места</h1>
  <p>Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю и гостье.</p>
  <button class="button-flat">Открыть</button>
</section>

<section class='instruments'>
  <figure>
    <img alt='Поиск' height='16px' src='src/images/search.svg'>
    <figcapation>Искать по названию</figcapation>
  </figure>
  <figure>
    <img alt='Карта' height='16px' src='src/images/map.svg'>
    <figcapation>Карта</figcapation>
  </figure>
  <figure>
    <img alt='Выбрать город' height='16px' src='src/images/location.svg'>
    <figcapation>По городу</figcapation>
  </figure>
</section>

<hr />

<section class='lounges' id="region-lounges">
    <!-- Регион для карт -->
    <div class="justify_fix"></div>
</section>
