<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
  </head>
  <body>
    <div class='wrapper_2'>
      <section class='popup_horizontal'>
        <div class='popup_horizontal_symbol'>
        </div>
        <header class='popup_horizontal_header'>
          <a class='i_l'>Назад</a>
          <h5>Редактировать профиль</h5>
        </header>
        <section class='edit_profile_list'>
          <form action='' class='edit_profile_form' method='get'>
            <header>
              <h2>Редактирование профиля</h2>
              <h3>Хорошо заполненный профиль способствует увеличению полезных знакомств</h3>
            </header>
            <fieldset>
              <legend>Основная информация</legend>
              <input name='input' placeholder='ФИО' type='text'>
              <input name='input' placeholder='Город' type='text'>
              <input name='input' placeholder='Рабочая должность' type='text'>
              <input name='input' placeholder='Компания работодатель' type='text'>
              <input class='large' name='input' placeholder='Напишите о ваших увлечениях, так будет проще найти людей со схожими интересами.' type='text'>
            </fieldset>
            <fieldset>
              <legend>Регистрационные данные</legend>
              <input name='input' placeholder='Номер телефона' type='text'>
            </fieldset>
            <fieldset>
              <legend>зменить пароль</legend>
              <input name='input' placeholder='Старый пароль' type='text'>
              <input name='input' placeholder='Новый пароль' type='text'>
            </fieldset>
            <button name='sumbit' type='sumbit'>Сохранить</button>
          </form>
        </section>
      </section>
    </div>
    <div class='color_overlay color_overlay_active'></div>
    <main class='under_popup main_content_active'>
      <img class='imgfortest' src='./images/test_for_p.png'>
    </main>
  </body>
</html>
