<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
  </head>
  <body>
    <div class='wrapper_2'>
      <section class='popup_vertical'>
        <div class='popup_vertical_symbol'>
          <img src='./images/achievments/symbol_ach.svg'>
        </div>
        <header class='popup_vertical_header'>
          <a class='i_l'>Назад</a>
          <h5>Достижения</h5>
        </header>
        <img alt='Навыки' src='../images/skills/skillset.svg'>
      </section>
    </div>
    <div class='color_overlay color_overlay_active'></div>
    <main class='under_popup main_content_active'>
      <img class='imgfortest' src='./images/test_for_p.png'>
    </main>
  </body>
</html>
