<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='../css/reset.css' rel='stylesheet'>
    <link href='../css/general_all.css' rel='stylesheet'>
  </head>
  <body>
    <section class='achievments_all'>
      <header class='achievments_header'>
        <a>Назад</a>
        <h6>Достижения</h6>
      </header>
      <section class='achievments_list'>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <figure class='achievment'>
          <img alt='В альт отправляем название достижения' src='../images/achievments/1.svg'>
          <figcapation>
            <h4>Летняя ночь</h4>
            <p>21.09.15</p>
          </figcapation>
        </figure>
        <div class='justify_fix'></div>
      </section>
    </section>
  </body>
</html>
