<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='../css/reset.css' rel='stylesheet'>
    <link href='../css/general_all.css' rel='stylesheet'>
  </head>
  <body>
    <section class='dashboard'>
      <figure>
        <img alt='Profile photo' class='profile_photo' src='../images/for-photo.svg' width='160px'>
        <figcapation>
          <h1>Виталий Пихонт</h1>
          <p>Санкт-Петербург, Россия</p>
        </figcapation>
      </figure>
      <section class='progress_bar'>
        <p>4525 очков для следующиего уровня</p>
        <progress max='100' value='50'></progress>
        <span class='level-statistic-maxmin'>
          <span>700</span>
          <span>5225</span>
        </span>
      </section>
      <button class='button-dark'>Забронировать место</button>
      <button class='button-dark'>Назначить встречу</button>
      <section class='user_achievments'>
        <header>
          <h4>Достижения</h4>
          <span class='color-orange'>3/25</span>
          <a>Посмотреть все</a>
        </header>
        <figure>
          <img class='achievments_icon' src='../images/skills_masks.svg' width='80px'>
          <ficapation>
            <p>Маскировка</p>
            <p>21.09.15</p>
          </ficapation>
        </figure>
        <figure>
          <img class='achievments_icon' src='../images/skills_masks.svg' width='80px'>
          <ficapation>
            <p>Маскировка</p>
            <p>21.09.15</p>
          </ficapation>
        </figure>
        <figure>
          <img class='achievments_icon' src='../images/skills_masks.svg' width='80px'>
          <ficapation>
            <p>Маскировка</p>
            <p>21.09.15</p>
          </ficapation>
        </figure>
        <figure>
          <img class='achievments_icon' src='../images/skills_masks.svg' width='80px'>
          <ficapation>
            <p>Маскировка</p>
            <p>21.09.15</p>
          </ficapation>
        </figure>
        <figure>
          <img class='achievments_icon' src='../images/skills_masks.svg' width='80px'>
          <ficapation>
            <p>Маскировка</p>
            <p>21.09.15</p>
          </ficapation>
        </figure>
      </section>
    </section>
  </body>
</html>
