<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
  </head>
  <body>
    <section class='dashboard under_popup'>
      <header id='header'>
        <img alt='Уникальные Кальянные' src='./images/logo.svg'>
        <nav>
          <a id='login_btn'>Виталий Пихонт</a>
          <a id='signup_btn'>Меню</a>
          <img alt='Меню' class='menu' src='./images/menu.svg'>
        </nav>
      </header>
      <hr>
      <section class='username'>
        <h1>Виталий Пихонт</h1>
        <p>Санкт-Петербург, Россия</p>
        <button class='button-dark' id='n_o_a'>Забронировать столик</button>
        <button class='button-dark'>Пригласить на встречу</button>
      </section>
      <section class='progress_bar'>
        <p>4525 очков для следующиего уровня</p>
        <div class='progress_bar_bg'>
          <div class='progress'></div>
        </div>
      </section>
      <section class='user_achievments'>
        <header>
          <h4>Достижения</h4>
          <div class='number_of'>3/25</div>
        </header>
        <section class='wrapper_for_ach'>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
        </section>
      </section>
      <section class='user_achievments'>
        <header>
          <h4>Навыки</h4>
          <div class='number_of'>3/25</div>
        </header>
        <section class='wrapper_for_ach'>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
        </section>
      </section>
      <section class='bottom_rating'></section>
    </section>
  </body>
</html>
