<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/skill.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <script src='./js/jquery-2.1.4.min.js'></script>
    <script src='./js/jquery.gsap.min.js'></script>
    <script src='./js/TweenLite.min.js'></script>
    <script src='./js/TweenMax.min.js'></script>
    <script src='./js/jquery.mask.min.js'></script>
    <script src='./js/underscore-min.js'></script>
    <script src='./js/moment-with-locales.js'></script>
    <script src='./js/lib/d3.js'></script>
    <script src='./js/animation.js'></script>
    <script src='./js/fx.js'></script>
    <script src='./js/dashboard_hmaster.js'></script>
    <script src='./js/skilldata.js'></script>
    <script src='./js/skillviewh.js'></script>
    <script src='./js/skillgen.js'></script>
    <script src='./js/menu.js'></script>
    <script src='./js/profile.js'></script>
    <script src='./js/achievements.js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
  </head>
  <script id='user_rating_tpl' type='text/template'>
    <li>
      <span>{{ number }}. {{ name }}</span>
      <span>{{ exp }}</span>
    </li>
  </script>
  <script id='work_tpl' type='text/template'>
    <tr>
      <td>
        <h6 class='color-blue'>{{ lounge }}</h6>
      </td>
      <td class='td-date'>{{ work_at }} - {{ end_work_at }}</td>
      <td>{{ amount }}р.</td>
    </tr>
  </script>
  <body id='html_body'>
    <div class='wrapper_2' id='edit-profile-wrapper'>
      <section class='popup_horizontal' id='edit-profile'>
        <div class='popup_horizontal_symbol'>
        </div>
        <header class='popup_horizontal_header'>
          <a class='i_l'>Назад</a>
        </header>
        <section class='edit_profile_list'>
          <form action='' class='edit_profile_form' method='get'>
            <header>
              <h2>Редактирование профиля</h2>
              <h3>Хорошо заполненный профиль способствует увеличению полезных знакомств</h3>
            </header>
            <fieldset>
              <legend>Основная информация</legend>
              <input name='name' placeholder='ФИО' type='text'>
              <input name='city' placeholder='Город' type='text'>
              <input name='employe' placeholder='Рабочая должность' type='text'>
              <input name='work_company' placeholder='Компания работодатель' type='text'>
              <input class='large' name='hobby' placeholder='Напишите о ваших увлечениях, так будет проще найти людей со схожими интересами.' type='text'>
            </fieldset>
            <fieldset>
              <legend>Регистрационные данные</legend>
              <input name='phone' placeholder='Номер телефона' type='text'>
              <input name='email' placeholder='E-mail' type='text'>
            </fieldset>
            <fieldset>
              <legend>сменить пароль</legend>
              <input name='old_password' placeholder='Старый пароль' type='password'>
              <input name='new_password' placeholder='Новый пароль' type='password'>
            </fieldset>
            <button name='sumbit' type='sumbit'>Сохранить</button>
          </form>
        </section>
      </section>
    </div>
    <div class='wrapper_2' id='all_ach_wrapper'>
      <section class='popup_vertical' id='all_ach'>
        <div class='popup_vertical_symbol'>
          <img src='./images/achievments/symbol_ach.svg'>
        </div>
        <header class='popup_vertical_header'>
          <a class='i_l'>Назад</a>
          <h5>Достижения</h5>
        </header>
        <section class='wrapper_for_ach'>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <ficapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </ficapation>
          </figure>
        </section>
      </section>
    </div>
    <div class='wrapper_2' id='all-skill'>
      <section class='popup_vertical' id='all_talents'>
        <div class='popup_vertical_symbol'>
          <img src='./images/achievments/symbol_ach.svg'>
        </div>
        <header class='popup_vertical_header'>
          <a class='i_l'>Назад</a>
          <h5>Навыки</h5>
        </header>
        <div id='skill-view'></div>
      </section>
    </div>
    <div class='wrapper_2 center-center'>
      <section class='popup_overall' id='achivka'>
        <img alt='В альт отправляем название достижения' src='./images/achievments/1.svg'>
        <h2 class='skill_header'></h2>
        <h4 class='skill_state'></h4>
        <p class='skill_description'></p>
      </section>
    </div>
    <div class='wrapper_2 center-center'>
      <section class='popup_overall' id='skill'>
        <img alt='В альт отправляем название достижения' src='./images/achievments/1.svg'>
        <h2 class='skill_header'></h2>
        <h4 class='skill_state'></h4>
        <p class='skill_description'></p>
        <button>Получить навык</button>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_menu'>
      <section class='left_menu' id='menu_left_part'>
        <img alt='Unique Hookah Places' height='40px' src='./images/logo.svg'>
        <span>
          <h4>Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...</h4>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        </span>
        <footer>
          <p>Copyright © 2015 Уникальные Кальянные</p>
          <p>
            Создано в
            <img alt='CPD&amp;BBK' height='24px' src='./images/cpdbbk.svg'>
          </p>
        </footer>
      </section>
      <section class='right_menu' id='menu_right_part'>
        <img alt='Закрыть' class='pointer' id='closing' src='./images/cross.svg'>
        <a>
          <h3 id='lounges_nav_btn'>Ложи</h3>
          <p>Уникальные заведения</p>
        </a>
        <a>
          <h3 id='philosophy_nav_btn'>Философия</h3>
          <p>Наши ценности</p>
        </a>
        <a>
          <h3 id='community_nav_btn'>Сообщество</h3>
          <p>Полезно быть своим</p>
        </a>
        <a>
          <h3>Франшиза</h3>
          <p>Открыть Ложу</p>
        </a>
        <button id='go_login_from_menu_btn'>Круг избранных</button>
      </section>
    </div>
    <div class='color_overlay' id='color_overlay'></div>
    <section class='dashboard' id='main_content'>
      <header id='header'>
        <img alt='Уникальные Кальянные' src='./images/logo.svg'>
        <nav>
          <a id='edit_profile_btn'>Редактировать профиль</a>
          <a id='logout_btn'>Выйти</a>
          <div class='menu pointer' data-icon-name='hamburger' id='menu_header_btn'></div>
        </nav>
      </header>
      <hr>
      <section class='username'>
        <h1>Виталий Пихонт</h1>
        <p id='city_user'><span>Санкт-Петербург</span>, Россия</p>
        <p id='hookmaster_description'>Работаю в сети с 2012 года. Стараюсь вседа делать лучшие кальяны, приходите в мои смены!</p>
      </section>
      <section class='progress_bar'>
        <p>
          <span id='need_points'>4525</span> очков до <span id='next_level'></span> уровня
        </p>
        <div class='progress_bar_bg'>
          <div class='progress'></div>
        </div>
      </section>
      <section class='user_achievments'>
        <header>
          <h4>Достижения</h4>
          <div class='number_of' id='dashboard_ach_btn'>3/25</div>
        </header>
        <section class='wrapper_for_ach' id='achievements'>
          <figure id='dashboard_open_ach_btn'>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
        </section>
      </section>
      <section class='user_achievments'>
        <header>
          <h4>Навыки</h4>
          <div class='number_of' id='dashboard_talents_btn'>3/25</div>
        </header>
        <section class='wrapper_for_ach' id='skills'>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
          <figure>
            <img class='achievments_icon' src='./images/achievments/1.svg'>
            <figcapation>
              <h6>Маскировка</h6>
              <p>21.09.15</p>
            </figcapation>
          </figure>
        </section>
      </section>
      <section class='bottom-rating'>
        <article id='works'>
          <header>
            <h4>Посещения</h4>
          </header>
          <div class='nodata'>
            нет данных
          </div>
          <table id='works_table'>
            <thead>
              <tr>
                <th>Кальянная</th>
                <th>Дата</th>
                <th>Заработано</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <h6 class='color-limon'>Либерти</h6>
                </td>
                <td class='td-date'>23 июня 2015 20:30 - 23:00</td>
                <td>1360 рублей</td>
                <td>
                  136 HP
                </td>
              </tr>
              <tr>
                <td>
                  <h6 class='color-blue'>Облака</h6>
                </td>
                <td class='td-date'>19 июня 2015 20:30 - 23:00</td>
                <td>900 рублей</td>
                <td>90 HP</td>
              </tr>
              <tr>
                <td>
                  <h6 class='color-blue'>Облака</h6>
                </td>
                <td class='td-date'>19 июня 2015 20:30 - 23:00</td>
                <td>900 рублей</td>
                <td>90 HP</td>
              </tr>
              <tr>
                <td>
                  <h6 class='color-blue'>Облака</h6>
                </td>
                <td class='td-date'>19 июня 2015 20:30 - 23:00</td>
                <td>900 рублей</td>
                <td>90 HP</td>
              </tr>
              <tr>
                <td>
                  <h6 class='color-blue'>Облака</h6>
                </td>
                <td class='td-date'>19 июня 2015 20:30 - 23:00</td>
                <td>900 рублей</td>
                <td>90 HP</td>
              </tr>
            </tbody>
          </table>
        </article>
        <article>
          <h4>Бонусы</h4>
          <aside>
            <figure>
              <img src='./images/achievments/1.svg'>
              <span class='popover'>
                Трудоголик
                <br>
                отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
              </span>
            </figure>
            <figure>
              <img src='./images/achievments/1.svg'>
              <span class='popover'>
                Трудоголик
                <br>
                отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
              </span>
            </figure>
            <figure>
              <img src='./images/achievments/1.svg'>
              <span class='popover'>
                Трудоголик
                <br>
                отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
              </span>
            </figure>
          </aside>
          <h4>Штрафы</h4>
          <aside>
            <figure>
              <img src='./images/achievments/1.svg'>
              <span class='popover'>
                Трудоголик
                <br>
                отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
              </span>
            </figure>
            <figure>
              <img src='./images/achievments/1.svg'>
              <span class='popover'>
                Трудоголик
                <br>
                отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
              </span>
            </figure>
            <figure>
              <img src='./images/achievments/1.svg'>
              <span class='popover'>
                Трудоголик
                <br>
                отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
              </span>
            </figure>
          </aside>
        </article>
        <article>
          <header>
            <h4>Рейтинг</h4>
          </header>
          <fieldset>
            <input checked='true' id='rating-per-month' name='tabs' type='radio'>
            <label for='rating-per-month' title='За месяц'>
              <h6>За месяц</h6>
            </label>
            <input id='rating-per-all-time' name='tabs' type='radio'>
            <label for='rating-per-all-time' title='За всё время'>
              <h6>За все время</h6>
            </label>
            <section id='section-per-month'>
              <ul class='leaders'></ul>
            </section>
            <section id='section-per-all-time'>
              Секция за все время
            </section>
          </fieldset>
        </article>
      </section>
    </section>
  </body>
</html>
