<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/slider_style.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <script src='./js/jquery-2.1.4.min.js'></script>
    <script src='./js/jquery.gsap.min.js'></script>
    <script src='./js/TweenLite.min.js'></script>
    <script src='./js/TweenMax.min.js'></script>
    <script src='./js/jquery.mask.min.js'></script>
    <script src='./js/slider_main.js'></script>
    <script src='./js/underscore-min.js'></script>
    <script src='./js/openapi.js'></script>
    <script src='http://maps.googleapis.com/maps/api/js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
    <script src='./js/lib/d3.js'></script>
    <script src='./js/data.js'></script>
    <script src='./js/nodes.js'></script>
    <script src='./js/header.js'></script>
  </head>
  <body id='html_body'>
    <main id='main_content'>
      <section id='liberty_block1'>
        <header id='header'>
          <img alt='Уникальные Кальянные' class='pointer' src='./images/logo.svg'>
          <nav>
            <a id='login_header_btn'>Войти</a>
            <a id='signup_header_btn'>Зарегистрироваться</a>
            <div class='menu pointer' data-icon-name='hamburger' id='menu_header_btn'></div>
          </nav>
        </header>
        <hr>
        <header>
          <h1>Либерти</h1>
          <p>Sed et ceteri codices originale sit unum*</p>
        </header>
        <section class='information_lib'>
          <figure>
            <img alt='Город' height='16px' src='./images/location_gold.svg'>
            <figcapation>Санкт-Петербург,<br>улица Маяковского 27</figcapation>
          </figure>
          <figure>
            <img alt='Город' height='16px' src='./images/phone.svg'>
            <figcapation>+7 (812) 777-38-08</figcapation>
          </figure>
          <figure>
            <img alt='Город' height='16px' src='./images/clock.svg'>
            <figcapation>
              Пн. - Пт.: с 17:00 до последнего гостя
              <br>
              Сб. - Вс.: с 16:00 до последнего гостя
            </figcapation>
          </figure>
        </section>
        <section class='liberactions'>
          <button id='reserve_table_btn'>Забронировать столик</button>
        </section>
        <footer>
          <p>*Оригинал один - остальное копии</p>
        </footer>
        <img class='layer' data-depth='0.40' id='liberty_herb' src='./images/gerb_final.svg'>
        <img class='gerb_glow_2' src='./images/gerb_glow.png'>
        <img class='gerb_glow' src='./images/sun_glow.svg'>
      </section>
      <section id='liberty_block2'>
        <div class='text-wrapper-liberty'>
          <h4>Первая в мире территория для курения со свободной оплатой и уникальным подходом к каждому гостю</h4>
          <p>Почему же Вам стоит выбрать именно эту кальянную Петербурга? Всех привлекает наша особенная атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.</p>
        </div>
      </section>
      <section id='liberty_block3'>
        <section class='cd-hero'>
          <ul class='cd-hero-slider autoplay'>
            <li class='selected'>
              <img class='img-slider' src='./images/slider/1.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/slider/2.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/slider/3.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/slider/4.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/slider/5.jpg'>
            </li>
          </ul>
          <div class='cd-slider-nav'>
            <nav>
              <ul>
                <li class='selected'>
                  <img class='img-nav pointer' src='./images/slider/1.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/slider/2.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/slider/3.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/slider/4.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/slider/5.jpg'>
                </li>
              </ul>
            </nav>
          </div>
        </section>
      </section>
      <section id='liberty_block4'>
        <header>
          <h2>Кальянные мастера</h2>
          <p>В Уникальных Кальянных работают только профессионалы своего дела. Наши кальянные мастера подходят к смешиванию табака и созданию вкуса как к тонкому искусству. Вы всегда сможете положиться на них в вопросах качества.</p>
        </header>
        <br>
        <img alt='Кальянщик' height='396px' src='./images/hm/hm_1.png'>
        <img alt='Кальянщик' height='396px' src='./images/hm/hm_2.png'>
        <img alt='Кальянщик' height='396px' src='./images/hm/hm_3.png'>
      </section>
      <section id='liberty_block5'>
        <div class='map_overlay'></div>
        <div class='map_wrapper'>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.49768307465!2d30.354054316097056!3d59.94047698187685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696319f63171fe9%3A0xf3c2b208dba31de1!2z0YPQuy4g0JzQsNGP0LrQvtCy0YHQutC-0LPQviwgMjcsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTEwMTQ!5e0!3m2!1sru!2sru!4v1449472409367" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <section id='map_wrapper'>
          <header>
            <h3>Санкт-Петербург</h3>
            <p>Центральный район</p>
          </header>
          <p>Уникальная Кальянная “Либерти” расположена в историческом центре Санкт-Петербурга, практически в самом сердце города.</p>
          <small>Россия, Санкт-Петербург, улица Маяковского 27</small>
        </section>
      </section>
      <section id='liberty_block6'>
        <header>
          <h2>Контакты</h2>
          <h5>По вопросам справки обращайтесь по телефону в рабочее время:</h5>
        </header>
        <h6>Адрес:</h6>
        <p>Санкт-Петербург, улица Маяковского 27</p>
        <h6>Контактный номер:</h6>
        <p>+7 (812) 777-38-08</p>
        <h6>Рабочие часы:</h6>
        <p>
          Понедельник - Пятница .................... с 17:00 и до последнего гостя
          <br>
          Cуббота - Воскресенье ...................... с 16:00 и до последнего гостя
        </p>
      </section>
      <section id='philosophie_block5'>
        <h3>Omnis qui quaerit invenit</h3>
        <h6>*Всякий ищущий находит</h6>
        <br>
        <button class='button-dark'>Зарегистрироваться</button>
        <img class='sun_glow_2' src='./images/sun_glow.png'>
        <img class='sun_glow' src='./images/sun_glow.svg'>
        <img class='sun_rotation' src='./images/sun_lines.svg'>
        <img alt='Звезда' src='./images/sun.svg'>
      </section>
    </main>
  </body>
</html>
