<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <link href='./css/pages_lounges.css' rel='stylesheet'>
    <script src='./js/jquery-2.1.4.min.js'></script>
    <script src='./js/jquery.gsap.min.js'></script>
    <script src='./js/TweenLite.min.js'></script>
    <script src='./js/TweenMax.min.js'></script>
    <script src='./js/jquery.mask.min.js'></script>
    <script src='./js/slider_main.js'></script>
    <script src='./js/underscore-min.js'></script>
    <script src='./js/openapi.js'></script>
    <script src='http://maps.googleapis.com/maps/api/js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
    <script src='./js/lib/d3.js'></script>
    <script src='./js/data.js'></script>
    <script src='./js/nodes.js'></script>
    <script src='./js/animation.js'></script>
    <script src='./js/fx.js'></script>
    <script src='./js/header.js'></script>
    <script src='./js/menu.js'></script>
    <script src='./js/page_lounges.js'></script>
    <title>Резерв</title>
  </head>
  <body id='html_body'>
    <div class='wrapper center-center' id='wrapper_signup'>
      <section class='popup' id='signup_form'>
        <header>
          <h2>Регистрация</h2>
          <p class='h2_subtitle'>
            Регистрация нового пользователя. Если у вас уже есть аккаунт —
            <a href='#login'>войдите.</a>
          </p>
        </header>
        <form action='' autocomplete='off' method='get'>
          <input style='display:none'>
          <input style='display:none' type='password'>
          <input name='phone' placeholder='Телефон +7XXXXXXX' type='text'>
          <input name='name' placeholder='ФИО' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button id='open_liberty_btn' name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_login'>
      <section class='error_tooltip' id='error_password'>
        Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
      </section>
      <section class='popup' id='login_form'>
        <header>
          <h2>Войти</h2>
          <p class='h2_subtitle'>
            Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
        </header>
        <form action='' method='get'>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_menu'>
      <section class='left_menu' id='menu_left_part'>
        <img alt='Unique Hookah Places' height='40px' src='./images/logo.svg'>
        <span>
          <h4>Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...</h4>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        </span>
        <footer>
          <p>Copyright © 2015 Уникальные Кальянные</p>
          <p>
            Создано в
            <img alt='CPD&amp;BBK' height='24px' src='./images/cpdbbk.svg'>
          </p>
        </footer>
      </section>
      <section class='right_menu' id='menu_right_part'>
        <img alt='Закрыть' class='pointer' id='closing' src='./images/cross.svg'>
        <a>
          <h3 id='lounges_nav_btn'>Ложи</h3>
          <p>Уникальные заведения</p>
        </a>
        <a>
          <h3 id='philosophy_nav_btn'>Философия</h3>
          <p>Наши ценности</p>
        </a>
        <a>
          <h3 id='community_nav_btn'>Сообщество</h3>
          <p>Полезно быть своим</p>
        </a>
      </section>
    </div>
    <div id='wrapper_hm_popup'>
      <section class='hm_popup' id='popup_hm_1'>
        <img class='cross_white_popup pointer' src='./images/cross_black.svg'>
        <header>
          <h2>Булатов Денис</h2>
          <p>«Резерв»</p>
        </header>
        <section>
          <p>Сдержан. Обладает тонким чувством стиля во всем: подача, манеры, внешний вид. В этом человеке всегда присутствуют 2 личности, и за этим симбиозом следить очень интересно.</p>
        </section>
      </section>
      <section class='hm_popup' id='popup_hm_2'>
        <img class='cross_white_popup pointer' src='./images/cross_black.svg'>
        <header>
          <h2>Тыренко Антон</h2>
          <p>«Резерв»</p>
        </header>
        <section>
          <p>Сдержан. Обладает тонким чувством стиля во всем: подача, манеры, внешний вид. В этом человеке всегда присутствуют 2 личности, и за этим симбиозом следить очень интересно.</p>
        </section>
      </section>
      <section class='hm_popup' id='popup_hm_3'>
        <img class='cross_white_popup pointer' src='./images/cross_black.svg'>
        <header>
          <h2>Новиков Никита</h2>
          <p>«Резерв»</p>
        </header>
        <section>
          <p>Сдержан. Обладает тонким чувством стиля во всем: подача, манеры, внешний вид. В этом человеке всегда присутствуют 2 личности, и за этим симбиозом следить очень интересно.</p>
        </section>
      </section>
    </div>
    <div class='color_overlay' id='color_overlay'></div>
    <main id='main_content'>
      <header id='header'>
        <img alt='Уникальные Кальянные' class='pointer' id='menu_header_logo' src='./images/rezerv/logo.svg'>
        <nav>
          <a id='login_header_btn'>Войти</a>
          <a id='signup_header_btn'>Зарегистрироваться</a>
          <img alt='Меню' class='pointer' id='menu_header_btn' src='./images/rezerv/menu.svg'>
        </nav>
      </header>
      <section class='lounges_block_1'>
        <section class='content'>
          <header>
            <h1>Резерв</h1>
            <p>Нomо ornat locum, nоn locus hominem*</p>
          </header>
          <section class='information'>
            <figure>
              <img alt='Город' height='16px' src='./images/rezerv/location.svg'>
              <figcapation>Тюмень, Улица Мельникайте 54/1б</figcapation>
            </figure>
            <figure>
              <img alt='Город' height='16px' src='./images/rezerv/phone.svg'>
              <figcapation>+7 (3452) 60-54-24</figcapation>
            </figure>
            <figure>
              <img alt='Город' height='16px' src='./images/rezerv/clock.svg'>
              <figcapation>
                Пн - Чт и Вс: 14:00 - 03:00
                <br>
                Пт - Сб: 14:00 - 05:00
              </figcapation>
            </figure>
          </section>
          <section class='actions'>
            <button class='btn_arrow' id='reserve_table_btn'>Забронировать столик</button>
          </section>
        </section>
        <section class='blazon'>
          <img class='blazon' src='./images/rezerv/blazon.svg'>
          <div class='blazon_glow'></div>
          <div class='blazon_glow_2'></div>
        </section>
        <footer>
          <p>*Не место красит человека, а человек – место.</p>
        </footer>
      </section>
      <section class='lounges_block_2'>
        <div class='text-wrapper-liberty'>
          <h4>Два этажа и две атмосферы...</h4>
          <p>Множество открытий, ошибок и буря эмоций была в стенах Уникальной Кальянной Тюмени с самого открытия. От этого она стала только лучше. На данном этапе это два этажа с различной атмосферой, с разными людьми, для которых слово "уют" звучит по-своему для каждого. Удобство и комфорт общения в Резерве каждый может выбрать по-своему, главное, что выбор есть всегда.</p>
        </div>
      </section>
      <section class='lounges_block_3'>
        <section class='cd-hero'>
          <ul class='cd-hero-slider autoplay'>
            <li class='selected'>
              <img class='img-slider' src='./images/rezerv/slider/1.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/rezerv/slider/2.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/rezerv/slider/3.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/rezerv/slider/4.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/rezerv/slider/5.jpg'>
            </li>
          </ul>
          <div class='cd-slider-nav'>
            <nav>
              <ul>
                <li class='selected'>
                  <img class='img-nav pointer' src='./images/rezerv/slider/1.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/rezerv/slider/2.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/rezerv/slider/3.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/rezerv/slider/4.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/rezerv/slider/5.jpg'>
                </li>
              </ul>
            </nav>
          </div>
        </section>
      </section>
      <section class='lounges_block_4'>
        <header>
          <h2>Кальянные мастера</h2>
          <p>Уникальная Кальянная «Резерв»</p>
          <p>Каждый кальянный мастер Резерва уникален по-своему. Это личности, стремящиеся развиваться. В совокупности же наши кальянные мастера могут фантазировать над всем, что попадет к ним в руки, при этом удивляя окружающих уникальным подходом к уже обыденным вещам.</p>
        </header>
        <div class='wrapper_hm_cards'>
          <figure class='pointer' id='btn_hm_1'>
            <div class='wrapper_hm_photo'>
              <div class='glow_html'></div>
              <div class='hm_photo'>
                <img src='./images/rezerv/hm_photo_placeholder.svg'>
              </div>
              <img class='hm_lights' src='./images/rezerv/hm_photo_lights.svg'>
            </div>
            <figcapation class='wrapper_hm_name'>
              <h2>Булатов Денис</h2>
              <p>«Резерв»</p>
            </figcapation>
            <button class='button_round'>Посмотреть</button>
            <div class='wrapper_storke_corner'>
              <div class='hm_stroke_1'></div>
              <div class='hm_stroke_2'></div>
            </div>
          </figure>
          <figure class='pointer' id='btn_hm_2'>
            <div class='wrapper_hm_photo'>
              <div class='glow_html'></div>
              <div class='hm_photo'>
                <img src='./images/rezerv/hm_photo_placeholder.svg'>
              </div>
              <img class='hm_lights' src='./images/rezerv/hm_photo_lights.svg'>
            </div>
            <figcapation class='wrapper_hm_name'>
              <h2>Тыренко Антон</h2>
              <p>«Резерв»</p>
            </figcapation>
            <button class='button_round'>Посмотреть</button>
            <div class='wrapper_storke_corner'>
              <div class='hm_stroke_1'></div>
              <div class='hm_stroke_2'></div>
            </div>
          </figure>
          <figure class='pointer' id='btn_hm_3'>
            <div class='wrapper_hm_photo'>
              <div class='glow_html'></div>
              <div class='hm_photo'>
                <img src='./images/rezerv/hm_photo_placeholder.svg'>
              </div>
              <img class='hm_lights' src='./images/rezerv/hm_photo_lights.svg'>
            </div>
            <figcapation class='wrapper_hm_name'>
              <h2>Новиков Никита</h2>
              <p>«Резерв»</p>
            </figcapation>
            <button class='button_round'>Посмотреть</button>
            <div class='wrapper_storke_corner'>
              <div class='hm_stroke_1'></div>
              <div class='hm_stroke_2'></div>
            </div>
          </figure>
        </div>
      </section>
      <section class='lounges_block_5'>
        <section id='map_wrapper'>
          <header>
            <h3>Тюмень</h3>
            <p>Центральный район</p>
          </header>
          <p>Резерв не находится в центре Тюмени. Но кто сказал, что центр всегда на первом месте? Порой фланги города намного интереснее и важнее для кого-то.</p>
          <p>
            <img src='./images/rezerv/location.svg'>
            <small>Тюмень, улица Мельникайте 54/1</small>
          </p>
        </section>
        <div class='map_wrapper'>
          <div class='map_overlay'></div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2164.2275622027437!2d65.58541431566806!3d57.1502669809501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43bbe14b82c77751%3A0xed22e04acbb3594f!2z0YPQuy4g0JzQtdC70YzQvdC40LrQsNC50YLQtSwgNTQvMSwg0KLRjtC80LXQvdGMLCDQotGO0LzQtdC90YHQutCw0Y8g0L7QsdC7LiwgNjI1MDQ4!5e0!3m2!1sru!2sru!4v1449519253668" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </section>
      <section class='lounges_block_6'>
        <header>
          <h2>Контакты</h2>
          <h5>По вопросам справки обращайтесь по телефону в рабочее время:</h5>
        </header>
        <h6>Адрес:</h6>
        <p>Тюмень, Ул. Мельникайте, 54/1</p>
        <h6>Контактный номер:</h6>
        <p>+7 (3452) 60-54-24</p>
        <h6>Рабочие часы:</h6>
        <p>
          Пн - Чт и Вс: 14:00 - 03:00
          <br>
          Пт - Сб: 14:0 - 05:00
        </p>
        <h6>Социальные сети</h6>
        <p>
          <a ref='http://vk.com/club61931015'>Группа Вконтакте</a>
        </p>
      </section>
      <section class='lounges_block_7'>
        <div class='wrapper_sun'>
          <img alt='Звезда' class='sun' src='./images/rezerv/sun.svg'>
          <img class='sun_rotation' src='./images/rezerv/sun_lines.svg'>
          <div class='sun_glow'></div>
          <div class='sun_glow_2'></div>
        </div>
        <div class='wrapper_sun_text'>
          <h3>Нomо ornat locum, nоn locus hominem*</h3>
          <h6>*Не место красит человека, а человек – место.</h6>
          <br>
          <button class='btn_arrow'>Зарегистрироваться</button>
        </div>
      </section>
    </main>
  </body>
</html>
