<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <script src='./index.js'></script>
  </head>
  <body>
    <div class='wrapper center-center'>
      <section class='popup'>
        <header>
          <h2>Войти</h2>
          <p class='h2_subtitle'>
            Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
        </header>
        <form action='' method='get'>
          <input name='input' placeholder='Номер телефона' type='text'>
          <input name='input' placeholder='Пароль' type='text'>
          <button name='sumbit' type='sumbit'>Войти</button>
        </form>
        <a href='#forgot_pass'>
          <p>Вы забыли пароль?</p>
        </a>
      </section>
    </div>
    <div class='color_overlay'></div>
    <main>
      <section class='section_1_bg'>
        <header>
          <h1>Посетите наши лучшие уникальные места</h1>
          <p class='h2_subtitle'>Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю и гостье.</p>
          <button>Открыть</button>
        </header>
        <section class='instruments'>
          <a class='magnifying'>Искать по названию</a>
          <a class='changeview'>Карта</a>
          <a class='citypin'>По городу</a>
        </section>
        <hr>
      </section>
      <section class='lounges'>
        <article class='lounge'>
          <div class='frontside'>
            <img src='./images/blazon.svg'>
            <h4>«Резерв»</h4>
            <small>Тюмень</small>
          </div>
        </article>
        <article class='lounge'>
          <div class='frontside'>
            <img src='./images/blazon.svg'>
            <h4>«Резерв»</h4>
            <small>Тюмень</small>
          </div>
        </article>
        <article class='lounge'>
          <div class='frontside'>
            <img src='./images/blazon.svg'>
            <h4>«Резерв»</h4>
            <small>Тюмень</small>
          </div>
        </article>
        <article class='lounge'>
          <div class='frontside'>
            <img src='./images/blazon.svg'>
            <h4>«Резерв»</h4>
            <small>Тюмень</small>
          </div>
        </article>
        <article class='lounge'>
          <div class='frontside'>
            <img src='./images/blazon.svg'>
            <h4>«Резерв»</h4>
            <small>Тюмень</small>
          </div>
        </article>
        <article class='lounge'>
          <div class='frontside'>
            <img src='./images/blazon.svg'>
            <h4>«Резерв»</h4>
            <small>Тюмень</small>
          </div>
        </article>
        <article class='lounge'>
          <div class='frontside'>
            <img src='./images/blazon.svg'>
            <h4>«Резерв»</h4>
            <small>Тюмень</small>
          </div>
        </article>
        <article class='lounge'>
          <div class='frontside'>
            <img src='./images/blazon.svg'>
            <h4>«Резерв»</h4>
            <small>Тюмень</small>
          </div>
        </article>
      </section>
    </main>
  </body>
</html>
