<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <script src='./js/jquery-2.1.4.min.js'></script>
    <script src='./js/jquery.gsap.min.js'></script>
    <script src='./js/TweenLite.min.js'></script>
    <script src='./js/TweenMax.min.js'></script>
    <script src='./js/jquery.mask.min.js'></script>
    <script src='./js/underscore-min.js'></script>
    <script src='./js/openapi.js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
    <script src='./js/header.js'></script>
  </head>
  <body id='html_body'>
    <div class='wrapper center-center' id='wrapper_login'>
      <section class='popup' id='login_form'>
        <header>
          <h2>Войти</h2>
          <p class='h2_subtitle'>
            Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
        </header>
        <form action='' method='get'>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_signup'>
      <section class='popup' id='signup_form'>
        <header>
          <h2>Регистрация</h2>
          <p class='h2_subtitle'>Регистрация нового пользователя. Если у вас уже есть аккаунт — войдите.</p>
        </header>
        <form action='' method='get'>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <input name='name' placeholder='ФИО' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button id='open_liberty_btn' name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_menu'>
      <section class='left_menu' id='menu_left_part'>
        <img alt='Unique Hookah Places' height='40px' src='./images/logo.svg'>
        <span>
          <h4>Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...</h4>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        </span>
        <footer>
          <p>Copyright © 2015 Уникальные Кальянные</p>
          <p>
            Создано в
            <img alt='CPD&amp;BBK' height='24px' src='./images/cpdbbk.svg'>
          </p>
        </footer>
      </section>
      <section class='right_menu' id='menu_right_part'>
        <img alt='Закрыть' id='closing' src='./images/cross.svg'>
        <h3>Главная страница</h3>
        <p>Основная информация</p>
        <h3 id='lounges_nav_btn'>Ложи</h3>
        <p>Уникальные заведения</p>
        <h3 id='philosophy_nav_btn'>Философия</h3>
        <p>Наши ценности</p>
        <h3 id='community_nav_btn'>Сообщество</h3>
        <p>Полезно быть своим</p>
        <h3>Франшиза</h3>
        <p>Открыть Ложу</p>
        <button>Войти</button>
      </section>
    </div>
    <div class='color_overlay' id='color_overlay'></div>
    <main id='main_content'>
      <header id='header'>
        <img alt='Уникальные Кальянные' src='./images/logo.svg'>
        <nav>
          <a id='login_header_btn'>Войти</a>
          <a id='signup_header_btn'>Зарегистрироваться</a>
          <div class='menu' data-icon-name='hamburger' id='menu_header_btn'></div>
        </nav>
      </header>
      <section id='philosophie_block1'>
        <img alt='Оригинал один — остальное копии' src='./images/philosophie_h1.svg'>
      </section>
      <section id='philosophie_block2'>
        <blockquote>
          <h4>«Не просто безликая сеть заведений для отдыха и встреч  без июминки»</h4>
          <cite>— Игорь Коновалов</cite>
        </blockquote>
        <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи УК. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.  Пивлекает наша дружелюбная домашняя    атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.</p>
        <button>Прочитать историю</button>
      </section>
      <section id='philosophie_block3'>
        <div class='cont-wrap'>
          <h3>Наши принципы являются фундаментом, основной для работы</h3>
          <br>
          <h4>Каждый клиент для нас уникален. Красота жизни заключается в ее неповторимости и оригинальности.</h4>
          <br>
          <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.</p>
          <br>
          <p>Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи УК. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.  Пивлекает наша дружелюбная домашняя атмосфера. Мы начинали как место только "для своих".</p>
          <br>
          <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Привлекает наша дружелюбная домашняя атмосфера. Мы начинали как место только "для своих".</p>
        </div>
      </section>
      <section id='philosophie_block4'>
        <h3>Кальянный мастер</h3>
        <p>Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.</p>
        <br>
        <h5>Игорь Коновалов</h5>
        <br>
        <h6>Основатель франшизы</h6>
      </section>
      <section id='philosophie_block5'>
        <img alt='Звезда' src='./images/sun.svg'>
        <h2>Ищущий да обретет</h2>
        <h6>Оригинал один - остальное копии</h6>
        <button>Зарегистрироваться</button>
      </section>
    </main>
  </body>
</html>
