<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/slider_style.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <link href='./css/pages_lounges.css' rel='stylesheet'>
    <script src='./js/jquery-2.1.4.min.js'></script>
    <script src='./js/jquery.gsap.min.js'></script>
    <script src='./js/TweenLite.min.js'></script>
    <script src='./js/TweenMax.min.js'></script>
    <script src='./js/jquery.mask.min.js'></script>
    <script src='./js/slider_main.js'></script>
    <script src='./js/underscore-min.js'></script>
    <script src='./js/openapi.js'></script>
    <script src='http://maps.googleapis.com/maps/api/js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
    <script src='./js/lib/d3.js'></script>
    <script src='./js/data.js'></script>
    <script src='./js/nodes.js'></script>
    <script src='./js/animation.js'></script>
    <script src='./js/fx.js'></script>
    <script src='./js/header.js'></script>
    <script src='./js/menu.js'></script>
    <title>Академия</title>
  </head>
  <body id='html_body'>
    <div class='wrapper center-center' id='wrapper_signup'>
      <section class='popup' id='signup_form'>
        <header>
          <h2>Регистрация</h2>
          <p class='h2_subtitle'>
            Регистрация нового пользователя. Если у вас уже есть аккаунт —
            <a href='#login'>войдите.</a>
          </p>
        </header>
        <form action='' autocomplete='off' method='get'>
          <input style='display:none'>
          <input style='display:none' type='password'>
          <input name='phone' placeholder='Телефон +7XXXXXXX' type='text'>
          <input name='name' placeholder='ФИО' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button id='open_liberty_btn' name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_login'>
      <section class='error_tooltip' id='error_password'>
        Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
      </section>
      <section class='popup' id='login_form'>
        <header>
          <h2>Войти</h2>
          <p class='h2_subtitle'>
            Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
        </header>
        <form action='' method='get'>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button class='button-arrow' name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_menu'>
      <section class='left_menu' id='menu_left_part'>
        <img alt='Unique Hookah Places' height='40px' src='./images/logo.svg'>
        <span>
          <h4>Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...</h4>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        </span>
        <footer>
          <p>Copyright © 2015 Уникальные Кальянные</p>
          <p>
            Создано в
            <img alt='CPD&amp;BBK' height='24px' src='./images/cpdbbk.svg'>
          </p>
        </footer>
      </section>
      <section class='right_menu' id='menu_right_part'>
        <img alt='Закрыть' class='pointer' id='closing' src='./images/cross.svg'>
        <a>
          <h3 id='lounges_nav_btn'>Ложи</h3>
          <p>Уникальные заведения</p>
        </a>
        <a>
          <h3 id='philosophy_nav_btn'>Философия</h3>
          <p>Наши ценности</p>
        </a>
        <a>
          <h3 id='community_nav_btn'>Сообщество</h3>
          <p>Полезно быть своим</p>
        </a>
      </section>
    </div>
    <div class='color_overlay' id='color_overlay'></div>
    <main id='main_content'>
      <section id='liberty_block1'>
        <header id='header'>
          <img alt='Уникальные Кальянные' class='pointer' src='./images/logo.svg'>
          <nav>
            <a id='login_header_btn'>Войти</a>
            <a id='signup_header_btn'>Зарегистрироваться</a>
            <div class='menu pointer' data-icon-name='hamburger' id='menu_header_btn'></div>
          </nav>
        </header>
        <hr>
        <header>
          <h1 class='style-academy'>Академия</h1>
          <p>Trahit sua quemque voluptas*</p>
        </header>
        <section class='information_lib'>
          <figure>
            <img alt='Город' height='16px' src='./images/location_gold.svg'>
            <figcapation>Новосибирск, Ядринцевская, 18</figcapation>
          </figure>
          <figure>
            <img alt='Город' height='16px' src='./images/phone.svg'>
            <figcapation>+7 (999) 303-05-03</figcapation>
          </figure>
          <figure>
            <img alt='Город' height='16px' src='./images/clock.svg'>
            <figcapation>
              Ежедневно с 16:00 и до последнего гостя
            </figcapation>
          </figure>
        </section>
        <section class='liberactions'>
          <button class='button-arrow style-academy' id='reserve_table_btn'>Забронировать столик</button>
        </section>
        <footer>
          <p>*Каждого влечет его страсть</p>
        </footer>
        <img class='layer' data-depth='0.40' id='liberty_herb' src='./images/blazons/academy.svg'>
        <img class='gerb_glow_2' src='images/academy/glow.png'>
      </section>
      <section id='liberty_block2'>
        <div class='text-wrapper-liberty'>
          <h4 class='style-academy'>"Академия" - место, где тебя слышат</h4>
          <p>
            Нам интересно не только сделать тебе кальян, а ещё и поделиться частицей себя, если позволишь - узнать тебя как человека, как профессионала своего дела. Ведь каждый человек в нашей жизни - это новые возможности. Не бойся быть открытым и искренним в "Академии".
          </p>
        </div>
      </section>
      <section id='liberty_block3'>
        <section class='cd-hero'>
          <ul class='cd-hero-slider autoplay'>
            <li class='selected'>
              <img class='img-slider' src='./images/academy/slider/1.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/academy/slider/2.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/academy/slider/3.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/academy/slider/4.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/academy/slider/5.jpg'>
            </li>
          </ul>
          <div class='cd-slider-nav'>
            <nav>
              <ul>
                <li class='selected'>
                  <img class='img-nav pointer' src='./images/academy/slider/1.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/academy/slider/2.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/academy/slider/3.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/academy/slider/4.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/academy/slider/5.jpg'>
                </li>
              </ul>
            </nav>
          </div>
        </section>
      </section>
      <section id='liberty_block4'>
        <header>
          <h2 class='style-academy'>Кальянные мастера</h2>
          <p>
            Чем больше свободы в профессии - тем больше каждый человек проецирует себя в неё. Кальянное ремесло - одна из таких профессий. По нашей команде это хорошо видно: кто-то допускает больше творчества и бешеных сочетаний вкуса, кто-то делает проверенные стабильные кальяны. Они одинаково качественны, и ты можешь открыть для себя что-то новое в разные дни работы "Академии".
          </p>
        </header>
        <br>
        <img alt='Кальянщик' height='396px' src='./images/academy/hms/bojestvenni.svg'>
        <img alt='Кальянщик' height='396px' src='./images/academy/hms/poleshuk.svg'>
        <img alt='Кальянщик' height='396px' src='./images/academy/hms/ryabichenko.svg'>
      </section>
      <section id='liberty_block5'>
        <div class='map_overlay'></div>
        <div class='map_wrapper' data-map-lat='55.0330481' data-map-lng='82.9227613'></div>
        <section id='map_wrapper'>
          <header>
            <h3 class='style-academy'>Новосибирск</h3>
            <p>Центральный район</p>
          </header>
          <p>Академия находится напротив Центрального парка, в самом центре Новосибирска. Куда бы ты не направлялся на автомобиле - путь проходит совсем рядом с нами. Может быть, нам пора познакомиться?</p>
          <small>Новосибирск, Ядринцевская, 18</small>
        </section>
      </section>
      <section id='liberty_block6'>
        <header>
          <h2 class='style-academy'>Контакты</h2>
          <h5>По вопросам справки обращайтесь по телефону в рабочее время:</h5>
        </header>
        <h6>Адрес:</h6>
        <p>Новосибирск, Ядринцевская, 18</p>
        <h6>Контактный номер:</h6>
        <p>+7 (999) 303-05-03</p>
        <h6>Рабочие часы:</h6>
        <p>
          Ежедневно с 16:00 и до последнего гостя
        </p>
      </section>
      <section id='philosophie_block5'>
        <h3>Trahit sua quemque voluptas*</h3>
        <h6>*Каждого влечет его страсть</h6>
        <br>
        <button class='button-dark style-academy'>Зарегистрироваться</button>
        <img class='sun_glow_2' src='./images/sun_glow.png'>
        <img class='sun_glow' src='./images/sun_glow.svg'>
        <img class='sun_rotation' src='./images/sun_lines.svg'>
        <img alt='Звезда' src='./images/sun.svg'>
      </section>
    </main>
  </body>
</html>
