<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/media.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <script src='./js/jquery-2.1.4.min.js'></script>
    <script src='./js/jquery.gsap.min.js'></script>
    <script src='./js/TweenLite.min.js'></script>
    <script src='./js/TweenMax.min.js'></script>
    <script src='./js/jquery.mask.min.js'></script>
    <script src='./js/underscore-min.js'></script>
    <script src='./js/openapi.js'></script>
    <script src='./js/lib/d3.min.js'></script>
    <script src='./js/ui.js'></script>
    <script src='./js/card.js'></script>
    <script src='./js/index.js'></script>
    <script src='./js/lib/d3.js'></script>
    <script src='./js/data.js'></script>
    <script src='./js/nodes.js'></script>
    <script src='./js/animation.js'></script>
    <script src='./js/fx.js'></script>
    <script src='./js/lounges.js'></script>
    <script src='./js/header.js'></script>
    <script src='./js/menu.js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
    <title>Уникальные Кальянные</title>
  </head>
  <body data-page='lounges' id='html_body'>
    <div class='wrapper h_v_center'>
      <section class='popup_middle' id='code_form'>
        <header>
          <h2>Подтверждение</h2>
          <p class='h2_subtitle'>
            Мы отправили смс с кодом подтверждения на ваш номер. <br>
            Подтверждая номер, вы вступаете в тайное общество.
          </p>
          <input name='code' placeholder='Код подтверждения' type='text'>
          <button class='button-arrow' name='ok' type='button'>Подтвердить</button>
        </header>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_signup'>
      <section class='popup' id='signup_form'>
        <header>
          <h2>Регистрация</h2>
          <p class='h2_subtitle'>
            Регистрация нового пользователя. Если у вас уже есть аккаунт —
            <a href='#login'>войдите.</a>
          </p>
        </header>
        <form action='' autocomplete='off' method='get'>
          <input style='display:none'>
          <input style='display:none' type='password'>
          <input name='phone' placeholder='Телефон +7XXXXXXX' type='text'>
          <input name='name' placeholder='ФИО' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button class='button-arrow' id='open_liberty_btn' name='sumbit' type='sumbit'>Войти</button>
        </form>
        <p>
          <small>* Пожалуйста, указывайте ваше настоящее Имя и Фамилию, так как при первом посещении любого из заведений будет производится проверка паспорта. </small>
        </p>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_login'>
      <section class='error_tooltip' id='error_password'>
        Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
      </section>
      <section class='popup' id='login_form'>
        <header>
          <h2>Войти</h2>
          <p class='h2_subtitle'>
            Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
        </header>
        <form action='' method='get'>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button class='button-arrow' name='sumbit' type='sumbit'>Войти</button>
        </form>
        <a href='#forgot_pass' id='recover_btn'>Вы забыли пароль?</a>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_pass'>
      <section class='error_tooltip' id='error_password'>
        Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
      </section>
      <section class='popup' id='pass_form'>
        <header>
          <h2>Восстановление пароля</h2>
          <p class='h2_subtitle'>
            Мы отправим вам новый пароль по смс,<br>если у вас еще нет аккаунта -
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <button class='button-arrow' name='ok' type='button'>Отправить</button>
        </header>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_menu'>
      <section class='left_menu' id='menu_left_part'>
        <img alt='Unique Hookah Places' class='pointer' height='40px' id='uhp_logo' src='./images/logo.svg'>
        <span>
          <h4>Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...</h4>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        </span>
        <footer>
          <p>Copyright © 2015 Уникальные Кальянные</p>
          <p>
            Создано в
            <img alt='CPD&amp;BBK' height='24px' src='./images/cpdbbk.svg'>
          </p>
        </footer>
      </section>
      <section class='right_menu' id='menu_right_part'>
        <img alt='Закрыть' class='pointer' id='closing' src='./images/cross.svg'>
        <a>
          <h3 id='lounges_nav_btn'>Ложи</h3>
          <p>Уникальные заведения</p>
        </a>
        <a>
          <h3 id='philosophy_nav_btn'>Философия</h3>
          <p>Наши ценности</p>
        </a>
        <a>
          <h3 id='community_nav_btn'>Сообщество</h3>
          <p>Полезно быть своим</p>
        </a>
      </section>
    </div>
    <div class='color_overlay' id='color_overlay'></div>
    <main id='main_content'>
      <section class='section_1_bg'>
        <header id='header'>
          <img alt='Уникальные Кальянные' class='pointer' src='./images/logo.svg'>
          <nav>
            <a id='login_header_btn'>Войти</a>
            <a id='signup_header_btn'>Зарегистрироваться</a>
            <div class='menu pointer' data-icon-name='hamburger' id='menu_header_btn'></div>
          </nav>
        </header>
        <header>
          <h1>Посетите наши уникальные заведения</h1>
          <p class='h2_subtitle'>Заведения нашей сети - первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому клиенту.</p>
          <button class='button-arrow' id='liberty_btn'>Открыть</button>
        </header>
        <section class='instruments'>
        </section>
        <hr>
      </section>
      <section class='lounges'>
      </section>
    </main>
  </body>
</html>
