<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/slider_style.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <link href='./css/pages_lounges.css' rel='stylesheet'>
    <script src='./js/jquery-2.1.4.min.js'></script>
    <script src='./js/jquery.gsap.min.js'></script>
    <script src='./js/TweenLite.min.js'></script>
    <script src='./js/TweenMax.min.js'></script>
    <script src='./js/jquery.mask.min.js'></script>
    <script src='./js/slider_main.js'></script>
    <script src='./js/underscore-min.js'></script>
    <script src='./js/openapi.js'></script>
    <script src='http://maps.googleapis.com/maps/api/js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
    <script src='./js/lib/d3.js'></script>
    <script src='./js/data.js'></script>
    <script src='./js/nodes.js'></script>
    <script src='./js/animation.js'></script>
    <script src='./js/fx.js'></script>
    <script src='./js/header.js'></script>
    <script src='./js/menu.js'></script>
  </head>
  <body id='html_body'>
    <div class='wrapper center-center' id='wrapper_signup'>
      <section class='popup' id='signup_form'>
        <header>
          <h2>Регистрация</h2>
          <p class='h2_subtitle'>
            Регистрация нового пользователя. Если у вас уже есть аккаунт —
            <a href='#login'>войдите.</a>
          </p>
        </header>
        <form action='' autocomplete='off' method='get'>
          <input style='display:none'>
          <input style='display:none' type='password'>
          <input name='phone' placeholder='Телефон +7XXXXXXX' type='text'>
          <input name='name' placeholder='ФИО' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button id='open_liberty_btn' name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_login'>
      <section class='error_tooltip' id='error_password'>
        Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
      </section>
      <section class='popup' id='login_form'>
        <header>
          <h2>Войти</h2>
          <p class='h2_subtitle'>
            Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
        </header>
        <form action='' method='get'>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_menu'>
      <section class='left_menu' id='menu_left_part'>
        <img alt='Unique Hookah Places' height='40px' src='./images/logo.svg'>
        <span>
          <h4>Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...</h4>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        </span>
        <footer>
          <p>Copyright © 2015 Уникальные Кальянные</p>
          <p>
            Создано в
            <img alt='CPD&amp;BBK' height='24px' src='./images/cpdbbk.svg'>
          </p>
        </footer>
      </section>
      <section class='right_menu' id='menu_right_part'>
        <img alt='Закрыть' class='pointer' id='closing' src='./images/cross.svg'>
        <a>
          <h3 id='lounges_nav_btn'>Ложи</h3>
          <p>Уникальные заведения</p>
        </a>
        <a>
          <h3 id='philosophy_nav_btn'>Философия</h3>
          <p>Наши ценности</p>
        </a>
        <a>
          <h3 id='community_nav_btn'>Сообщество</h3>
          <p>Полезно быть своим</p>
        </a>
        <a>
          <h3>Франшиза</h3>
          <p>Открыть Ложу</p>
        </a>
        <button>Круг избранных</button>
      </section>
    </div>
    <div class='color_overlay' id='color_overlay'></div>
    <main id='main_content'>
      <section id='liberty_block1'>
        <header id='header'>
          <img alt='Уникальные Кальянные' class='pointer' src='./images/logo.svg'>
          <nav>
            <a id='login_header_btn'>Войти</a>
            <a id='signup_header_btn'>Зарегистрироваться</a>
            <div class='menu pointer' data-icon-name='hamburger' id='menu_header_btn'></div>
          </nav>
        </header>
        <hr>
        <header>
          <h1 class='style-unityhall'>Unity Hall</h1>
          <p>Miserere domine, stultus sum*</p>
        </header>
        <section class='information_lib'>
          <figure>
            <img alt='Город' height='16px' src='./images/location_gold.svg'>
            <figcapation>Казань, Бутлерова 21</figcapation>
          </figure>
          <figure>
            <img alt='Город' height='16px' src='./images/phone.svg'>
            <figcapation>+79053771850</figcapation>
          </figure>
          <figure>
            <img alt='Город' height='16px' src='./images/clock.svg'>
            <figcapation>
              Пн.-Чт. 14:00-02:00
              <br>
              Пт.-Сб. 14:00-04:00
              Вс. 14:00-02:00
            </figcapation>
          </figure>
        </section>
        <section class='liberactions'>
          <button class='style-unityhall' id='reserve_table_btn'>Забронировать столик</button>
        </section>
        <footer>
          <p>*Ничто не истинно, Все дозволено</p>
        </footer>
        <img class='layer' data-depth='0.40' id='liberty_herb' src='./images/blazons/unityhall.svg'>
        <img class='gerb_glow_2' src='images/unityhall/glow.png'>
      </section>
      <section id='liberty_block2'>
        <div class='text-wrapper-liberty'>
          <h4>Unity Hall</h4>
          <p>
            "Зал Единства", главный штаб Уникальных Кальянных в Казани.
            <br>
            Место с особым дизайном и полноценной сценой, на которой происходят всевозможные события, от музыкальных мероприятий и спектаклей, до профессиональных презентаций
            <br>
            Кальянная площадка, где стильный интерьер пересекается с высочайшим качеством сервиса и необычной подачей, будь то кальян, десерт или коктейль.
          </p>
        </div>
      </section>
      <section id='liberty_block3'>
        <section class='cd-hero'>
          <ul class='cd-hero-slider autoplay'>
            <li class='selected'>
              <img class='img-slider' src='./images/unityhall/slider/1.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/unityhall/slider/2.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/unityhall/slider/3.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/unityhall/slider/4.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/unityhall/slider/5.jpg'>
            </li>
          </ul>
          <div class='cd-slider-nav'>
            <nav>
              <ul>
                <li class='selected'>
                  <img class='img-nav pointer' src='./images/unityhall/slider/1.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/unityhall/slider/2.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/unityhall/slider/3.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/unityhall/slider/4.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/unityhall/slider/5.jpg'>
                </li>
              </ul>
            </nav>
          </div>
        </section>
      </section>
      <section id='liberty_block4'>
        <header>
          <h2 class='style-unityhall'>Кальянные мастера</h2>
          <p>Команда "Unity Hall" формировалась по принципу всестороннего развития коллектива. Каждое звено нашего братства поддерживает слабые и дополняет сильные стороны другого звена. Вместе это образует единый механизм, систему, способную выдержать высокий уровень сервиса и, при этом, каждый бармен, администратор или кальянный мастер является личностью и профессионалом, способным поддержать диалог в своей сфере интересов.</p>
        </header>
        <br>
        <img alt='Кальянщик' height='396px' src='./images/unityhall/hms/belancheva.svg'>
        <img alt='Кальянщик' height='396px' src='./images/unityhall/hms/chernov.svg'>
        <img alt='Кальянщик' height='396px' src='./images/unityhall/hms/efrem.svg'>
        <img alt='Кальянщик' height='396px' src='./images/unityhall/hms/gabdulhakov.svg'>
        <img alt='Кальянщик' height='396px' src='./images/unityhall/hms/seifulin.svg'>
        <img alt='Кальянщик' height='396px' src='./images/unityhall/hms/sokolov.svg'>
        <img alt='Кальянщик' height='396px' src='./images/unityhall/hms/valeev.svg'>
      </section>
      <section id='liberty_block5'>
        <div class='map_overlay'></div>
        <div class='map_wrapper'>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.3041163349435!2d49.12802931560311!3d55.78795698056282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead0e0f1bf763%3A0x15b9b07f38999c07!2z0YPQuy4g0JHRg9GC0LvQtdGA0L7QstCwLCAyMSwg0JrQsNC30LDQvdGMLCDQoNC10YHQvy4g0KLQsNGC0LDRgNGB0YLQsNC9LCA0MjAwMTI!5e0!3m2!1sru!2sru!4v1449576018940" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <section id='map_wrapper'>
          <header>
            <h3 class='style-unityhall'>Казань</h3>
            <p>Вахитовский район</p>
          </header>
          <p>Неподалеку от берега Волги в городе Казань расположилась Уникальная Кальянная “Зал Единства”.</p>
          <small>Россия, Казань, Бутлерова 21</small>
        </section>
      </section>
      <section id='liberty_block6'>
        <header>
          <h2 class='style-unityhall'>Контакты</h2>
          <h5>По вопросам справки обращайтесь по телефону в рабочее время:</h5>
        </header>
        <h6>Адрес:</h6>
        <p>Казань, Бутлерова 21</p>
        <h6>Контактный номер:</h6>
        <p>+79053771850</p>
        <h6>Рабочие часы:</h6>
        <p>
          Пн.-Чт. 14:00-02:00
          <br>
          Пт.-Сб. 14:00-04:00
          Вс. 14:00-02:00
        </p>
      </section>
      <section id='philosophie_block5'>
        <h3>Miserere domine, stultus sum*</h3>
        <h6>*Ничто не истинно, Все дозволено</h6>
        <br>
        <button class='button-dark style-unityhall'>Зарегистрироваться</button>
        <img class='sun_glow_2' src='./images/sun_glow.png'>
        <img class='sun_glow' src='./images/sun_glow.svg'>
        <img class='sun_rotation' src='./images/sun_lines.svg'>
        <img alt='Звезда' src='./images/sun.svg'>
      </section>
    </main>
  </body>
</html>
