<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <script src='./js/jquery-2.1.4.min.js'></script>
    <script src='./js/jquery.gsap.min.js'></script>
    <script src='./js/TweenLite.min.js'></script>
    <script src='./js/TweenMax.min.js'></script>
    <script src='./js/jquery.mask.min.js'></script>
    <script src='./js/slider_main.js'></script>
    <script src='./js/underscore-min.js'></script>
    <script src='./js/openapi.js'></script>
    <script src='http://maps.googleapis.com/maps/api/js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
    <script src='./js/lib/d3.js'></script>
    <script src='./js/data.js'></script>
    <script src='./js/nodes.js'></script>
    <script src='./js/header.js'></script>
  </head>
  <body data-page='philosophy' id='html_body'>
    <main id='main_content'>
      <section id='philosophie_block1'>
        <header id='header'>
          <img alt='Уникальные Кальянные' class='pointer' src='./images/logo.svg'>
          <nav>
            <a id='login_header_btn'>Войти</a>
            <a id='signup_header_btn'>Зарегистрироваться</a>
            <div class='menu pointer' data-icon-name='hamburger' id='menu_header_btn'></div>
          </nav>
          <hr>
        </header>
        <img alt='Оригинал один — остальное копии' src='./images/philosophie_h1.svg'>
      </section>
      <section id='philosophie_block2'>
        <blockquote>
          <h4>«Не просто безликая сеть заведений для отдыха и встреч  без изюминки»</h4>
          <cite>— Игорь Коновалов</cite>
        </blockquote>
        <p>Рождение идеи “Уникальных Кальянных” состоялось осенью 2012 года. Именно тогда основатель сети Игорь Коновалов решил раздвинуть рамки привычного и создать заведение в принципиально новом формате. Довольно быстро нашлись единомышленники и инвесторы, было снято и подготовлено помещение. Так 8 ноября 2012 года появилась первая кальянная “Либерти”.</p>
        <button class='button-dark'>Прочитать историю</button>
      </section>
      <section id='philosophie_block3'>
        <header>
          <h2>Наши принципы являются фундаментом,<br>основной для работы</h2>
          <h4>Каждый клиент для нас уникален. Красота жизни заключается<br>в ее неповторимости и оригинальности.</h4>
        </header>
        <figure class='principle'>
          <img src='./images/philosophie_f_1.svg'>
          <figcapation>
            <h5>ЛОЯЛЬНОСТЬ</h5>
            <p>Сложно представить себе тёплые и долгосрочные отношения двух сторон без лояльности по отношению друг к другу. Мы ориентированы именно на такой тип отношений и лояльность всегда будет вознаграждена в наших стенах.</p>
          </figcapation>
        </figure>
        <figure class='principle'>
          <img src='./images/philosophie_f_2.svg'>
          <figcapation>
            <h5>ОТКРЫТОСТЬ В ОБЩЕНИИ</h5>
            <p>Конечная цель Уникальных Кальянных состоит не в заработке, а в том, чтобы создать вокруг себя сообщество близких по духу людей, готовых делиться опытом, работать, общаться и просто отдыхать вместе.</p>
          </figcapation>
        </figure>
        <figure class='principle'>
          <img src='./images/philosophie_f_3.svg'>
          <figcapation>
            <h5>ПРОФЕССИОНАЛИЗМ</h5>
            <p>Мы ценим профессионализм во всех его проявлениях. Данное требование предъявляется ко всем заведениям и сотрудникам сети. Кроме того, Уникальные Кальянные всегда особенно рады принимать у себя профессионалов своего дела.</p>
          </figcapation>
        </figure>
        <br>
        <figure class='principle'>
          <img src='./images/philosophie_f_4.svg'>
          <figcapation>
            <h5>ЖЕЛАНИЕ РАЗВИВАТЬСЯ</h5>
            <p>Отсутствие развития - это стагнация, но при условии того, что мир движется вперёд, стагнация превращается в деградацию. Мы считаем, что постоянное развитие и оптимизация должны являться непременным атрибутом любого дела.</p>
          </figcapation>
        </figure>
        <figure class='principle'>
          <img src='./images/philosophie_f_5.svg'>
          <figcapation>
            <h5>ЧЕСТНОСТЬ</h5>
            <p>Уникальные Кальянные дорожат своей репутацией, краеугольным камнем которой является честность. Никакая выгода не в силах заставить нас обманывать клиента или принимать у себя людей, потерявших лицо.</p>
          </figcapation>
        </figure>
        <figure class='principle'>
          <img src='./images/philosophie_f_6.svg'>
          <figcapation>
            <h5>ИННОВАЦИИ</h5>
            <p>Сосредоточившись исключительно на развитии существующего можно легко забыть об инновациях. Мы всегда будем радовать вас нововведениями, но их интеграция будет происходить без ущерба для комфорта и традиционных ценностей.</p>
          </figcapation>
        </figure>
      </section>
      <section id='philosophie_block4'>
        <section class='wrapper_konovalov'>
          <h3>Кальянный мастер</h3>
          <p>Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.</p>
          <h5>Игорь Коновалов</h5>
          <h6>Основатель франшизы</h6>
        </section>
      </section>
      <section id='philosophie_block5'>
        <h3>Omnis qui quaerit invenit</h3>
        <h6>*Всякий ищущий находит</h6>
        <br>
        <button class='button-dark'>Зарегистрироваться</button>
        <img class='sun_glow_2' src='./images/sun_glow.png'>
        <img class='sun_glow' src='./images/sun_glow.svg'>
        <img class='sun_rotation' src='./images/sun_lines.svg'>
        <img alt='Звезда' src='./images/sun.svg'>
      </section>
    </main>
  </body>
</html>
