<html lang='ru'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <link href='./css/pages_lounges_liberty.css' rel='stylesheet'>
    <script src='./js/lib/jquery-2.1.4.min.js'></script>
    <script src='./js/lib/jquery.gsap.min.js'></script>
    <script src='./js/lib/TweenLite.min.js'></script>
    <script src='./js/lib/TweenMax.min.js'></script>
    <script src='./js/lib/jquery.mask.min.js'></script>
    <script src='./js/lib/d3.min.js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
    <script src='./js/lib/underscore-min.js'></script>
    <script src='./js/lib/moment-with-locales.js'></script>
    <script src='./js/lib/moment-duration-format.js'></script>
    <script src='./js/lib/pikaday.js'></script>
    <script src='./js/lib/openapi.js'></script>
    <script src='./js/lib/snap.svg-min.js'></script>
    <script src='./js/lib/svgicons-config.js'></script>
    <script src='./js/lib/svgicons.js'></script>
    <script src='./js/data.js'></script>
    <script src='./js/nodes.js'></script>
    <script src='./js/animation.js'></script>
    <script src='./js/fx.js'></script>
    <script src='./js/header.js'></script>
    <script src='./js/menu.js'></script>
    <script src='./js/page_lounges.js'></script>
    <script src='./js/map.js'></script>
    <title>Либерти</title>
  </head>
  <body id='html_body'>
    <div class='wrapper h_v_center'>
      <section class='popup_middle' id='code_form'>
        <header>
          <h2>Подтверждение</h2>
          <p class='h2_subtitle'>
            Мы отправили смс с кодом подтверждения на ваш номер. <br>
            Подтверждая номер, вы вступаете в тайное общество.
          </p>
          <input name='code' placeholder='Код подтверждения' type='text'>
          <button class='button-arrow' name='ok' type='button'>Подтвердить</button>
        </header>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_signup'>
      <section class='popup' id='signup_form'>
        <header>
          <h2>Регистрация</h2>
          <p class='h2_subtitle'>
            Регистрация нового пользователя. Если у вас уже есть аккаунт —
            <a href='#login'>войдите.</a>
          </p>
        </header>
        <form action='' autocomplete='off' method='get'>
          <input style='display:none'>
          <input style='display:none' type='password'>
          <input name='phone' placeholder='Телефон +7XXXXXXX' type='text'>
          <input name='name' placeholder='ФИО' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button class='button-arrow' id='open_liberty_btn' name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_login'>
      <section class='error_tooltip' id='error_password'>
        Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
      </section>
      <section class='popup' id='login_form'>
        <header>
          <h2>Войти</h2>
          <p class='h2_subtitle'>
            Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
        </header>
        <form action='' method='get'>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button class='button-arrow' name='sumbit' type='sumbit'>Войти</button>
        </form>
        <a href='#forgot_pass' id='recover_btn'>Вы забыли пароль?</a>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_pass'>
      <section class='error_tooltip' id='error_password'>
        Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
      </section>
      <section class='popup' id='pass_form'>
        <header>
          <h2>Восстановление пароля</h2>
          <p class='h2_subtitle'>
            Мы отправим вам новый пароль по смс,<br>если у вас еще нет аккаунта -
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <button class='button-arrow' name='ok' type='button'>Отправить</button>
        </header>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_menu'>
      <section class='left_menu' id='menu_left_part'>
        <img alt='Unique Hookah Places' class='pointer' height='40px' id='uhp_logo' src='./images/logo.svg'>
        <span>
          <h4>Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...</h4>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          <h5>Она задала нам неожиданный вопрос</h5>
          <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        </span>
        <footer>
          <p>Copyright © 2015 Уникальные Кальянные</p>
          <p>
            Создано в
            <img alt='CPD&amp;BBK' height='24px' src='./images/cpdbbk.svg'>
          </p>
        </footer>
      </section>
      <section class='right_menu' id='menu_right_part'>
        <img alt='Закрыть' class='pointer' id='closing' src='./images/cross.svg'>
        <a>
          <h3 id='lounges_nav_btn'>Ложи</h3>
          <p>Уникальные заведения</p>
        </a>
        <a>
          <h3 id='philosophy_nav_btn'>Философия</h3>
          <p>Наши ценности</p>
        </a>
        <a>
          <h3 id='community_nav_btn'>Сообщество</h3>
          <p>Полезно быть своим</p>
        </a>
        <button class='button-arrow' id='go_login_from_menu_btn'>Круг избранных</button>
      </section>
    </div>
    <div id='wrapper_hm_popup'>
      <section class='hm_popup' id='popup_hm_1'>
        <img class='cross_white_popup pointer' src='./images/cross_black.svg'>
        <header>
          <h2>Илья Пономарев</h2>
          <p>«Либерти»</p>
        </header>
        <section>
          <p>Сдержан. Обладает тонким чувством стиля во всем: подача, манеры, внешний вид. В этом человеке всегда присутствуют 2 личности, и за этим симбиозом следить очень интересно.</p>
        </section>
      </section>
      <section class='hm_popup' id='popup_hm_2'>
        <img class='cross_white_popup pointer' src='./images/cross_black.svg'>
        <header>
          <h2>Филипп Бойцов</h2>
          <p>«Либерти»</p>
        </header>
        <section>
          <p>Сдержан. Обладает тонким чувством стиля во всем: подача, манеры, внешний вид. В этом человеке всегда присутствуют 2 личности, и за этим симбиозом следить очень интересно.</p>
        </section>
      </section>
      <section class='hm_popup' id='popup_hm_3'>
        <img class='cross_white_popup pointer' src='./images/cross_black.svg'>
        <header>
          <h2>Игорь Коновалов</h2>
          <p>«Либерти»</p>
        </header>
        <section>
          <p>Сдержан. Обладает тонким чувством стиля во всем: подача, манеры, внешний вид. В этом человеке всегда присутствуют 2 личности, и за этим симбиозом следить очень интересно.</p>
        </section>
      </section>
    </div>
    <div class='color_overlay' id='color_overlay'></div>
    <header class='pages_lounges_header' id='header'>
      <img alt='Уникальные Кальянные' class='pointer' id='menu_header_logo' src='./images/liberty/logo.svg'>
      <nav>
        <a class='logged_out' id='login_header_btn'>Войти</a>
        <a class='logged_out' id='signup_header_btn'>Зарегистрироваться</a>
        <a class='logged_in' href='/dashboard_client.html'>Мой профиль</a>
        <a class='logged_in' id='logout_btn'>Выйти</a>
        <img alt='Меню' class='pointer' id='menu_header_btn' src='./images/liberty/menu.svg'>
      </nav>
    </header>
    <main id='main_content'>
      <section class='lounges_block_1'>
        <section class='content'>
          <header>
            <h1>Либерти</h1>
            <p>Sed et ceteri codices originale sit unum*</p>
          </header>
          <section class='information'>
            <figure>
              <img alt='Город' height='16px' src='./images/liberty/location.svg'>
              <figcapation>Санкт-Петербург,<br>улица Маяковского 27</figcapation>
            </figure>
            <figure>
              <img alt='Город' height='16px' src='./images/liberty/phone.svg'>
              <figcapation>+7 (812) 777-38-08</figcapation>
            </figure>
            <figure>
              <img alt='Город' height='16px' src='./images/liberty/clock.svg'>
              <figcapation>
                Пн - Пт: с 17:00 до последнего гостя
                <br>
                Сб - Вс: с 16:00 до последнего гостя
              </figcapation>
            </figure>
          </section>
          <section class='actions'>
            <button class='button-arrow btn_arrow' id='reserve_table_btn'>Забронировать столик</button>
          </section>
        </section>
        <section class='blazon'>
          <img class='blazon' src='./images/liberty/blazon.svg'>
          <div class='blazon_glow'></div>
          <div class='blazon_glow_2'></div>
        </section>
        <footer>
          <p>*Оригинал один - остальное копии.</p>
        </footer>
      </section>
      <section class='lounges_block_2'>
        <div class='text-wrapper-liberty'>
          <h4>Первая в мире территория для курения со свободной оплатой и уникальным подходом к каждому гостю</h4>
          <p>Почему же Вам стоит выбрать именно эту кальянную Петербурга? Всех привлекает наша особенная атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.</p>
        </div>
      </section>
      <section class='lounges_block_3'>
        <section class='cd-hero'>
          <ul class='cd-hero-slider autoplay'>
            <li class='selected'>
              <img class='img-slider' src='./images/liberty/slider/1.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/liberty/slider/2.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/liberty/slider/3.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/liberty/slider/4.jpg'>
            </li>
            <li>
              <img class='img-slider' src='./images/liberty/slider/5.jpg'>
            </li>
          </ul>
          <div class='cd-slider-nav'>
            <nav>
              <ul>
                <li class='selected'>
                  <img class='img-nav pointer' src='./images/liberty/slider/1.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/liberty/slider/2.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/liberty/slider/3.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/liberty/slider/4.jpg'>
                </li>
                <li>
                  <img class='img-nav pointer' src='./images/liberty/slider/5.jpg'>
                </li>
              </ul>
            </nav>
          </div>
        </section>
      </section>
      <section class='lounges_block_4'>
        <header>
          <h2>Кальянные мастера</h2>
          <p>Уникальная Кальянная «Резерв»</p>
          <p>В Уникальных Кальянных работают только профессионалы своего дела. Наши кальянные мастера подходят к смешиванию табака и созданию вкуса как к тонкому искусству. Вы всегда сможете положиться на них в вопросах качества.альным подходом к уже обыденным вещам.</p>
        </header>
        <div class='wrapper_hm_cards'>
          <figure class='pointer' id='btn_hm_1'>
            <div class='wrapper_hm_photo'>
              <div class='glow_html'></div>
              <div class='hm_photo'>
                <img src='./images/liberty/hm_photo_placeholder.svg'>
              </div>
              <img class='hm_lights' src='./images/liberty/hm_photo_lights.svg'>
            </div>
            <figcapation class='wrapper_hm_name'>
              <h2>Илья Пономарев</h2>
              <p>«Либерти»</p>
            </figcapation>
            <button class='button_round'>Посмотреть</button>
            <div class='wrapper_storke_corner'>
              <div class='hm_stroke_1'></div>
              <div class='hm_stroke_2'></div>
            </div>
          </figure>
          <figure class='pointer' id='btn_hm_2'>
            <div class='wrapper_hm_photo'>
              <div class='glow_html'></div>
              <div class='hm_photo'>
                <img src='./images/liberty/hm_photo_placeholder.svg'>
              </div>
              <img class='hm_lights' src='./images/liberty/hm_photo_lights.svg'>
            </div>
            <figcapation class='wrapper_hm_name'>
              <h2>Филипп Бойцов</h2>
              <p>«Либерти»</p>
            </figcapation>
            <button class='button_round'>Посмотреть</button>
            <div class='wrapper_storke_corner'>
              <div class='hm_stroke_1'></div>
              <div class='hm_stroke_2'></div>
            </div>
          </figure>
          <figure class='pointer' id='btn_hm_3'>
            <div class='wrapper_hm_photo'>
              <div class='glow_html'></div>
              <div class='hm_photo'>
                <img src='./images/liberty/hm_photo_placeholder.svg'>
              </div>
              <img class='hm_lights' src='./images/liberty/hm_photo_lights.svg'>
            </div>
            <figcapation class='wrapper_hm_name'>
              <h2>Игорь Коновалов</h2>
              <p>«Либерти»</p>
            </figcapation>
            <button class='button_round'>Посмотреть</button>
            <div class='wrapper_storke_corner'>
              <div class='hm_stroke_1'></div>
              <div class='hm_stroke_2'></div>
            </div>
          </figure>
        </div>
      </section>
      <section class='lounges_block_5'>
        <section id='map_wrapper'>
          <header>
            <h3>Санкт-Петербург</h3>
            <p>Центральный район</p>
          </header>
          <p>Уникальная Кальянная “Либерти” расположена в историческом центре Санкт-Петербурга, практически в самом сердце города.</p>
          <p>
            <img src='./images/liberty/location.svg'>
            <small>Россия, Санкт-Петербург, улица Маяковского 27</small>
          </p>
        </section>
        <div class='map_overlay'></div>
        <div class='map_wrapper' data-map-lat='59.9404797' data-map-lng='30.3540543'></div>
      </section>
      <section class='lounges_block_6'>
        <header>
          <h2>Контакты</h2>
          <h5>По вопросам справки обращайтесь по телефону в рабочее время:</h5>
        </header>
        <h6>Адрес:</h6>
        <p>Санкт-Петербург, улица Маяковского 27</p>
        <h6>Контактный номер:</h6>
        <p>+7 (812) 777-38-08</p>
        <h6>Рабочие часы:</h6>
        <p>
          Пн - Пт: с 17:00 до последнего гостя
          <br>
          Сб - Вс: с 16:00 до последнего гостя
        </p>
        <h6>Социальные сети</h6>
        <p>
          <a ref='http://vk.com/libertyfamily'>Группа Вконтакте</a>
        </p>
      </section>
      <section class='lounges_block_7'>
        <div class='wrapper_sun'>
          <img alt='Звезда' class='sun' src='./images/liberty/sun.svg'>
          <img class='sun_rotation' src='./images/liberty/sun_lines.svg'>
          <div class='sun_glow'></div>
          <div class='sun_glow_2'></div>
        </div>
        <div class='wrapper_sun_text'>
          <h3>Omnis qui quaerit invenit*</h3>
          <h6>*Всякий ищущий находит</h6>
          <br>
          <button class='button-arrow btn_arrow'>Зарегистрироваться</button>
        </div>
      </section>
    </main>
    <script src='./js/bottom.js'></script>
  </body>
</html>
