<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <script src='./js/jquery-2.1.4.min.js'></script>
    <script src='./js/jquery.gsap.min.js'></script>
    <script src='./js/TweenLite.min.js'></script>
    <script src='./js/TweenMax.min.js'></script>
    <script src='./js/openapi.js'></script>
    <script src='./js/underscore-min.js'></script>
    <script src='./js/jquery.mask.min.js'></script>
  </head>
  <body id='html_body'>
    <main>
      <header id='header'>
        <img alt='Уникальные Кальянные' src='./images/logo.svg'>
        <nav>
          <a id='login_header_btn'>Войти</a>
          <a id='signup_header_btn'>Зарегистрироваться</a>
          <img alt='Меню' class='menu' id='menu_header_btn' src='./images/menu.svg'>
        </nav>
      </header>
      <section id='community_block1'>
        <img alt='Полезно быть своим' src='./images/community_h1.svg'>
      </section>
      <section id='community_block2'>
        <h2>
          Самая лучшая сеть
          <br>
          кальянных и только для вас
        </h2>
        <br>
        <h3>Каждый клиент для нас уникален. Красота жизни заключается в ее неповторимости.</h3>
        <br>
        <section class='game_feature'>
          <img alt='Нетворкинг' src='./images/game_feature_1.svg'>
          <h4>Нетворкинг</h4>
          <p>Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.</p>
        </section>
        <section class='game_feature'>
          <img alt='Система лояльности' src='./images/game_feature_2.svg'>
          <h4>Система лояльности</h4>
          <p>Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.</p>
        </section>
        <section class='game_feature'>
          <img alt='Неповторимый опыт' src='./images/game_feature_3.svg'>
          <h4>Неповторимый опыт</h4>
          <p>Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.</p>
        </section>
      </section>
      <section id='community_block3'>
        <h3>Каждый клиент для нас уникален. Красота жизни заключается в неповторимой оригинальности</h3>
        <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи.</p>
        <br>
        <img alt='Полезные бонусы' src='./images/game_skillset.svg'>
        <video autobuffer='true' autoplay='true' controls='false' id='dust' loop='true' src='../video/vid.mp4'></video>
        <div id='cb3grad'></div>
        <div id='cb3grad2'></div>
        <video autobuffer='true' autoplay='true' controls='false' id='cb3smoke' loop='true' src='../video/vid2.mp4'></video>
      </section>
      <section id='community_block4'>
        <h2>Назначить встречу</h2>
        <br>
        <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи.</p>
      </section>
      <section id='community_block5'>
        <div class='round'>
          <img alt='Коммуникация' src='./images/messages.svg'>
        </div>
        <br>
        <h3>Общение — это важно</h3>
        <br>
        <p>Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю.</p>
        <br>
        <p>Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.</p>
        <br>
        <p>Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.</p>
        <br>
        <button>Прочитать историю</button>
      </section>
      <section id='community_block6'></section>
    </main>
  </body>
</html>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js' type='text/javascript'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js' type='text/javascript'></script>
<script src='../js/ui.js'></script>
<script src='../js/card.js'></script>
<script src='../js/lib/d3.js'></script>
