<!DOCTYPE html>
<html lang='ru'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <meta charset='UTF-8'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
    <meta content='width=1024' name='viewport'>
    <link href='./images/favicon.png' rel='shortcut icon' type='image/pngs'>
    <script src='./js/lib/vendor.js'></script>
    <script src='http://maps.googleapis.com/maps/api/js'></script>
    <script src='./js/animation.js'></script>
    <script src='./js/fx.js'></script>
    <script src='./js/header_view.js'></script>
    <script src='./js/menu_view.js'></script>
    <script src='./js/map_view.js'></script>
    <script src='./js/slider_main_view.js'></script>
    <script src='./js/lounge.js'></script>
    <title></title>
    <style id='hovers_inline'></style>
  </head>
  <body id='html_body'></body>
  <script id='hmaster_popup_tpl' type='text/template'>
    <section class='hm_popup' id='popup_hm_{{ id }}'>
      <img class='cross_white_popup pointer' src='./images/cross_black.svg'>
      <header>
        <h2 style='color: {{ color }};'>{{ name }}</h2>
        <p>«{{ lounge }}»</p>
      </header>
      <section>
        <p>{{ description }}</p>
      </section>
    </section>
  </script>
  <script id='hmaster_tpl' type='text/template'>
    <figure class='pointer' data-id='{{ id }}'>
      <div class='wrapper_hm_photo'>
        <div class='glow_html'></div>
        <div class='hm_photo'>
          <img src='{{ avatar }}'>
        </div>
        <img class='hm_lights' src='./images/{{ lounge_slug }}/hm_photo_lights.svg'>
      </div>
      <figcapation class='wrapper_hm_name'>
        <h2>{{ name }}</h2>
        <p>«{{ lounge }}»</p>
      </figcapation>
      <button class='button_round'>Посмотреть</button>
      <div class='wrapper_storke_corner'>
        <div class='hm_stroke_1'></div>
        <div class='hm_stroke_2'></div>
      </div>
    </figure>
  </script>
  <script id='page_tpl' type='text/template'>
    <div class='wrapper h_v_center'>
      <section class='popup_middle' id='code_form'>
        <header>
          <h2>Подтверждение</h2>
          <p class='h2_subtitle'>
            Мы отправили смс с кодом подтверждения на ваш номер. <br>
            Подтверждая номер, вы вступаете в тайное общество.
          </p>
          <input name='code' placeholder='Код подтверждения' type='text'>
          <button class='button-arrow' name='ok' type='button'>Подтвердить</button>
        </header>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_signup'>
      <section class='popup' id='signup_form'>
        <header>
          <h2>Регистрация</h2>
          <p class='h2_subtitle'>
            Пожалуйста, указывайте ваше настоящее имя и фамилию, так как при первом посещении любого из заведений<br>будет производится проверка паспорта. Если у вас уже есть аккаунт —
            <a href='#login'>войдите.</a>
          </p>
        </header>
        <form action='' autocomplete='off' method='get'>
          <input style='display:none'>
          <input style='display:none' type='password'>
          <input name='phone' placeholder='Телефон +7XXXXXXX' type='text'>
          <input name='name' placeholder='ФИО' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button class='button-arrow' id='open_liberty_btn' name='sumbit' type='sumbit'>Войти</button>
        </form>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_login'>
      <section class='error_tooltip' id='error_password'>
        Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
      </section>
      <section class='popup' id='login_form'>
        <header>
          <h2>Войти</h2>
          <p class='h2_subtitle'>
            Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
        </header>
        <form action='' method='get'>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <input name='password' placeholder='Пароль' type='password'>
          <button class='button-arrow' name='sumbit' type='sumbit'>Войти</button>
        </form>
        <a href='#forgot_pass' id='recover_btn'>Вы забыли пароль?</a>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_pass'>
      <section class='error_tooltip' id='error_password'>
        Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
      </section>
      <section class='popup' id='pass_form'>
        <header>
          <h2>Восстановление пароля</h2>
          <p class='h2_subtitle'>
            Мы отправим вам новый пароль по смс,<br>если у вас еще нет аккаунта -
            <a href='#registration'>зарегистрируйтесь.</a>
          </p>
          <input name='phone' placeholder='Номер телефона' type='text'>
          <button class='button-arrow' name='ok' type='button'>Отправить</button>
        </header>
      </section>
    </div>
    <div class='wrapper center-center' id='wrapper_menu'>
      <section class='left_menu' id='menu_left_part'>
        <div class='wrapper_left_menu'>
          <header>
            <img alt='Unique Hookah Places' class='pointer' height='40px' id='uhp_logo' src='./images/logo.svg'>
          </header>
          <span>
            <h4>Первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю...</h4>
            <p>24 июл в 14:44 от #unihuqhookahplaces</p>
            <h5>Она задала нам неожиданный вопрос</h5>
            <p>24 июл в 14:44 от #unihuqhookahplaces</p>
            <h5>Она задала нам неожиданный вопрос</h5>
            <p>24 июл в 14:44 от #unihuqhookahplaces</p>
            <h5>Она задала нам неожиданный вопрос</h5>
            <p>24 июл в 14:44 от #unihuqhookahplaces</p>
            <h5>Она задала нам неожиданный вопрос</h5>
            <p>24 июл в 14:44 от #unihuqhookahplaces</p>
          </span>
          <footer>
            <p>Copyright © 2015 Уникальные Кальянные</p>
            <p>C любовью от CPD&BBK</p>
          </footer>
        </div>
      </section>
      <section class='right_menu' id='menu_right_part'>
        <img alt='Закрыть' class='pointer' id='closing' src='./images/cross.svg'>
        <a>
          <h3 id='lounges_nav_btn'>Ложи</h3>
          <p>Уникальные заведения</p>
        </a>
        <a>
          <h3 id='philosophy_nav_btn'>Философия</h3>
          <p>Наши ценности</p>
        </a>
        <a>
          <h3 id='community_nav_btn'>Сообщество</h3>
          <p>Полезно быть своим</p>
        </a>
        <a>
          <h3 id='franchise_nav_btn'>Франшиза</h3>
          <p>Открыть Ложу</p>
        </a>
        <button class='button-arrow' id='go_login_from_menu_btn'>Круг избранных</button>
      </section>
    </div>
    <div id='wrapper_hm_popup'>
    </div>
    <div class='color_overlay' id='color_overlay'></div>
    <header class='pages_lounges_header' id='header'>
      <img alt='Уникальные Кальянные' class='pointer' id='menu_header_logo' src='./images/{{ slug }}/logo.svg'>
      <nav>
        <a id='login_header_btn'>Войти</a>
        <a id='signup_header_btn'>Зарегистрироваться</a>
        <img alt='Меню' class='pointer' id='menu_header_btn' src='./images/{{ slug }}/menu.svg'>
      </nav>
    </header>
    <main id='main_content'>
      <section class='lounges_block_1'>
        <section class='content'>
          <header>
            <h1 style='color: {{ color }};'>{{ title }}</h1>
            <p>{{ slogan }}*</p>
          </header>
          <section class='information'>
            <figure>
              <img alt='Город' height='16px' src='./images/{{ slug }}/location.svg'>
              <figcapation>{{ city }}, {{ address }}</figcapation>
            </figure>
            <figure>
              <img alt='Город' height='16px' src='./images/{{ slug }}/phone.svg'>
              <figcapation>{{ phone }}</figcapation>
            </figure>
            <figure>
              <img alt='Город' height='16px' src='./images/{{ slug }}/clock.svg'>
              <figcapation>
                {{ work_hours }}
              </figcapation>
            </figure>
          </section>
          <section class='actions'>
            <button class='button-arrow btn_arrow' id='reserve_table_btn' style='border: 1px solid {{ color }}'>Забронировать столик</button>
          </section>
        </section>
        <section class='blazon'>
          <img class='blazon' src='{{ blazon }}'>
          <div class='blazon_glow'></div>
          <div class='blazon_glow_2'></div>
        </section>
        <footer>
          <p>*{{ slogan_ru }}</p>
        </footer>
      </section>
      <section class='lounges_block_2'>
        <div class='text-wrapper-liberty'>
          <h4>{{ description_header }}</h4>
          <p>{{ description_text }}</p>
        </div>
      </section>
      <section class='lounges_block_3'>
        <section class='cd-hero'>
          <ul class='cd-hero-slider autoplay'></ul>
          <div class='cd-slider-nav'>
            <nav>
              <ul></ul>
            </nav>
          </div>
        </section>
      </section>
      <section class='lounges_block_4'>
        <header>
          <h2 style='color: {{ color }};'>Кальянные мастера</h2>
          <p>Уникальная Кальянная «{{ title }}»</p>
          <p>{{ hookmasters_description }}</p>
        </header>
        <div class='wrapper_hm_cards'></div>
      </section>
      <section class='lounges_block_5'>
        <section id='map_wrapper'>
          <header>
            <h3 style='color: {{ color }};'>{{ city }}</h3>
            <p>{{ map_district }}</p>
          </header>
          <p>{{ map_description }}</p>
          <p>
            <img src='./images/{{ slug }}/location.svg'>
            <small>{{ city }}, {{ address }}</small>
          </p>
        </section>
        <div class='map_wrapper' data-map-lat='57.1502699' data-map-lng='65.5854143'>
          <div class='map_overlay'></div>
        </div>
      </section>
      <section class='lounges_block_6'>
        <header>
          <h2 style='color: {{ color }};'>Контакты</h2>
          <h5>По вопросам справки обращайтесь по телефону в рабочее время:</h5>
        </header>
        <h6>Адрес:</h6>
        <p>{{ city }}, {{ address }}</p>
        <h6>Контактный номер:</h6>
        <p>{{ phone }}</p>
        <h6>Рабочие часы:</h6>
        <p>
          {{ work_hours }}
        </p>
        <h6>Социальные сети</h6>
        <p>
          <a href='{{ vk_link }}' target='_blank'>Группа Вконтакте</a>
        </p>
      </section>
      <section class='lounges_block_7'>
        <div class='wrapper_sun'>
          <img alt='Звезда' class='sun' src='./images/{{ slug }}/sun.svg'>
          <img class='sun_rotation' src='./images/{{ slug }}/sun_lines.svg'>
          <div class='sun_glow'></div>
          <div class='sun_glow_2'></div>
        </div>
        <div class='wrapper_sun_text'>
          <h3>{{ slogan }}*</h3>
          <h6>*{{ slogan_ru }}</h6>
          <br>
          <button class='button-arrow btn_arrow' style='border: 1px solid {{ color }}'>Зарегистрироваться</button>
        </div>
      </section>
    </main>
  </script>
</html>
