<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='./css/reset.css' rel='stylesheet'>
    <link href='./css/general_all.css' rel='stylesheet'>
  </head>
  <body>
    <div class='wrapper center-center'>
      <section class='left_menu' id='menu_left_part'>
        <img alt='Unique Hookah Places' height='40px' src='./images/logo.svg'>
        <h4>Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...</h4>
        <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        <h5>Она задала нам неожиданный вопрос</h5>
        <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        <h5>Она задала нам неожиданный вопрос</h5>
        <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        <h5>Она задала нам неожиданный вопрос</h5>
        <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        <h5>Она задала нам неожиданный вопрос</h5>
        <p>24 июл в 14:44 от #unihuqhookahplaces</p>
        <footer>
          <p>Copyright © 2015 Уникальные Кальянные</p>
          <p>
            Создано в
            <img alt='CPD&amp;BBK' height='24px' src='./images/cpdbbk.svg'>
          </p>
        </footer>
      </section>
      <section class='right_menu' id='menu_right_part'>
        <img alt='Закрыть' id='closing' src='./images/cross.svg'>
        <h3>Главная страница</h3>
        <p>Основная информация</p>
        <h3 id='lounges_nav_btn'>Ложи</h3>
        <p>Уникальные заведения</p>
        <h3 id='philosophy_nav_btn'>Философия</h3>
        <p>Наши ценности</p>
        <h3 id='community_nav_btn'>Сообщество</h3>
        <p>Полезно быть своим</p>
        <h3 id='franchise_nav_btn'>Франшиза</h3>
        <p>Открыть Ложу</p>
      </section>
    </div>
    <div class='color_overlay color_overlay_active'></div>
    <main class='under_popup main_content_active'>
      <img class='imgfortest' src='./images/test_for_p.png'>
    </main>
  </body>
</html>
