<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='../layout/css/reset.css' rel='stylesheet'>
    <link href='../layout/css/general_all.css' rel='stylesheet'>
  </head>
  <body>
    <div class='wrapper h_v_center'>
      <section class='popup_middle'>
        <header>
          <h2>Заявка на бронирование подана</h2>
          <p class='h2_subtitle'>
            Вы подали заявку на бронирование столика 21 мая с 18:00 до 21:00 в "Liberty". В ближайшее время вам позвонят для подтверждения заявки
          </p>
          <button name='sumbit' type='sumbit'>Отлично</button>
        </header>
      </section>
    </div>
    <div class='color_overlay color_overlay_active'></div>
    <main class='under_popup main_content_active'>
      <img class='imgfortest' src='./images/test_for_p.png'>
    </main>
  </body>
</html>
