<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'>
    <link href='../layout/css/reset.css' rel='stylesheet'>
    <link href='../layout/css/general_all.css' rel='stylesheet'>
  </head>
  <body>
    <div class='wrapper center-center'>
      <section class='popup'>
        <header>
          <h2>Забронировать столик</h2>
          <p class='h2_subtitle'>
            Выберите столик и время для желаемого бронированияю
          </p>
        </header>
        <form action='' method='get'>
          <input name='input' placeholder='Кальянная' type='text'>
          <input name='input' placeholder='Столик' type='text'>
          <input name='input' placeholder='Дата' type='text'>
          <input name='input' placeholder='Время' type='text'>
          <button name='sumbit' type='sumbit'>Забронировать</button>
        </form>
      </section>
    </div>
    <div class='color_overlay color_overlay_active'></div>
    <main class='under_popup main_content_active'>
      <img class='imgfortest' src='./images/test_for_p.png'>
    </main>
  </body>
</html>
