<div class='wrapper center-center'>
  <section class='popup' id='login_form'>
    <header>
      <h2>Войти</h2>
      <p class='h2_subtitle'>
        Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
        <a href='#registration'>зарегистрируйтесь.</a>
      </p>
    </header>
    <form action='' method='get'>
      <input name='phone' placeholder='Номер телефона' type='text'>
      <input name='password' placeholder='Пароль' type='text'>
      <button name='sumbit' type='sumbit'>Войти</button>
    </form>
    <a href='#forgot_pass' id='recover_btn'>Вы забыли пароль?</a>
  </section>
  <section class='popup' id='signin_form'>
    <header>
      <h2>Регистрация</h2>
      <p class='h2_subtitle'>
        Регистрация нового пользователя. Если у вас уже есть аккаунт — войдите
        <a href='#registration'>зарегистрируйтесь.</a>
      </p>
    </header>
    <form action='' method='get'>
      <input name='phone' placeholder='Номер телефона' type='text'>
      <input name='name' placeholder='ФИО' type='text'>
      <input name='password' placeholder='Пароль' type='text'>
      <button name='sumbit' type='sumbit'>Зарегистрироваться</button>
    </form>
    <a href='#login_form' id='login_in_signin_btn'>Вернуться к логину</a>
  </section>
  <section class='popup' id='recover_form'>
    <header>
      <h2>Восстановление пароля</h2>
      <p class='h2_subtitle'>
        Мы отправим вам новый пароль по смс, если у вас еще нет аккаунта — зарегистрируйтесь
        <a href='#registration'>зарегистрируйтесь.</a>
      </p>
    </header>
    <form action='' method='get'>
      <input name='input' placeholder='Номер телефона' type='text'>
      <button name='sumbit' type='sumbit'>Отправить</button>
    </form>
    <a href='#recover2_form' id='login_in_recover_btn'>Вернуться к логину</a>
  </section>
</div>
<div id='color_overlay'></div>

<main id='main_content'>
  <section id='philosophie_block1'>
    <header id='header'>
      <img alt='Уникальные Кальянные' src='./images/logo.svg'>
      <nav>
        <a id='login_header_btn' data-am="login_form">Войти</a>
        <a id='signup_header_btn' data-am="signin_form">Зарегистрироваться</a>
        <img alt='Меню' class='menu' src='./images/menu.svg'>
      </nav>
    </header>
    <img alt='Оригинал один — остальное копии' src='images/philosophie_h1.svg'>
  </section>
  <section id='philosophie_block2'>
    <blockquote>
      <h4>«Не просто безликая сеть заведений для отдыха и встреч  без июминки»</h4>
      <cite>— Игорь Коновалов</cite>
    </blockquote>
    <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи УК. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.  Пивлекает наша дружелюбная домашняя    атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.</p>
    <button>Прочитать историю</button>
  </section>
  <section id='philosophie_block3'>
    <div class='cont-wrap'>
      <h3>Наши принципы являются фундаментом, основной для работы</h3>
      <br>
      <h4>Каждый клиент для нас уникален. Красота жизни заключается в ее неповторимости и оригинальности.</h4>
      <br>
      <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.</p>
      <br>
      <p>Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи УК. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.  Пивлекает наша дружелюбная домашняя атмосфера. Мы начинали как место только "для своих".</p>
      <br>
      <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Привлекает наша дружелюбная домашняя атмосфера. Мы начинали как место только "для своих".</p>
    </div>
  </section>
  <section id='philosophie_block4'>
    <h3>Кальянный мастер</h3>
    <p>Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.</p>
    <br>
    <h5>Игорь Коновалов</h5>
    <h6>Основатель франшизы</h6>
  </section>
  <section id='philosophie_block5'>
    <img alt='Звезда' src='images/sun.svg'>
    <h2>Ищущий да обретет</h2>
    <h6>Оригинал один - остальное копии</h6>
    <button>Зарегистрироваться</button>
  </section>
</main>