.achievments_all:before {
  content: "";
  display: block;
  position: absolute;
  height: 160px;
  width: 160px;
  top: -64px;
  left: calc(50% - 80px);
  background: url("../images/achievments/symbol_ach.svg");
  z-index: 250;
  float: left;
}

.achievments_all {
  display: block;
  position: relative;
  width: 100%;
  left: 0;
  z-index: 200;
}
.achievments_all .achievments_header {
  display: block;
  position: relative;
  float: none;
  height: 20px;
  width: 100%;
  z-index: 200;
  padding: 0;
  font-family: Bebas Neue;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 64px;
}
.achievments_all .achievments_header a {
  float: left;
}
.achievments_all .achievments_header a:before {
  content: "";
  display: block;
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  background: url("../images/achievments/arrow_back.svg");
  z-index: 250;
  float: left;
}
.achievments_all .achievments_header h6 {
  float: right;
  font-size: inherit;
}
.achievments_all section.achievments_list {
  position: relative;
  float: none;
  height: auto;
  width: 100%;
  z-index: 200;
  padding: 0;
  text-align: justify;
}
.achievments_all section.achievments_list .justify_fix {
  width: 100%;
  display: inline-block;
}
.achievments_all section.achievments_list figure.achievment {
  display: inline-block;
  position: relative;
  float: none;
  height: auto;
  width: 15%;
  min-width: 120px;
  margin: 0 0 4% 0;
  text-align: center;
}
.achievments_all section.achievments_list figure.achievment img {
  display: inline-block;
  margin: 0;
  margin-bottom: 24px;
  width: 88px;
  height: 88px;
}
.achievments_all section.achievments_list figure.achievment figcapation {
  line-height: 16px;
}
.achievments_all section.achievments_list figure.achievment figcapation h4 {
  font-family: Bebas Neue;
  font-size: 18px;
}
.achievments_all section.achievments_list figure.achievment figcapation p {
  font-family: Lora;
  font-size: 12px;
}

.achievment_page {
  display: block;
  position: absolute;
  float: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 300;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.achievment_page figure.achievment_on_page {
  position: relative;
  display: inline-block;
  float: none;
  height: auto;
  margin: 0;
  text-align: center;
}
.achievment_page figure.achievment_on_page img {
  display: inline-block;
  position: relative;
  width: 256px;
  height: 256px;
  margin-bottom: 64px;
}
.achievment_page figure.achievment_on_page figcapation h4.name {
  font-family: Bebas Neue;
  font-size: 30px;
  color: #EBB22F;
  margin-bottom: 8px;
}
.achievment_page figure.achievment_on_page figcapation p.status {
  font-family: Lora;
  font-size: 18px;
  color: white;
  margin-bottom: 32px;
}
.achievment_page figure.achievment_on_page figcapation p.description {
  font-family: Open Sans;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.edit_profile_all {
  display: block;
  position: relative;
  min-height: 100%;
  top: 0;
  z-index: 200;
}
.edit_profile_all .edit_profile_header {
  display: block;
  position: relative;
  float: none;
  height: 20px;
  width: 100%;
  z-index: 200;
  padding: 0;
  font-family: Bebas Neue;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 64px;
}
.edit_profile_all .edit_profile_header a {
  float: left;
}
.edit_profile_all .edit_profile_header a:before {
  content: "";
  display: block;
  position: relative;
  height: 20px;
  width: 20px;
  margin-right: 12px;
  background: url("../images/achievments/arrow_back.svg");
  z-index: 250;
  float: left;
}
.edit_profile_all .edit_profile_header h6 {
  float: right;
  font-size: inherit;
}
.edit_profile_all section.edit_profile_list {
  position: relative;
  float: none;
  height: auto;
  width: 100%;
  z-index: 200;
  padding: 0;
  text-align: justify;
}
.edit_profile_all section.edit_profile_list form.edit_profile_form header {
  height: auto;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
.edit_profile_all section.edit_profile_list form.edit_profile_form header h2 {
  font-family: Bebas Neue;
  font-size: 48px;
  letter-spacing: 2px;
  color: #EBB22F;
}
.edit_profile_all section.edit_profile_list form.edit_profile_form header h3 {
  font-family: Lora;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 48px;
}
.edit_profile_all section.edit_profile_list form.edit_profile_form fieldset {
  margin-bottom: 32px;
}
.edit_profile_all section.edit_profile_list form.edit_profile_form fieldset legend {
  font-family: Bebas Neue;
  font-size: 18px;
  margin-bottom: 16px;
  color: #EBB22F;
}
.edit_profile_all section.edit_profile_list form.edit_profile_form fieldset input {
  display: block;
  margin-bottom: 16px;
  width: 320px;
  color: white;
}
.edit_profile_all section.edit_profile_list form.edit_profile_form fieldset input.large {
  width: 640px;
  min-height: 160px;
}
