@charset "UTF-8";
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, main {
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font: normal normal 300 1.25rem/1.5 Open Sans;
  color: white;
  background: black;
}

h1 {
  font: normal normal 300 60px/64px Bebas Neue Book, sans-serif;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

h2 {
  font: normal normal 300 48px/64px Bebas Neue Book, sans-serif;
  letter-spacing: 2px;
  color: #EBB22F;
  text-transform: uppercase;
}

h3 {
  font-family: Bebas Neue;
  font-size: 28px;
  letter-spacing: 2px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-family: Lora;
  font-weight: 300;
}

h5 {
  display: inline-block;
  font: normal normal 300 18px Bebas Neue Book;
  letter-spacing: 2px;
}

h6 {
  display: inline-block;
  font: normal normal 300 14px Bebas Neue Book;
  letter-spacing: 2px;
}

small {
  font-size: 12px;
}

p {
  font-family: Open Sans Regular;
  font-size: 14px;
  color: white;
  letter-spacing: 0px;
}

.h2_subtitle {
  font: normal normal 300 18px/28px Lora, sans-serif;
  color: white;
}

input {
  position: relative;
  height: 48px;
  width: 244px;
  padding: 0 16px 0 16px;
  border: 0;
  color: white;
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 0 1px;
  background: rgba(255, 255, 255, 0.01);
  text-align: left;
  line-height: 24px;
  font-size: 14px;
}

h1 {
  margin-bottom: 32px;
}

h2 {
  margin-bottom: 8px;
}

.h2_subtitle {
  margin-bottom: 32px;
}

form {
  margin-bottom: 32px;
}

input {
  margin-right: 16px;
}

a {
  font: normal normal 300 18px Bebas Neue Book;
  letter-spacing: 2px;
  color: white;
}

a.i_l {
  font: normal normal 300 18px Bebas Neue Book;
  letter-spacing: 2px;
  color: white;
}

a.i_l:before {
  content: "";
  height: 20px;
  width: 20px;
  margin-right: 12px;
  background: url("../images/achievments/arrow_back.svg");
  z-index: 250;
  float: left;
}

button {
  position: relative;
  height: 48px;
  width: 256px;
  background: #EBB22F;
  padding: 0 16px 0 16px;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
  color: #fff;
  border: none;
}

button:after {
  content: "";
  width: 24px;
  height: 24px;
  float: right;
  background-image: url(../images/goto.svg);
}

button.button-dark {
  position: relative;
  height: 48px;
  width: 256px;
  border: 1px solid gray;
  background: none;
  padding: 0 16px 0 16px;
  line-height: 24px;
  text-align: left;
  font-size: 14px;
  color: #C6C7C8;
}

button.button-dark:active {
  background: red;
}

button.button-dark:after {
  content: "";
  width: 24px;
  height: 24px;
  float: right;
  background-image: url(../images/goto.svg);
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

input[type=text], textarea {
  -moz-transition: all 0.75s linear;
  -o-transition: all 0.75s linear;
  -webkit-transition: all 0.75s linear;
  transition: all 0.75s linear;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #51cbee;
}

@font-face {
  font-family: "Bebas Neue Book";
  src: url('../../fonts/bebasneue_book-webfont.woff?1447420370') format('woff'), url('../../fonts/bebasneue_book-webfont.svg?1447420370') format('svg'), url('../../fonts/bebasneue_book-webfont.ttf?1447420370') format('truetype');
}
@font-face {
  font-family: "Bebas Neue Regular";
  src: url('../../fonts/bebasneue_regular-webfont.woff?1447420370') format('woff'), url('../../fonts/bebasneue_regular-webfont.svg?1447420370') format('svg'), url('../../fonts/bebasneue_regular-webfont.ttf?1447420370') format('truetype');
}
@font-face {
  font-family: "Lora";
  src: url('../../fonts/lora-regular-webfont.ttf?1447420370') format('truetype'), url('../../fonts/lora-regular-webfont.woff?1447420370') format('woff'), url('../../fonts/lora-regular-webfont.svg?1447420370') format('svg');
}
@font-face {
  font-family: "Open Sans Bold";
  src: url('../../fonts/opensans-bold-webfont.woff') format('woff'), url('../../fonts/opensans-bold-webfont.svg') format('svg'), url('../../fonts/opensans-bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "Open Sans Regular";
  src: url('../../fonts/opensans-regular-webfont.woff?1447420370') format('woff'), url('../../fonts/opensans-regular-webfont.svg?1447420370') format('svg'), url('../../fonts/opensans-regular-webfont.ttf?1447420370') format('truetype');
}
@font-face {
  font-family: "Open Sans Light";
  src: url('../../fonts/opensans-light-webfont.woff?1447420370') format('woff'), url('../../fonts/opensans-light-webfont.svg?1447420370') format('svg'), url('../../fonts/opensans-light-webfont.ttf?1447420370') format('truetype');
}
/* Крутим элементы (селектор , секунды (4sec) ) */
@-webkit-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin_animation {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* End spin classes */
/* Start fadeout function */
@-webkit-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@-moz-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@-ms-keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeout_animation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
/* End fadeout function */
/* Start fadein function */
@-webkit-keyframes fadein_animation {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein_animation {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadein_animation {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein_animation {
  from {
    opacity: 0;
    display: block;
  }
  to {
    opacity: 1;
  }
}
/* End fadein function */
.section_1_bg {
  display: relative;
  min-height: 60%;
  background: url("../images/places/places_bg_1_gradient.png"), url("../images/places/places_bg_1.png");
  background-size: 100% 100%, 100% 100%;
  padding: 160px 48px 32px 48px;
}
.section_1_bg header {
  width: 50%;
  margin-bottom: 64px;
}
.section_1_bg header h1 {
  margin-bottom: 24px;
}
.section_1_bg header p {
  width: 75%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 32px;
}

.instruments {
  display: block;
  position: relative;
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: right;
  margin-bottom: 16px;
}
.instruments a:first-child {
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}
.instruments a:before {
  content: "";
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 16px;
}
.instruments a.magnifying:before {
  background: url(../images/search.svg);
}
.instruments a.changeview:before {
  background: url(../images/map.svg);
}
.instruments a.citypin:before {
  background: url(../images/location.svg);
}

hr {
  height: 1px;
  width: 100%;
  margin: 0;
  background: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

section.lounges {
  position: relative;
  width: 100%;
  max-width: 100%;
  background: #282C34;
  padding: 0 32px 48px 32px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
section.lounges article.lounge {
  -webkit-flex-basis: 1;
  flex-basis: 1;
  -webkit-flex-grow: 0.2;
  flex-grow: 0.2;
  -webkit-flex-shrink: 5;
  flex-shrink: 5;
  position: relative;
  color: black;
  text-align: center;
  width: 20%;
  margin: 16px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: url(../images/venzel-corner.svg) left 16px top 16px no-repeat, url(../images/venzel-corner.svg) right 16px top 16px no-repeat, url(../images/venzel-corner.svg) left 16px bottom 16px no-repeat, url(../images/venzel-corner.svg) right 16px bottom 16px no-repeat, linear-gradient(#ffffff, #e0e8ee);
}
section.lounges article.lounge .frontside {
  padding: 40px;
  z-index: 50;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
section.lounges article.lounge .frontside img {
  margin-bottom: 48px;
  width: 100%;
}
section.lounges article.lounge .frontside h4 {
  margin-bottom: 8px;
  font-family: Bebas Neue;
  font-size: 24px;
  letter-spacing: 4px;
}
section.lounges article.lounge .frontside small {
  font-family: Lora;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
section.lounges article.lounge .frontside:before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  box-shadow: inset rgba(122, 195, 108, 0.5) 0 0 0 2px;
  border-radius: 4px;
}
section.lounges article.lounge .frontside:after {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  box-shadow: inset rgba(122, 195, 108, 0.25) 0 0 0 1px;
  border-radius: 2px;
}

#philosophie_block1 {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  background: url("../images/bg_smoke_2.jpg");
}
#philosophie_block1 img {
  position: relative;
  height: 50%;
  top: 25%;
}

#philosophie_block2 {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px;
  background: #282C34;
}
#philosophie_block2 blockquote {
  display: block;
  position: relative;
  float: left;
  text-align: right;
  width: 25%;
  margin-right: 48px;
}
#philosophie_block2 blockquote h4 {
  margin-bottom: 16px;
}
#philosophie_block2 blockquote cite {
  color: #EBB22F;
}
#philosophie_block2 h3 {
  display: inline-block;
  width: 40%;
  margin-bottom: 64px;
  font-family: Lora;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
}
#philosophie_block2 p {
  -webkit-column-count: 2;
  text-align: justify;
  margin-bottom: 32px;
}
#philosophie_block2 button {
  background: none;
  border: 1px solid #EBB22F;
}

#philosophie_block3 {
  display: block;
  position: relative;
  width: 100%;
  padding: 120px 80px;
  text-align: left;
  background: black;
}
#philosophie_block3 .cont-wrap {
  display: block;
  position: relative;
  width: 50%;
}
#philosophie_block3 .cont-wrap h3 {
  display: block;
  width: 100%;
  position: relative;
  color: #EBB22F;
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 1.2;
  z-index: 200;
}
#philosophie_block3 .cont-wrap h4 {
  display: inline-block;
  position: relative;
  margin-bottom: 32px;
}
#philosophie_block3 .cont-wrap p {
  display: inline-block;
  position: relative;
  opacity: 0.5;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  z-index: 200;
}
#philosophie_block3 aside {
  display: block;
  position: relative;
  width: 40%;
  float: left;
}
#philosophie_block3 aside article {
  display: block;
  position: relative;
  width: 40%;
}
#philosophie_block3 aside article img {
  display: block;
  position: relative;
  float: left;
  width: 64px;
  height: 64px;
}

#philosophie_block4 {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  background: black;
  padding: 80px;
  padding: 200px;
  background: url(../images/konovalov_photo.jpg);
  background-size: cover;
}
#philosophie_block4 h3 {
  display: block;
  width: 100%;
  color: #EBB22F;
  margin-bottom: 16px;
  font-size: 48px;
  font-family: Bebas Neue;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 4px;
}
#philosophie_block4 p {
  display: inline-block;
  width: 40%;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 64px;
  font-size: 16px;
  line-height: 1.5;
}
#philosophie_block4 h5 {
  display: inline-block;
  color: #EBB22F;
  font-family: Bebas Neue;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 4px;
}
#philosophie_block4 h6 {
  margin-bottom: 32px;
  font-family: Lora;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
}

#philosophie_block5 {
  display: block;
  position: relative;
  width: 100%;
  height: 480px;
  padding: 160px;
  text-align: center;
  overflow: hidden;
  background: url("../images/bg_glow.jpg");
}
#philosophie_block5 img {
  position: absolute;
  display: block;
  height: 512px;
  width: 512px;
  top: -50%;
  left: calc(50% - 256px);
}
#philosophie_block5 h2 {
  font-size: 48px;
  font-family: Bebas Neue;
  letter-spacing: 4px;
  margin-bottom: 32px;
  color: white;
}
#philosophie_block5 h6 {
  opacity: 0.5;
  margin-bottom: 32px;
  font-family: Lora;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
}
#philosophie_block5 button {
  background: none;
  margin-top: 32px;
  border: 1px solid #EBB22F;
}

section.dashboard {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  background: url(../images/bg_glow.jpg);
  background-size: cover;
  color: white;
  padding: 48px;
}
section.dashboard hr {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 88px;
  margin-bottom: 120px;
}
section.dashboard section.username {
  margin-bottom: 48px;
}
section.dashboard section.username h1 {
  margin-bottom: 16px;
  letter-spacing: 6px;
}
section.dashboard section.username p {
  width: 75%;
  font-family: Lora;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 32px;
}

section.progress_bar {
  width: 100%;
  margin-bottom: 56px;
}
section.progress_bar p {
  font-size: 14px;
  font-family: Bebas Neue Book;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
section.progress_bar .progress_bar_bg {
  position: relative;
  display: block;
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
}
section.progress_bar .progress_bar_bg .progress {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 16%;
  height: 8px;
  border-radius: 4px;
  background: #EBB22F;
}

section.user_achievments {
  display: block;
  margin-bottom: 48px;
}
section.user_achievments header {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 32px;
}
section.user_achievments header h4 {
  float: left;
  font-size: 18px;
  font-family: Bebas Neue Book;
  letter-spacing: 3px;
  height: 24px;
  line-height: 26px;
}
section.user_achievments header .number_of {
  float: left;
  padding: 0 10px 0 10px;
  height: 24px;
  border-radius: 12px;
  border: 1px solid rgba(235, 178, 47, 0.25);
  text-align: center;
  font-size: 14px;
  font-family: Bebas Neue Book;
  letter-spacing: 1px;
  line-height: 24px;
  color: #EBB22F;
  margin-left: 16px;
}
section.user_achievments header .number_of:hover {
  background: #EBB22F;
  color: white;
}
section.user_achievments section.wrapper_for_ach {
  position: relative;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
section.user_achievments section.wrapper_for_ach figure {
  width: 16%;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
}
section.user_achievments section.wrapper_for_ach figure img.achievments_icon {
  height: 80px;
  width: 80px;
  margin-bottom: 16px;
}
section.user_achievments section.wrapper_for_ach figure figcapation h6 {
  display: block;
}
section.user_achievments section.wrapper_for_ach figure figcapation p {
  font-size: 12px;
  font-family: Lora;
  color: rgba(255, 255, 255, 0.5);
}

section.bottom_rating {
  display: block;
  position: relative;
  width: 100%;
  height: 512px;
  background: #292D34;
}

section.wrapper_for_ach {
  position: relative;
  width: 100%;
  text-align: justify;
}
section.wrapper_for_ach figure {
  display: inline-block;
  width: 18%;
  text-align: center;
  padding: 32px;
  margin-bottom: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
section.wrapper_for_ach figure img.achievments_icon {
  display: inline-block;
  position: relative;
  height: 120px;
  width: 120px;
  margin-bottom: 16px;
}
section.wrapper_for_ach figure h6 {
  display: block;
}
section.wrapper_for_ach figure p {
  font-size: 12px;
  font-family: Lora;
  color: rgba(255, 255, 255, 0.5);
}

section.popup_overall {
  position: relative;
  height: auto;
  width: 100%;
  padding: 80px;
  z-index: 200;
  text-align: center;
}
section.popup_overall img {
  width: 256px;
  height: 256px;
  margin-bottom: 32px;
}
section.popup_overall h4 {
  margin-bottom: 48px;
}
section.popup_overall p {
  color: rgba(255, 255, 255, 0.5);
}

section.edit_profile_list form.edit_profile_form header {
  height: auto;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
section.edit_profile_list form.edit_profile_form header h2 {
  font-family: Bebas Neue;
  font-size: 48px;
  letter-spacing: 2px;
  color: #EBB22F;
}
section.edit_profile_list form.edit_profile_form header h3 {
  font-family: Lora;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0;
  margin-bottom: 48px;
}
section.edit_profile_list form.edit_profile_form fieldset {
  margin-bottom: 32px;
}
section.edit_profile_list form.edit_profile_form fieldset legend {
  font-family: Bebas Neue;
  font-size: 18px;
  margin-bottom: 16px;
  color: #EBB22F;
  letter-spacing: 2px;
}
section.edit_profile_list form.edit_profile_form fieldset input {
  display: block;
  margin-bottom: 16px;
  width: 320px;
  color: white;
}
section.edit_profile_list form.edit_profile_form fieldset input.large {
  width: 640px;
  min-height: 160px;
  line-height: 16px;
}

section.left_menu {
  display: inline-block;
  position: relative;
  width: 67%;
  padding: 48px;
  height: 100%;
  z-index: 200;
  left: 0;
}
section.left_menu img {
  margin-bottom: 64px;
}
section.left_menu h4 {
  margin-bottom: 8px;
}
section.left_menu p:first-of-type {
  margin-bottom: 48px;
}
section.left_menu h5 {
  font-family: Lora;
  letter-spacing: 0;
  margin-bottom: 4px;
}
section.left_menu p {
  font: 12px;
  font-family: Open Sans Regular;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 24px;
}
section.left_menu footer {
  margin-top: 64px;
  line-height: 24px;
  text-align: left;
}
section.left_menu footer p {
  float: right;
  margin-bottom: 40px;
}
section.left_menu footer p:first-of-type {
  float: left;
  margin-bottom: 40px;
}
section.left_menu footer img {
  margin-bottom: -8px;
  margin-left: 4px;
}

section.right_menu {
  position: relative;
  float: right;
  width: 33%;
  height: 100%;
  padding: 48px;
  background: rgba(40, 44, 52, 0.9);
  box-shadow: 0 0 256px 64px rgba(0, 0, 0, 0.25);
  z-index: 200;
  right: 0;
}
section.right_menu img {
  height: 16px;
  margin-bottom: 56px;
}
section.right_menu p {
  font-family: Lora;
  margin-bottom: 32px;
  color: rgba(255, 255, 255, 0.5);
}
section.right_menu button {
  display: block;
  position: absolute;
  bottom: 48px;
}
section.right_menu a {
  display: inline-block;
  color: #fff;
}
section.right_menu a:hover {
  color: #ECB72E;
}

.js-closing-menu:hover {
  cursor: pointer;
}

#loader {
  position: absolute;
  overflow: hidden;
  width: 160px;
  height: 160px;
  left: calc(50% - 80px);
  top: calc(50% - 80px);
  opacity: 0;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -webkit-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
  -moz-animation: rot 1.5s ease-out;
  -webkit-animation: rot 1.5s ease-out;
  animation: rot 1.5s ease-out;
}
@-webkit-keyframes rot {
  from {
    -moz-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes rot {
  from {
    -moz-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-ms-keyframes rot {
  from {
    -moz-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rot {
  from {
    -moz-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
    transform: rotate(-75deg);
  }
  to {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
#loader object {
  position: inherit;
}

.loader-logo-back {
  width: 100%;
  height: 100%;
}

.loader-logo-front {
  left: 25%;
  top: 25%;
  width: 50%;
}

.line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 4s ease-in alternate 1 forwards;
  transition: dash 0.3s ease-out;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: pa 4s ease-in normal 1 forwards;
}

@keyframes pa {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}
/* Крутим лучи логотипа */
.loader-logo-back {
  -moz-animation: spin_animation 5s linear infinite;
  -webkit-animation: spin_animation 5s linear infinite;
  animation: spin_animation 5s linear infinite;
}

/* Создаем пропадающий класс */
.fadeout {
  -moz-animation: fadeout_animation 1s ease-in-out forwards;
  -webkit-animation: fadeout_animation 1s ease-in-out forwards;
  animation: fadeout_animation 1s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* Создаем появляющийся класс */
.fadein {
  -moz-animation: fadein_animation 1s ease-in-out forwards;
  -webkit-animation: fadein_animation 1s ease-in-out forwards;
  animation: fadein_animation 1s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

/* Появления лоадера */
.fadein-loader {
  -moz-animation: fadein_animation 1s ease-in-out forwards;
  -webkit-animation: fadein_animation 1s ease-in-out forwards;
  animation: fadein_animation 1s ease-in-out forwards;
  -moz-animation-fill-mode: "forwards";
  -webkit-animation-fill-mode: "forwards";
  animation-fill-mode: "forwards";
}

.pace {
  -moz-transform: translate3d(0, 50px, 0);
  -ms-transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
  -moz-transition: -moz-transform 0.5s easy-out;
  -o-transition: -o-transform 0.5s easy-out;
  -webkit-transition: -webkit-transform 0.5s easy-out;
  transition: transform 0.5s easy-out;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-pointer-events: none;
  pointer-events: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.pace.pace-active {
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  bottom: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: #ECB72E;
  pointer-events: none;
}

#header {
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  padding: 64px 48px 64px;
  top: 0;
  left: 0;
}
#header img {
  float: left;
  height: 40px;
}
#header nav {
  line-height: 44px;
  float: right;
}
#header nav img.menu {
  margin-left: 16px;
  float: right;
  width: 30px;
  height: 40px;
}

section.popup {
  position: relative;
  left: 160px;
  height: auto;
  width: 100%;
  padding: 80px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF151719', endColorstr='#FF424756');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1MTcxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQyNDc1NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #151719), color-stop(100%, #424756));
  background-image: -moz-linear-gradient(left bottom, #151719 0%, #424756 100%);
  background-image: -webkit-linear-gradient(left bottom, #151719 0%, #424756 100%);
  background-image: linear-gradient(to right top, #151719 0%, #424756 100%);
  z-index: 200;
}
section.popup a {
  z-index: 250;
}

section.popup:after {
  content: "";
  position: absolute;
  top: calc(50% - 160px);
  left: -160px;
  width: 320px;
  height: 320px;
  background-image: url(../images/key.svg);
}

section.popup:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: calc(100% - 16px);
  height: calc(100% - 32px);
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 2px;
}

section.popup_vertical {
  position: relative;
  top: 80px;
  height: auto;
  width: 100%;
  padding: 48px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF151719', endColorstr='#FF424756');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1MTcxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQyNDc1NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #151719), color-stop(100%, #424756));
  background-image: -moz-linear-gradient(left bottom, #151719 0%, #424756 100%);
  background-image: -webkit-linear-gradient(left bottom, #151719 0%, #424756 100%);
  background-image: linear-gradient(to right top, #151719 0%, #424756 100%);
  z-index: 200;
}
section.popup_vertical .popup_vertical_symbol {
  display: block;
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 128px;
  z-index: 250;
  text-align: center;
}
section.popup_vertical .popup_vertical_symbol img {
  display: inline-block;
  height: 128px;
  width: 128px;
}
section.popup_vertical .popup_vertical_symbol:before {
  content: "";
  display: block;
  float: left;
  width: calc(50% - 80px);
  height: 1px;
  margin-top: 64px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 200;
}
section.popup_vertical .popup_vertical_symbol:after {
  content: "";
  display: block;
  float: right;
  width: calc(50% - 80px);
  height: 1px;
  margin-top: 64px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 200;
}
section.popup_vertical .popup_vertical_header {
  margin-bottom: 48px;
}
section.popup_vertical .popup_vertical_header h5 {
  float: right;
}

section.popup_horizontal {
  position: relative;
  left: 80px;
  height: auto;
  width: calc(100% - 80px);
  padding: 48px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF151719', endColorstr='#FF424756');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1MTcxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQyNDc1NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #151719), color-stop(100%, #424756));
  background-image: -moz-linear-gradient(left bottom, #151719 0%, #424756 100%);
  background-image: -webkit-linear-gradient(left bottom, #151719 0%, #424756 100%);
  background-image: linear-gradient(to right top, #151719 0%, #424756 100%);
  z-index: 200;
}
section.popup_horizontal .popup_horizontal_header {
  width: 100%;
  margin-bottom: 48px;
}
section.popup_horizontal .popup_horizontal_header h5 {
  float: right;
}

section.popup_middle {
  position: relative;
  height: auto;
  width: 62%;
  padding: 80px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF151719', endColorstr='#FF424756');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjEuMCIgeDI9IjEuMCIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE1MTcxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQyNDc1NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #151719), color-stop(100%, #424756));
  background-image: -moz-linear-gradient(left bottom, #151719 0%, #424756 100%);
  background-image: -webkit-linear-gradient(left bottom, #151719 0%, #424756 100%);
  background-image: linear-gradient(to right top, #151719 0%, #424756 100%);
  z-index: 200;
  text-align: center;
}

section.popup_middle:before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
  box-shadow: inset rgba(255, 255, 255, 0.1) 0 0 2px;
}

div.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

div.wrapper_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.center-center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.h_v_center {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.color_overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #282C34;
  z-index: 150;
  pointer-events: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.color_overlay_active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
}

.main_content {
  z-index: 100;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
}

.main_content_active {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  filter: blur(5px);
}

.imgfortest {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

#header {
  display: block;
  position: absolute;
  width: 100%;
  height: 40px;
  padding: 64px 48px 64px;
  top: 0;
  left: 0;
}
#header img {
  float: left;
  height: 40px;
}
#header nav {
  line-height: 44px;
  float: right;
}
#header nav img.menu {
  margin-left: 16px;
  float: right;
  width: 30px;
  height: 40px;
}
