@media only screen
  and (max-device-height: 668px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .username h1{
      text-align: center !important;
      font-size: 72px !important;
      margin-bottom: 70px !important;
      line-height: 80px !important;
      height: auto !important;
    }

    .username button{
      margin: 8px !important;
      height: 110px !important;
      width: 48% !important;
      font-size: 28px !important;
      text-align: center !important;
    }
    .user_level_block {
      margin-right: 57px !important;
      left: calc(50% - 64px) !important;
      top: -320px !important;
    }
    #n_o_a {
       left: calc(50% - 380px) !important;
    }
    .edit_profile_city {
      display: none !important;
    }

    .progress_bar p{
      font-size: 38px !important;
    }

    .user_achievments header h4{
      font-size: 38px !important;
      margin: 25 0 !important;
    }

    .user_achievments section.wrapper_for_ach figure{
      width: 32% !important;
    }

    .user_achievments section.wrapper_for_ach figure img{
      width: 220px !important;
      height: 220px !important;
    }

    .user_achievments header .number_of{
      font-size: 38px !important;
      margin: 25 0 !important;
    }
}
