/* -------------------------------- 

Primary style

-------------------------------- */
body,html {
   height: 100%;
   width: 100%;
}
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -------------------------------- 

Slider

-------------------------------- */
.cd-hero {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.cd-hero-slider {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-hero-slider li.selected {
  /* this is the visible slide */
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-animation: movearound 5s infinite linear;
}

@-webkit-keyframes movearound {
  0% {
    -webkit-transform: scale(1);
  }   
  100% {
    -webkit-transform: scale(1.2);
  }
}

.cd-hero-slider li.move-left {
  /* slide hidden on the left */
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
  /* the is-moving class is assigned to the slide which is moving outside the viewport */
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
/* -------------------------------- 

Slider navigation

-------------------------------- */
.cd-slider-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  text-align: center;
  height: 80px;
  overflow: hidden;
  background-color: rgba(0, 1, 1, 0.5);
}
.cd-slider-nav nav, .cd-slider-nav ul, .cd-slider-nav li {
  height: 100%;
}
.cd-slider-nav nav {
  display: inline-block;
  position: relative;
  width: 100%;
}
.cd-slider-nav li {
  display: inline-block;
  position: relative;
  width: 20%;
  top: 75%;
  float: left;
  overflow: hidden;

  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
}

.cd-slider-nav li.selected {
  top: 0%;
}


.cd-slider-nav li:hover {
  display: inline-block;
  position: relative;
  width: 20%;
  top: 0%;
  float: left;
  overflow: hidden;
}

.cd-slider-nav li:hover .img-nav {
   -webkit-transform: scale(1.2);
}

.cd-slider-nav li:active .img-nav {
   -webkit-transform: scale(1);
}

.cd-slider-nav li.selected:hover .img-nav {
   -webkit-transform: scale(1.2);
}




/* -------------------------------- 

My style style

-------------------------------- */
.img-slider {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-nav {
  position: relative;
  width: 100%;

  -webkit-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -moz-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  -o-transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
  transition: all 500ms cubic-bezier(0.190, 1.000, 0.220, 1.000); 
}
