.header_menu {
  height: 40px;
  padding: 60px 40px 60px;
}
.header_menu img {
  float: left;
}
.header_menu nav {
  line-height: 44px;
  float: right;
}
.header_menu nav img.menu {
  margin-left: 16px;
  float: right;
  width: 30px;
}
