<div class='wrapper center-center'>
  <section class='popup' id='login_form'>
    <header>
      <h2>Войти</h2>
      <p class='h2_subtitle'>
        Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
        <a href='#registration'>зарегистрируйтесь.</a>
      </p>
    </header>
    <form action='' method='get'>
      <input name='phone' placeholder='Номер телефона' type='text'>
      <input name='password' placeholder='Пароль' type='text'>
      <button name='sumbit' type='sumbit'>Войти</button>
    </form>
    <a href='#forgot_pass' id='recover_btn'>Вы забыли пароль?</a>
  </section>
  <section class='popup' id='signin_form'>
    <header>
      <h2>Регистрация</h2>
      <p class='h2_subtitle'>
        Регистрация нового пользователя. Если у вас уже есть аккаунт — войдите
        <a href='#registration'>зарегистрируйтесь.</a>
      </p>
    </header>
    <form action='' method='get'>
      <input name='phone' placeholder='Номер телефона' type='text'>
      <input name='name' placeholder='ФИО' type='text'>
      <input name='password' placeholder='Пароль' type='text'>
      <button name='sumbit' type='sumbit'>Зарегистрироваться</button>
    </form>
    <a href='#login_form' id='login_in_signin_btn'>Вернуться к логину</a>
  </section>
  <section class='popup' id='recover_form'>
    <header>
      <h2>Восстановление пароля</h2>
      <p class='h2_subtitle'>
        Мы отправим вам новый пароль по смс, если у вас еще нет аккаунта — зарегистрируйтесь
        <a href='#registration'>зарегистрируйтесь.</a>
      </p>
    </header>
    <form action='' method='get'>
      <input name='input' placeholder='Номер телефона' type='text'>
      <button name='sumbit' type='sumbit'>Отправить</button>
    </form>
    <a href='#recover2_form' id='login_in_recover_btn'>Вернуться к логину</a>
  </section>
</div>
<div id='color_overlay'></div>

<main id='main_content'>
  <section class='section_1_bg'>
    <header id='header'>
      <img alt='Уникальные Кальянные' src='./images/logo.svg'>
      <nav>
        <a id='login_header_btn' data-am="login_form">Войти</a>
        <a id='signup_header_btn' data-am="signin_form">Зарегистрироваться</a>
        <img alt='Меню' class='menu' src='./images/menu.svg'>
      </nav>
    </header>
    <header>
      <h1>Посетите наши лучшие уникальные места</h1>
      <p class='h2_subtitle'>Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю и гостье.</p>
      <button>Открыть</button>
    </header>
    <section class='instruments'>
      <a class='magnifying'>Искать по названию</a>
      <a class='changeview'>Карта</a>
      <a class='citypin'>По городу</a>
    </section>
    <hr>
  </section>
  <section class='lounges' id='lounges-body'>
    <!-- Сюда загружаются заведения -->
  </section>
</main>