%header#header
	%img{ :src=>"public/images/logo.svg" , :alt=>"Уникальные Кальянные"}
	%nav
		%a Войти
		%a Зарегистрироваться
		%img.menu{ :src=>"public/images/menu.svg" , :alt=>"Меню"}
%section.section_1_bg
	%header
		%h1 Посетите наши лучшие уникальные места
		%p.h2_subtitle Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю и гостье.
		%button Открыть 
	%section.instruments
		%a.magnifying Искать по названию
		%a.changeview Карта
		%a.citypin По городу
	%hr
-# List of lounges
%section#lounges-body.lounges