<section id='philosophie_block1'>
  <img alt='Оригинал один — остальное копии' src='./src/images/philosophie_h1.svg'>
</section>
<section id='philosophie_block2'>
  <blockquote>
    <h4 class='js-scrollfade' data-scrollfade-direction='right' data-scrollfade-effect='drop' data-scrollfade-type='show'>
      «Не просто безликая сеть заведений для отдыха и встреч  без июминки»
    </h4>
    <cite>— Игорь Коновалов</cite>
  </blockquote>
  <p>
    <span class='js-scrollfade' data-scrollfade-direction='right' data-scrollfade-effect='drop' data-scrollfade-type='show'>
      С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи УК. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.  Пивлекает наша дружелюбная домашняя    атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.
    </span>
  </p>
  <button>Прочитать историю</button>
</section>
<section id='philosophie_block3'>
  <div class='cont-wrap'>
    <h3 class='js-scrollfade' data-scrollfade-direction='left' data-scrollfade-effect='drop' data-scrollfade-type='show'>
      Наши принципы являются фундаментом, основной для работы
    </h3>
    <br>
    <h4>Каждый клиент для нас уникален. Красота жизни заключается в ее неповторимости и оригинальности.</h4>
    <br>
    <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.</p>
    <br>
    <p>Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи УК. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.  Пивлекает наша дружелюбная домашняя атмосфера. Мы начинали как место только "для своих".</p>
    <br>
    <p>С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Привлекает наша дружелюбная домашняя    атмосфера. Мы начинали как место только "для своих".</p>
  </div>
</section>
<section id='philosophie_block4'>
  <h3 class='js-scrollfade' data-scrollfade-direction='up' data-scrollfade-effect='drop' data-scrollfade-type='show'>Кальянный мастер</h3>
  <p>Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.</p>
  <br>
  <h5>Игорь Коновалов</h5>
  <h6>Основатель франшизы</h6>
</section>
