#main_content
    opacity: 0

.section_1_bg
    display: relative
    min-height: 40%

    background: url("../images/places/page_index_overlay.png"), url("../images/places/page_index_bg.jpg")
    background-size: 100% 100% , 100% 100%

    padding: 160px 48px 32px 48px

    header
        width: 50%
        margin-bottom: 64px
        h1
            margin-bottom: 24px
        p
            width: 75%
            font-size: 16px
            color: rgba(255,255,255,0.5)

            margin-bottom: 32px

.instruments
    display: block
    position: relative
    width: 100%
    height: 20px
    line-height: 20px
    text-align: right
    margin-bottom: 16px

    a:first-child
        float: left
        +opacity(.75)

    a:before
        content: ''
        display: inline-block
        position: relative
        width: 16px
        height: 16px
        margin-right: 16px

    a.magnifying:before
        background: url(../images/search.svg)
    a.changeview:before
        background: url(../images/map.svg)
    a.citypin:before
        background: url(../images/location.svg)

section.lounges
    position: relative
    width: 100%
    max-width: 100%
    background: #282C34

    padding: 0 32px 48px 32px

    +display-flex(flex)
    +justify-content(flex-start)
    +flex-wrap(wrap)

    article.lounge:first-of-type

        color : white
        overflow: visible
        background: linear-gradient(#1B1D22, #30333A)

        .wrapper_corners_card

            .lounge_card_border_1
                border: 2px solid rgba(229, 175, 65, 0.4)

                .lounge_card_border_2
                    border: 2px solid rgba(229, 175, 65, 0.2)
        .wrapper_text_card
            h4
                font-family: Bebas Neue Book
            p
                color: rgba(255,255,255,0.3)


    article.lounge:first-of-type:after
        position: absolute
        content: ''

        top: -48px
        left: calc(50% - 200px)

        width: 400px
        height: 400px

        background: radial-gradient(rgba(251,177,59,0.4) 0%, rgba(241,91,36,0) 40%)

    article.lounge
        display: inline-block
        position: relative

        width: 268px
        height: 423px
        +border-radius(8px)
       
        color : black
        text-align : center
        
        margin: 16px
        
        overflow: hidden
        
        background: linear-gradient(white, #E0E8EE)
        
        .wrapper_corners_card
            display: block
            position: absolute

            width: 100%
            height: 100%

            left: 0
            top: 0

            .lounge_card_border_1
                display: block
                position: absolute

                width: calc(100% - 16px)
                height: calc(100% - 16px)

                left: 8px
                top: 8px

                border: 2px solid rgba(125, 190, 109, 0.4)

                +border-radius(4px)

                .lounge_card_border_2
                    display: block
                    position: absolute

                    width: calc(100% - 6px)
                    height: calc(100% - 6px)

                    left: 3
                    top: 3

                    border: 2px solid rgba(125, 190, 109, 0.2)

                    +border-radius(2px)

                    img
                        display: block
                        position: absolute

                        width: 32px
                        height: 32px

                    img:nth-child(1)
                        left: 4
                        top: 4
                    img:nth-child(2)
                        +transform(rotate(90deg))
                        right: 4
                        top: 4
                    img:nth-child(3)
                        +transform(rotate(-90deg))
                        left: 4
                        bottom: 4
                    img:nth-child(4)
                        +transform(rotate(180deg))
                        right: 4
                        bottom: 4

        .wrapper_herb_card
            +display-flex(flex)
            position: relative

            width: 100%
            height: auto

            +justify-content(center)
            margin-bottom: 16px

            img
                display: block

                margin-top: 32px
                height: 256px
        .wrapper_text_card
            display: block
            position: relative
            h4
                font-family: Bebas Neue Book
                text-transform: uppercase
                letter-spacing: 4px
                margin-bottom: 4px
            p
                font-family: Lora Regular
                font-size: 16px
                color: rgba(0,0,0,0.4)
