// 0. Переменные и прочее
// ...................................................................... //

$lounge_color: #ECB72E
$lounge_color_rgb: rgba(236,183,46,0.1)

$lounge_block1_bg: "../images/liberty/pages_lounges_block1_bg.jpg"