#main_content
    opacity: 0

body, main
    background: none

.video_on_bg
    position: fixed
    right: 0
    bottom: 0
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -100

.wrapper_gradient_black
    position: fixed
    right: 0
    bottom: 0
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: 0
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1))

.section_1_bg
    display: block
    position: relative
    width: 100%

    text-align: center

    padding: 256px 48px 32px 48px

    z-index: 150 

    header
        display: inline-block
        text-align: center
        margin-bottom: 64px
        h1
            margin-bottom: 24px
            font-size: 72px
            line-height: 88px
            letter-spacing: 6px
        .wrapper_venzel
            display: block
            position: relative

            height: 40px
            width: 100%

            text-align: center

            margin-bottom: 32px

            img
                display: inline-block
                width: 268px
        p
            display: inline-block
            width: 75%
            font-size: 16px
            color: rgba(255,255,255,0.5)

    .wrapper_evil_sun
        display: block
        position: absolute

        width: 40%
        left: calc(50% - 20%)
        top: -16%

        img
            display: block
            position: absolute

            left: 0
            top: 0

            width: 100%
    .wrapper_evil_sun:after
        position: absolute
        content: ''

        top: -16%
        left: calc(50% - 240px)

        width: 40%
        height: auto
        background: radial-gradient(rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 60%)

        pointer-events: none

section.lounges

    position: relative

    width: 100%
    height: auto

    padding: 48px

    margin-bottom: 48px

    z-index: 150

    .wrapper_lounges
        display: block
        position: relative

        text-align: left

        +display-flex(inline-flex)
        +flex-wrap(wrap)
        +justify-content(center)

        article.lounge:first-of-type
            color : white
            background: linear-gradient(#30333A, #1B1D22)

            .wrapper_corners_card

                .lounge_card_border_1
                    border: 2px solid rgba(255, 255, 255, 0.1)

                    .lounge_card_border_2
                        border: 2px solid rgba(255, 255, 255, 0.03)
            .wrapper_text_card
                h4
                    font-family: Bebas Neue Book
                p
                    color: rgba(255,255,255,0.3)


        article.lounge:first-of-type:after
            position: absolute
            content: ''

            top: -48px
            left: calc(50% - 240px)

            width: 480px
            height: 480px

            background: radial-gradient(rgba(251,177,59,0.25) 0%, rgba(241,91,36,0) 60%)

            pointer-events: none


        article.lounge:hover
            transform: perspective(1200px) rotate3d(10,0,0,-15deg)
            box-shadow: 0 0 160px rgba(255,255,255,0.1)

        article.lounge
            display: inline-block
            position: relative

            width: 268px
            height: 423px
            +border-radius(8px)

            z-index: 150
           
            color : black
            text-align : center
            
            margin: 16px

            background: linear-gradient(white, #E0E8EE)

            +transition(all, 250ms, cubic-bezier(0.190, 1.000, 0.220, 1.000))

            .wrapper_corners_card
                display: block
                position: absolute

                width: 100%
                height: 100%

                left: 0
                top: 0

                .lounge_card_border_1
                    display: block
                    position: absolute

                    width: calc(100% - 16px)
                    height: calc(100% - 16px)

                    left: 8px
                    top: 8px

                    border: 2px solid rgba(125, 190, 109, 0.4)

                    +border-radius(4px)

                    .lounge_card_border_2
                        display: block
                        position: absolute

                        width: calc(100% - 6px)
                        height: calc(100% - 6px)

                        left: 3
                        top: 3

                        border: 2px solid rgba(125, 190, 109, 0.2)

                        +border-radius(2px)

                        img
                            display: block
                            position: absolute

                            width: 32px
                            height: 32px

                        img:nth-child(1)
                            left: 4
                            top: 4
                        img:nth-child(2)
                            +transform(rotate(90deg))
                            right: 4
                            top: 4
                        img:nth-child(3)
                            +transform(rotate(-90deg))
                            left: 4
                            bottom: 4
                        img:nth-child(4)
                            +transform(rotate(180deg))
                            right: 4
                            bottom: 4

            .wrapper_herb_card
                +display-flex()
                +justify-content(center)
                position: relative

                width: 100%
                height: 232px
        
                overflow: hidden

                margin-bottom: 32px

                margin-top: 40px

                text-align: center

                img
                    display: block

                    height: 100%
                    width: auto

            .wrapper_text_card
                display: block
                position: relative
                h4
                    font-family: Bebas Neue Book
                    text-transform: uppercase
                    letter-spacing: 4px
                    margin-bottom: 4px
                p
                    font-family: Lora Regular
                    font-size: 16px
                    color: rgba(0,0,0,0.4)
