
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"../css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"../css/general_all.css" }
	%body
		-# Достижение
		%section.achievment_page
			%figure.achievment_on_page
				%img{ :src=>"../images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
				%figcapation
					%h4.name Летняя ночь
					-# Название достиженияf
					%p.status 21.09.15
					-# Дата получения достижения / Достижение не получено
					%p.description Проработайте всю ночь летом
					-# Описание достижения
		-#  Бэкграунд