
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
	%body
		%section.dashboard.under_popup
			%header#header
				%img{ :src=>"./images/logo.svg" , :alt=>"Уникальные Кальянные"}
				%nav
					%a{:id=>"login_btn"} Виталий Пихонт
					%a{:id=>"signup_btn"} Меню
					%img.menu{ :src=>"./images/menu.svg" , :alt=>"Меню"}
			%hr
			%section.username
				%h1	Виталий Пихонт
				%p Санкт-Петербург, Россия
				%button.button-dark#n_o_a Забронировать столик
				%button.button-dark Пригласить на встречу
			%section.progress_bar	
				%p 4525 очков для следующиего уровня
				.progress_bar_bg
					.progress

			%section.user_achievments
				%header
					%h4 Достижения
					.number_of 3/25
				%section.wrapper_for_ach
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
			%section.user_achievments
				%header
					%h4 Навыки
					.number_of 3/25
				%section.wrapper_for_ach
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15

			%section.bottom_rating
