%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/pikaday.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/jquery.mask.min.js" }
		%script{ :src => "./js/underscore-min.js" }
		%script{ :src => "./js/moment-with-locales.js" }
		%script{ :src => "./js/lib/pikaday.js" }
		%script{ :src => "./js/animation.js" }
		%script{ :src => "./js/fx.js" }
		%script{ :src => "./js/dashboard.js" }
		%script{ :src => "./js/openapi.js" }
		%script{ :src => "./js/lib/d3.js" }
		%script{ :src => "./js/data.js" }
		%script{ :src => "./js/nodes.js" }
		%script{ :src => "./js/header.js" }

		-# Habmurger
		%script{ :src => "./js/lib/snap.svg-min.js" }
		%script{ :src => "./js/lib/svgicons-config.js" }
		%script{ :src => "./js/lib/svgicons.js" }

	%body#html_body
		-# Form
		.wrapper.center-center
			%section#error_password.error_tooltip
				Данные введены неверно! Попробуйте ввести еще раз.
			%section.popup{:id => 'reserv_form'}
				%header
					%h2 Забронировать столик
					%p.h2_subtitle
						Выберите время для желаемого бронирования
				%form{:action => "", :method => "get"}
					%select{:name=>"lounge"}
						%option
							Кальянная
					-# %select{:name=>"table"}
					-# 	%option
					-# 		Столик
					%select{:name=>'client_count'}
						%option Количество гостей
						%option{:value => '4'} Трое или меньше
						%option{:value => '5'} От четырёх до пяти

					%input{:id=> 'datepicker', :type => "text", :name => "visit_date", :placeholder => "Дата"}
					%select{:name=>'visit_time'}
						%option{:value => nil} время
						%option{:value => '17:00', :'data-time' => '1700'} 17:00
						%option{:value => '17:30', :'data-time' => '1730'} 17:30
						%option{:value => '18:00', :'data-time' => '1800'} 18:00
						%option{:value => '18:30', :'data-time' => '1830'} 18:30
						%option{:value => '19:00', :'data-time' => '1900'} 19:00
						%option{:value => '19:30', :'data-time' => '1930'} 19:30
						%option{:value => '20:00', :'data-time' => '2000'} 20:00
						%option{:value => '20:30', :'data-time' => '2030'} 20:30
						%option{:value => '21:00', :'data-time' => '2100'} 21:00
						%option{:value => '21:30', :'data-time' => '2130'} 21:30
						%option{:value => '22:00', :'data-time' => '2200'} 22:00
						%option{:value => '22:30', :'data-time' => '2230'} 22:30
						%option{:value => '23:00', :'data-time' => '2300'} 23:00


					-#%input{:type => "text", :name => "visit_time", :placeholder => "Время"}
					%button{:type=>"sumbit", :name=>"sumbit"} Забронировать
		-# Form
		.wrapper.h_v_center
			%section.popup_middle{:id => 'reserv_succes_form'}
				%header
					%h2 Заявка на бронирование подана
					%p.h2_subtitle
						Вы подали заявку на бронирование столика <span id="visit_date_result">21 мая</span> с <span id="visit_time_result">18:00</span> в "Liberty". В ближайшее время вам позвонят для подтверждения заявки
				%form{:action => "", :method => "get"}
					%button{:type=>"sumbit", :name=>"sumbit"} Отлично
		-# Достижения
		.wrapper_2#all_ach_wrapper
			%section.popup_vertical{:id => 'all_ach'}
				.popup_vertical_symbol
					%img{:src=>"./images/achievments/symbol_ach.svg"}
				%header.popup_vertical_header
					%a.i_l Назад
					%h5 Достижения
				%section.wrapper_for_ach
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
		-# Навыки
		.wrapper_2
			%section.popup_vertical{:id => 'all_talents'}
				.popup_vertical_symbol
					%img{:src=>"./images/achievments/symbol_ach.svg"}
				%header.popup_vertical_header
					%a.i_l Назад
					%h5 Навыки
				%img{ :src=>"./images/talents/talents.svg" , :alt=>"Навыки"}
		-# Достижение
		.wrapper_2.center-center
			%section.popup_overall{:id => 'achivka'}
				%img{:src=>"./images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
				%h2 Летняя ночь
				%h4 21.09.15
				%p Проработайте всю ночь летом

		-# Color Overlay
		#color_overlay.color_overlay

		%section.dashboard{:id => 'main_content'}
			%header#header
				%img{ :src=>"./images/logo.svg" , :alt=>"Уникальные Кальянные"}
				%nav
					%a{:id=>"login_header_btn"} Виталий Пихонт
					-# %img.menu{ :src=>"./images/menu.svg" , :alt=>"Меню"}
					#menu_header_btn.menu{:data => {'icon-name' => 'hamburger'}}
			%hr
			%section.username
				%h1	Виталий Пихонт
				%p Санкт-Петербург, Россия
				%button.button-dark#n_o_a Забронировать столик
				%button.button-dark Пригласить на встречу
			%section.progress_bar
				%p
					<span>4525</span> очков для следующиего уровня
				.progress_bar_bg
					.progress

			%section.user_achievments
				%header
					%h4 Достижения
					#dashboard_ach_btn.number_of 3/25
				%section.wrapper_for_ach#achievements
					%figure{:id => 'dashboard_open_ach_btn'}
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
			%section.user_achievments
				%header
					%h4 Навыки
					#dashboard_talents_btn.number_of 3/25
				%section.wrapper_for_ach#skills
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15

			%section.bottom-rating
				%article
					%header
						%h4 Брони
					%table
						%thead
							%tr
								%th Кальянная
								%th Дата
								%th Статус
						%tbody#reserve_table_body
							%tr
								%td
									%h6.color-limon Либерти
								%td.td-date 23 июня 2015 20:30 - 23:00
								%td 5 человек
								%td
									Скоро
									%br
									%span.color-orange Отменить
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 4 человека
								%td Прошла
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 2 человека
								%td Прошла
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 7 человека
								%td Прошла
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 3 человека
								%td Прошла
				%article
					%header
						%h4 Посещения
					%table
						%thead
							%tr
								%th Кальянная
								%th Дата
								%th Сумма
								%th Опыт
						%tbody
							%tr
								%td
									%h6.color-limon Либерти
								%td.td-date 23 июня 2015 20:30 - 23:00
								%td 1360 рублей
								%td
									136 HP
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 900 рублей
								%td 90 HP
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 900 рублей
								%td 90 HP
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 900 рублей
								%td 90 HP
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 900 рублей
								%td 90 HP
				%article
					%header
						%h4 Рейтинг
					%fieldset
						%input#rating-per-month{ :type => 'radio' , :name => 'tabs' , :checked => 'true' }
						%label{ :for => 'rating-per-month' , :title => 'За месяц' }
							%h6 За месяц

						%input#rating-per-all-time{ :type => 'radio' , :name => 'tabs' }
						%label{ :for => 'rating-per-all-time' , :title => 'За всё время' }
							%h6 За все время

						%section#section-per-month
							%ul.leaders
								%li
									%span 1. Алексей Иванов
									%span 210 800

							%ul.leaders
								%li
									%span 1. Алексей Иванов
									%span 210 800
							%ul.leaders
								%li
									%span 2. Антон Максимов
									%span 175 800
							%ul.leaders
								%li
									%span 3. Федор Смолов
									%span 160 800
							%ul.leaders
								%li
									%span 4. Антон Максимов
									%span 100 800
							%ul.leaders
								%li
									%span 5. Федор Смолов
									%span 90 800

							.border-bottom-dashed

							%ul.leaders
								%li
									%span 29. Виталий Пихонт
									%span 16 800
						%section#section-per-all-time
							Секция за все время
