
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
	%body
		%section.dashboard
			%header#header
				%img{ :src=>"./images/logo.svg" , :alt=>"Уникальные Кальянные"}
				%nav
					%a{:id=>"login_btn"} Войти
					%a{:id=>"signup_btn"} Зарегистрироваться
					%img.menu{ :src=>"./images/menu.svg" , :alt=>"Меню"}
			%figure
				%img.profile_photo{:src=>"./images/for-photo.svg" , :alt=>"Profile photo", :width=>"160px"}
				%figcapation
					%h1	Виталий Пихонт
					%p Санкт-Петербург, Россия
			%section.progress_bar	
				%p 4525 очков для следующиего уровня
				%progress{ :value => 50 , :max => 100}
				%span.level-statistic-maxmin
					%span 700
					%span 5225

			%button.button-dark Забронировать место
			%button.button-dark Назначить встречу

			%section.user_achievments
				%header
					%h4 Достижения
					%span.color-orange 3/25
					%a Посмотреть все
				%figure
					%img.achievments_icon{:src=>"./images/skills_masks.svg", :width=>"80px"}
					%ficapation
						%p Маскировка
						%p 21.09.15
				%figure
					%img.achievments_icon{:src=>"./images/skills_masks.svg", :width=>"80px"}
					%ficapation
						%p Маскировка
						%p 21.09.15
				%figure
					%img.achievments_icon{:src=>"./images/skills_masks.svg", :width=>"80px"}
					%ficapation
						%p Маскировка
						%p 21.09.15
				%figure
					%img.achievments_icon{:src=>"./images/skills_masks.svg", :width=>"80px"}
					%ficapation
						%p Маскировка
						%p 21.09.15
				%figure
					%img.achievments_icon{:src=>"./images/skills_masks.svg", :width=>"80px"}
					%ficapation
						%p Маскировка
						%p 21.09.15