%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/jquery.mask.min.js" }
		%script{ :src => "./js/underscore-min.js" }
		%script{ :src => "./js/moment-with-locales.js" }
		%script{ :src => "./js/lib/d3.js" }
		%script{ :src => "./js/animation.js" }
		%script{ :src => "./js/fx.js" }
		%script{ :src => "./js/dashboard_hmaster.js" }
		%script{ :src => "./js/skilldata.js" }
		%script{ :src => "./js/skillviewh.js" }
		%script{ :src => "./js/skillgen.js" }
		%script{ :src => "./js/menu.js" }
		%script{ :src => "./js/profile.js" }
		%script{ :src => "./js/achievements.js" }

		-# Habmurger
		%script{ :src => "./js/lib/snap.svg-min.js" }
		%script{ :src => "./js/lib/svgicons-config.js" }
		%script{ :src => "./js/lib/svgicons.js" }
	%script{type: "text/template", id: 'user_rating_tpl'}
		%li
			%span {{ number }}. {{ name }}
			%span {{ exp }}
	%script{type: "text/template", id: 'work_tpl'}
		%tr
			%td
				%h6.color-blue {{ lounge }}
			%td.td-date {{ work_at }} - {{ end_work_at }}
			%td {{ amount }} XP
	%body#html_body
		.wrapper_2#edit-profile-wrapper
			-# Form
			%section.popup_horizontal{:id => 'edit-profile'}
				.popup_horizontal_symbol
					-# %img{:src=>"./images/achievments/symbol_ach.svg"}
				%header.popup_horizontal_header
					%a.i_l Назад
					-#%h5 Редактировать профиль
				%section.edit_profile_list
					%form.edit_profile_form{:action => "", :method => "get"}
						%header
							%h2 Редактирование профиля
							%h3 Хорошо заполненный профиль способствует увеличению полезных знакомств
						%fieldset
							%legend	Основная информация
							%input{:type => "text", :name => "name", :placeholder => "ФИО"}
							%input{:type => "text", :name => "city", :placeholder => "Город"}
							%input{:type => "text", :name => "employe", :placeholder => "Рабочая должность"}
							%input{:type => "text", :name => "work_company", :placeholder => "Компания работодатель"}
							%input.large{:type => "text", :name => "hobby", :placeholder => "Напишите о ваших увлечениях, так будет проще найти людей со схожими интересами."}
						%fieldset
							%legend	Регистрационные данные
							%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
							%input{:type => "text", :name => "email", :placeholder => "E-mail"}
						%fieldset
							%legend	сменить пароль
							%input{:type => "password", :name => "old_password", :placeholder => "Старый пароль"}
							%input{:type => "password", :name => "new_password", :placeholder => "Новый пароль"}
						%button{:type=>"sumbit", :name=>"sumbit"} Сохранить
		-# Достижения
		.wrapper_2#all_ach_wrapper
			%section.popup_vertical{:id => 'all_ach'}
				.popup_vertical_symbol
					%img{:src=>"./images/achievments/symbol_ach.svg"}
				%header.popup_vertical_header
					%a.i_l Назад
					%h5 Достижения
				%section.wrapper_for_ach
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%ficapation
							%h6 Маскировка
							%p 21.09.15
		-# Навыки
		.wrapper_2#all-skill
			%section.popup_vertical{:id => 'all_talents'}
				.popup_vertical_symbol
					%img{:src=>"./images/achievments/symbol_ach.svg"}
				%header.popup_vertical_header
					%a.i_l Назад
					%h5 Навыки
				#skill-view
				-#%img{ :src=>"./images/talents/talents.svg" , :alt=>"Навыки"}
		-# Достижение
		.wrapper_2.center-center
			%section.popup_overall{:id => 'achivka'}
				%img{:src=>"./images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
				%h2.skill_header
				%h4.skill_state
				%p.skill_description
		.wrapper_2.center-center
			%section.popup_overall{:id => 'skill'}
				%img{:src=>"./images/achievments/1.svg" , :alt=>"В альт отправляем название достижения"}
				%h2.skill_header
				%h4.skill_state
				%p.skill_description
				%button Получить навык
		-# Меню
		.wrapper.center-center{:id => 'wrapper_menu'}
			%section#menu_left_part.left_menu
				%img{ :src=>"./images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }
				%span
					%h4 Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces


				%footer
					%p Copyright © 2015 Уникальные Кальянные
					%p
						Создано в
						%img{ :src=>"./images/cpdbbk.svg" , :alt=>"CPD&BBK" , :height=>"24px"}
			-# Left bar
			%section#menu_right_part.right_menu
				%img#closing.pointer{ :src=>"./images/cross.svg" , :alt=>"Закрыть"}
				-# %a
				-# 	%h3#main_nav_btn Главная страница
				-# 	%p Основная информация
				%a
					%h3#lounges_nav_btn Ложи
					%p Уникальные заведения

				%a
					%h3#philosophy_nav_btn Философия
					%p Наши ценности

				%a
					%h3#community_nav_btn Сообщество
					%p Полезно быть своим
				%a
					%h3 Франшиза
					%p Открыть Ложу

				%button#go_login_from_menu_btn Круг избранных
		-# Color Overlay
		#color_overlay.color_overlay

		%section.dashboard{:id => 'main_content'}
			%header#header
				%img{ :src=>"./images/logo.svg" , :alt=>"Уникальные Кальянные"}
				%nav
					%a#edit_profile_btn Редактировать профиль
					%a#logout_btn Выйти
					#menu_header_btn.menu.pointer{:data => {'icon-name' => 'hamburger'}}
			%hr
			%section.username
				%h1	Виталий Пихонт
				%p#city_user <span>Санкт-Петербург</span>, Россия
				%p#hookmaster_description Работаю в сети с 2012 года. Стараюсь вседа делать лучшие кальяны, приходите в мои смены!
			%section.progress_bar
				%p
					<span id='need_points'>4525</span> очков до <span id='next_level'></span> уровня
				.progress_bar_bg
					.progress

			%section.user_achievments
				%header
					%h4 Достижения
					#dashboard_ach_btn.number_of 3/25
				%section.wrapper_for_ach#achievements
					%figure{:id => 'dashboard_open_ach_btn'}
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
			%section.user_achievments
				%header
					%h4 Навыки
					#dashboard_talents_btn.number_of 3/25
				%section.wrapper_for_ach#skills
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15
					%figure
						%img.achievments_icon{:src=>"./images/achievments/1.svg"}
						%figcapation
							%h6 Маскировка
							%p 21.09.15

			%section.bottom-rating
				%article#works
					%header
						%h4 Посещения
					.nodata
						нет данных
					%table#works_table
						%thead
							%tr
								%th Кальянная
								%th Дата
								%th Опыт
						%tbody
							%tr
								%td
									%h6.color-limon Либерти
								%td.td-date 23 июня 2015 20:30 - 23:00
								%td 1360 рублей
								%td
									136 HP
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 900 рублей
								%td 90 HP
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 900 рублей
								%td 90 HP
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 900 рублей
								%td 90 HP
							%tr
								%td
									%h6.color-blue Облака
								%td.td-date 19 июня 2015 20:30 - 23:00
								%td 900 рублей
								%td 90 HP

				%article
					%h4 Бонусы
					%aside
						%figure
							%img{:src=>"./images/achievments/1.svg"}
							%span.popover
								Трудоголик
								%br
								отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
						%figure
							%img{:src=>"./images/achievments/1.svg"}
							%span.popover
								Трудоголик
								%br
								отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
						%figure
							%img{:src=>"./images/achievments/1.svg"}
							%span.popover
								Трудоголик
								%br
								отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца

					%h4 Штрафы
					%aside
						%figure
							%img{:src=>"./images/achievments/1.svg"}
							%span.popover
								Трудоголик
								%br
								отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
						%figure
							%img{:src=>"./images/achievments/1.svg"}
							%span.popover
								Трудоголик
								%br
								отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца
						%figure
							%img{:src=>"./images/achievments/1.svg"}
							%span.popover
								Трудоголик
								%br
								отработал большее количество смен, чем остальные в твоём городе в течении 1-го месяца


				%article
					%header
						%h4 Рейтинг
					%fieldset
						%input#rating-per-month{ :type => 'radio' , :name => 'tabs' , :checked => 'true' }
						%label{ :for => 'rating-per-month' , :title => 'За месяц' }
							%h6 За месяц

						%input#rating-per-all-time{ :type => 'radio' , :name => 'tabs' }
						%label{ :for => 'rating-per-all-time' , :title => 'За всё время' }
							%h6 За все время

						%section#section-per-month
							%ul.leaders

						%section#section-per-all-time
							Секция за все время
