%html{:lang => "ru"}
    %head
        %meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
        %link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
        %link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
        %link{ :rel=>"stylesheet" , :href=>"./css/pages_lounges_liberty.css" }
        %script{ :src => "./js/lib/jquery-2.1.4.min.js" }
        %script{ :src => "./js/lib/jquery.gsap.min.js" }
        %script{ :src => "./js/lib/TweenLite.min.js" }
        %script{ :src => "./js/lib/TweenMax.min.js" }
        %script{ :src => "./js/lib/jquery.mask.min.js" }
        %script{ :src => "./js/lib/d3.min.js" }
        %script{ :src => "./js/lib/snap.svg-min.js" }
        %script{ :src => "./js/lib/svgicons-config.js" }
        %script{ :src => "./js/lib/svgicons.js" }
        %script{ :src => "./js/lib/underscore-min.js" }
        %script{ :src => "./js/lib/moment-with-locales.js" }
        %script{ :src => "./js/lib/moment-duration-format.js" }
        %script{ :src => "./js/lib/pikaday.js" }
        %script{ :src => "./js/lib/openapi.js" }
        %script{ :src => "./js/lib/snap.svg-min.js" }
        %script{ :src => "./js/lib/svgicons-config.js" }
        %script{ :src => "./js/lib/svgicons.js" }

        %script{ :src => "./js/data.js" }
        %script{ :src => "./js/nodes.js" }
        %script{ :src => "./js/animation.js" }
        %script{ :src => "./js/fx.js" }
        %script{ :src => "./js/header.js" }
        %script{ :src => "./js/menu.js" }
        %script{ :src => "./js/page_lounges.js" }
        %script{ :src => "./js/map.js" }
        %title Либерти
    %body#html_body
        -# code acept
        .wrapper.h_v_center
            %section.popup_middle{:id => 'code_form'}
                %header
                    %h2 Подтверждение
                    %p.h2_subtitle
                        Мы отправили смс с кодом подтверждения на ваш номер. <br>
                        Подтверждая номер, вы вступаете в тайное общество.
                    %input{:type => "text", :name => "code", :placeholder => "Код подтверждения"}
                    %button.button-arrow{:type=>"button", :name=>"ok"} Подтвердить

        -# Регистрация
        .wrapper.center-center{:id => 'wrapper_signup'}
            %section.popup{:id => 'signup_form'}
                %header
                    %h2 Регистрация
                    %p.h2_subtitle
                        Регистрация нового пользователя. Если у вас уже есть аккаунт —
                        %a{:href =>"#login"} войдите.
                %form{:action => "", :method => "get", :autocomplete => "off"}
                    %input{:style => "display:none"}
                    %input{:style => "display:none", :type => "password"}
                    %input{:type => "text", :name => "phone", :placeholder => "Телефон +7XXXXXXX"}
                    %input{:type => "text", :name => "name", :placeholder => "ФИО"}
                    %input{:type => "password", :name => "password", :placeholder => "Пароль"}
                    %button.button-arrow#open_liberty_btn{:type=>"sumbit", :name=>"sumbit"} Войти

        -# Логин
        .wrapper.center-center{:id => 'wrapper_login'}
            %section#error_password.error_tooltip
                Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
            %section.popup{:id => 'login_form'}
                %header
                    %h2 Войти
                    %p.h2_subtitle
                        Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
                        %a{:href =>"#registration"} зарегистрируйтесь.
                %form{:action => "", :method => "get"}
                    %input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
                    %input{:type => "password", :name => "password", :placeholder => "Пароль"}
                    %button.button-arrow{:type=>"sumbit", :name=>"sumbit"} Войти
                %a#recover_btn{:href =>"#forgot_pass"} Вы забыли пароль?
        -# Забыли пароль?
        .wrapper.center-center{:id => 'wrapper_pass'}
            %section#error_password.error_tooltip
                Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
            %section.popup{:id => 'pass_form'}
                %header
                    %h2 Восстановление пароля
                    %p.h2_subtitle
                        Мы отправим вам новый пароль по смс,<br>если у вас еще нет аккаунта -
                        %a{:href =>"#registration"} зарегистрируйтесь.
                    %input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
                    %button.button-arrow{:type=>"button", :name=>"ok"} Отправить
        -# Меню
        .wrapper.center-center{:id => 'wrapper_menu'}
            %section#menu_left_part.left_menu
                %img#uhp_logo.pointer{ :src=>"./images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }
                %span
                    %h4 Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...
                    %p 24 июл в 14:44 от #unihuqhookahplaces

                    %h5 Она задала нам неожиданный вопрос
                    %p 24 июл в 14:44 от #unihuqhookahplaces

                    %h5 Она задала нам неожиданный вопрос
                    %p 24 июл в 14:44 от #unihuqhookahplaces

                    %h5 Она задала нам неожиданный вопрос
                    %p 24 июл в 14:44 от #unihuqhookahplaces

                    %h5 Она задала нам неожиданный вопрос
                    %p 24 июл в 14:44 от #unihuqhookahplaces


                %footer
                    %p Copyright © 2015 Уникальные Кальянные
                    %p
                        Создано в
                        %img{ :src=>"./images/cpdbbk.svg" , :alt=>"CPD&BBK" , :height=>"24px"}
            -# Left bar
            %section#menu_right_part.right_menu
                %img#closing.pointer{ :src=>"./images/cross.svg" , :alt=>"Закрыть"}
                -# %a
                -#  %h3#main_nav_btn Главная страница
                -#  %p Основная информация
                %a
                    %h3#lounges_nav_btn Ложи
                    %p Уникальные заведения

                %a
                    %h3#philosophy_nav_btn Философия
                    %p Наши ценности

                %a
                    %h3#community_nav_btn Сообщество
                    %p Полезно быть своим

                %button.button-arrow#go_login_from_menu_btn Круг избранных
        -# Попапы кальянщиков
        #wrapper_hm_popup
            -# Карточка 1
            %section.hm_popup#popup_hm_1
                %img.cross_white_popup.pointer{ :src=>"./images/cross_black.svg" }

                %header
                    %h2 Илья Пономарев
                    %p «Либерти»
                %section
                    %p Сдержан. Обладает тонким чувством стиля во всем: подача, манеры, внешний вид. В этом человеке всегда присутствуют 2 личности, и за этим симбиозом следить очень интересно.
            -# Карточка 2
            %section.hm_popup#popup_hm_2
                %img.cross_white_popup.pointer{ :src=>"./images/cross_black.svg" }

                %header
                    %h2 Филипп Бойцов
                    %p «Либерти»
                %section
                    %p Сдержан. Обладает тонким чувством стиля во всем: подача, манеры, внешний вид. В этом человеке всегда присутствуют 2 личности, и за этим симбиозом следить очень интересно.
            -# Карточка 3
            %section.hm_popup#popup_hm_3
                %img.cross_white_popup.pointer{ :src=>"./images/cross_black.svg" }

                %header
                    %h2 Игорь Коновалов
                    %p «Либерти»
                %section
                    %p Сдержан. Обладает тонким чувством стиля во всем: подача, манеры, внешний вид. В этом человеке всегда присутствуют 2 личности, и за этим симбиозом следить очень интересно.


        -# Color Overlay
        #color_overlay.color_overlay

        -# Хидер
        %header#header.pages_lounges_header
            %img#menu_header_logo.pointer{ :src=>"./images/liberty/logo.svg", :alt=>"Уникальные Кальянные"}
            %nav
                %a{:id=>"login_header_btn", :class=>"logged_out"} Войти
                %a{:id=>"signup_header_btn", :class=>"logged_out"} Зарегистрироваться
                %a{:href=>"/dashboard_client.html", :class=>"logged_in"} Мой профиль
                %a{:id=>"logout_btn", :class=>"logged_in"} Выйти
                %img#menu_header_btn.pointer{ :src=>"./images/liberty/menu.svg", :alt=>"Меню"}

        -# Основной контент
        %main{:id => 'main_content'}
            -# Первый блок
            %section.lounges_block_1
                -# Контент
                %section.content
                    %header
                        %h1 Либерти
                        %p Sed et ceteri codices originale sit unum*

                    -# Адрес, телефон и время работы
                    %section.information
                        %figure
                            %img{ :src=>"./images/liberty/location.svg", :alt=>"Город", :height=>"16px" }
                            %figcapation Санкт-Петербург,<br>улица Маяковского 27
                        %figure
                            %img{ :src=>"./images/liberty/phone.svg", :alt=>"Город", :height=>"16px" }
                            %figcapation +7 (812) 777-38-08
                        %figure
                            %img{ :src=>"./images/liberty/clock.svg", :alt=>"Город", :height=>"16px" }
                            %figcapation
                                Пн - Пт: с 17:00 до последнего гостя
                                %br
                                Сб - Вс: с 16:00 до последнего гостя

                    -# Кнопка бронирования
                    %section.actions
                        %button.button-arrow.btn_arrow#reserve_table_btn Забронировать столик
                        -#   Связаться с нами

                -# Герб
                %section.blazon
                    -# Герб
                    %img.blazon{ :src=>"./images/liberty/blazon.svg"}
                    -# Свечение
                    .blazon_glow
                    .blazon_glow_2

                -# Подпись
                %footer
                    %p *Оригинал один - остальное копии.

            -# 2. Описание
            %section.lounges_block_2
                .text-wrapper-liberty
                    %h4 Первая в мире территория для курения со свободной оплатой и уникальным подходом к каждому гостю
                    %p Почему же Вам стоит выбрать именно эту кальянную Петербурга? Всех привлекает наша особенная атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.

            -# 3. Слайдер
            %section.lounges_block_3
                %section.cd-hero
                    %ul.cd-hero-slider.autoplay
                        %li.selected
                            %img.img-slider{:src => "./images/liberty/slider/1.jpg"}
                        %li
                            %img.img-slider{:src => "./images/liberty/slider/2.jpg"}
                        %li
                            %img.img-slider{:src => "./images/liberty/slider/3.jpg"}
                        %li
                            %img.img-slider{:src => "./images/liberty/slider/4.jpg"}
                        %li
                            %img.img-slider{:src => "./images/liberty/slider/5.jpg"}

                    .cd-slider-nav
                        %nav
                            %ul
                                %li.selected
                                    %img.img-nav.pointer{:src => "./images/liberty/slider/1.jpg"}
                                %li
                                    %img.img-nav.pointer{:src => "./images/liberty/slider/2.jpg"}
                                %li
                                    %img.img-nav.pointer{:src => "./images/liberty/slider/3.jpg"}
                                %li
                                    %img.img-nav.pointer{:src => "./images/liberty/slider/4.jpg"}
                                %li
                                    %img.img-nav.pointer{:src => "./images/liberty/slider/5.jpg"}
            -# 4. Кальянщики
            %section.lounges_block_4

                %header
                    %h2 Кальянные мастера
                    %p Уникальная Кальянная «Резерв»
                    %p В Уникальных Кальянных работают только профессионалы своего дела. Наши кальянные мастера подходят к смешиванию табака и созданию вкуса как к тонкому искусству. Вы всегда сможете положиться на них в вопросах качества.альным подходом к уже обыденным вещам.

                .wrapper_hm_cards
                    -# Илья Пономарев
                    %figure#btn_hm_1.pointer
                        .wrapper_hm_photo
                            .glow_html
                            .hm_photo
                                %img{:src => "./images/liberty/hm_photo_placeholder.svg"}
                            %img.hm_lights{:src => "./images/liberty/hm_photo_lights.svg"}
                        %figcapation.wrapper_hm_name
                            %h2 Илья Пономарев
                            %p «Либерти»
                        %button.button_round Посмотреть
                        .wrapper_storke_corner
                            .hm_stroke_1
                            .hm_stroke_2
                            -# .hm_corner_wrapper
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}

                    -# Филипп Бойцов
                    %figure#btn_hm_2.pointer
                        .wrapper_hm_photo
                            .glow_html
                            .hm_photo
                                %img{:src => "./images/liberty/hm_photo_placeholder.svg"}
                            %img.hm_lights{:src => "./images/liberty/hm_photo_lights.svg"}
                        %figcapation.wrapper_hm_name
                            %h2 Филипп Бойцов
                            %p «Либерти»
                        %button.button_round Посмотреть
                        .wrapper_storke_corner
                            .hm_stroke_1
                            .hm_stroke_2
                            -# .hm_corner_wrapper
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}

                    -# Игорь Коновалов
                    %figure#btn_hm_3.pointer
                        .wrapper_hm_photo
                            .glow_html
                            .hm_photo
                                %img{:src => "./images/liberty/hm_photo_placeholder.svg"}
                            %img.hm_lights{:src => "./images/liberty/hm_photo_lights.svg"}
                        %figcapation.wrapper_hm_name
                            %h2 Игорь Коновалов
                            %p «Либерти»
                        %button.button_round Посмотреть
                        .wrapper_storke_corner
                            .hm_stroke_1
                            .hm_stroke_2
                            -# .hm_corner_wrapper
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}
                            -#  %img.hm_corner_img{:src => "./images/liberty/hm_corner.svg"}

            -# 5. Карта
            %section.lounges_block_5

                -# Текстовый блок
                %section#map_wrapper
                    %header
                        %h3 Санкт-Петербург
                        %p Центральный район

                    %p Уникальная Кальянная “Либерти” расположена в историческом центре Санкт-Петербурга, практически в самом сердце города.

                    %p
                        %img{:src => "./images/liberty/location.svg"}
                        %small Россия, Санкт-Петербург, улица Маяковского 27

                -# Карта
                .map_overlay
                .map_wrapper{:data => {'map' => {'lat' => '59.9404797', 'lng' => '30.3540543'}}}

            -# 6. Контакты
            %section.lounges_block_6
                %header
                    %h2 Контакты
                    %h5 По вопросам справки обращайтесь по телефону в рабочее время:

                %h6 Адрес:
                %p Санкт-Петербург, улица Маяковского 27

                %h6 Контактный номер:
                %p +7 (812) 777-38-08

                %h6 Рабочие часы:
                %p
                    Пн - Пт: с 17:00 до последнего гостя
                    %br
                    Сб - Вс: с 16:00 до последнего гостя

                %h6 Социальные сети
                %p
                    %a{:ref=>"http://vk.com/libertyfamily"} Группа Вконтакте

            -# 7. Присоединятесь!
            %section.lounges_block_7
                .wrapper_sun
                    %img.sun{ :src=>"./images/liberty/sun.svg" , :alt=>"Звезда"}
                    %img.sun_rotation{ :src=>"./images/liberty/sun_lines.svg"}

                    .sun_glow
                    .sun_glow_2

                .wrapper_sun_text
                    %h3 Omnis qui quaerit invenit*
                    %h6 *Всякий ищущий находит
                    %br
                    %button.button-arrow.btn_arrow Зарегистрироваться
            -# %footer#true_footer
            -#  © 2015 Уникальные Кальянные. Все права защищены. Сделано с любовью в CPD&BBK.

        %script{ :src => "./js/bottom.js" }