%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/jquery.mask.min.js" }
		%script{ :src => "./js/underscore-min.js" }
		%script{ :src => "./js/openapi.js" }

		-# Hamburger
		%script{ :src => "./js/lib/snap.svg-min.js" }
		%script{ :src => "./js/lib/svgicons-config.js" }
		%script{ :src => "./js/lib/svgicons.js" }
		%script{ :src => "./js/lib/d3.js" }
		%script{ :src => "./js/data.js" }
		%script{ :src => "./js/nodes.js" }
		%script{ :src => "./js/header.js" }
	%body#html_body{:data => {'page' => 'philosophy'}}
		-# Логин
		.wrapper.center-center{:id => 'wrapper_login'}
			%section.popup{:id => 'login_form'}
				%header
					%h2 Войти
					%p.h2_subtitle
						Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button{:type=>"sumbit", :name=>"sumbit"} Войти
				-# %a#recover_btn{:href =>"#forgot_pass"} Вы забыли пароль?

		-# Регистрация
		.wrapper.center-center{:id => 'wrapper_signup'}
			%section.popup{:id => 'signup_form'}
				%header
					%h2 Регистрация
					%p.h2_subtitle Регистрация нового пользователя. Если у вас уже есть аккаунт — войдите.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%input{:type => "text", :name => "name", :placeholder => "ФИО"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button#open_liberty_btn{:type=>"sumbit", :name=>"sumbit"} Войти
		-# Меню
		.wrapper.center-center{:id => 'wrapper_menu'}
			%section#menu_left_part.left_menu
				%img{ :src=>"./images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }
				%span
					%h4 Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

				%footer
					%p Copyright © 2015 Уникальные Кальянные
					%p
						Создано в
						%img{ :src=>"./images/cpdbbk.svg" , :alt=>"CPD&BBK" , :height=>"24px"}
			-# Left bar
			%section#menu_right_part.right_menu
				%img#closing{ :src=>"./images/cross.svg" , :alt=>"Закрыть"}

				%a
					%h3#main_nav_btn Главная страница
					%p Основная информация
				%a
					%h3#lounges_nav_btn Ложи
					%p Уникальные заведения

				%a
					%h3#philosophy_nav_btn Философия
					%p Наши ценности

				%a
					%h3#community_nav_btn Сообщество
					%p Полезно быть своим
				%a
					%h3 Франшиза
					%p Открыть Ложу

				%button Войти

		-# Color Overlay
		#color_overlay.color_overlay
		%main{:id => 'main_content'}
			%header#header
				%img{ :src=>"./images/logo.svg" , :alt=>"Уникальные Кальянные"}
				%nav
					%a{:id=>"login_header_btn"} Войти
					%a{:id=>"signup_header_btn"} Зарегистрироваться

					#menu_header_btn.menu{:data => {'icon-name' => 'hamburger'}}
					-# %img.menu{ :id=>"menu_header_btn" , :src=>"./images/menu.svg" , :alt=>"Меню"}
			%section#philosophie_block1
				%img{ :src=>"./images/philosophie_h1.svg" , :alt=>"Оригинал один — остальное копии"}
			%section#philosophie_block2
				%blockquote
					%h4 «Не просто безликая сеть заведений для отдыха и встреч  без июминки»
					%cite — Игорь Коновалов
				%p С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи УК. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.  Пивлекает наша дружелюбная домашняя    атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.
				%button Прочитать историю
			%section#philosophie_block3
				%header
					%h3
						Наши принципы
						<br> являются фундаментом, основной для работы
					%h4
						Каждый клиент для нас уникален. Красота жизни заключается
						<br>  в ее неповторимости и оригинальности.
				.cont-wrap
					%p С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.
					%br
					%p Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи УК. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.  Пивлекает наша дружелюбная домашняя атмосфера. Мы начинали как место только "для своих".
					%br
					%p С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Привлекает наша дружелюбная домашняя атмосфера. Мы начинали как место только "для своих".
				.principles-wrap
					.principle
						%img{ :src => './images/philosophie_f_1.svg'}
						%h4 ЛОЯЛЬНОСТЬ
						%p Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.
					.principle
						%img{ :src => './images/philosophie_f_2.svg'}
						%h4 ОТКРЫТОСТЬ В ОБЩЕНИИ
						%p Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.
					.principle
						%img{ :src => './images/philosophie_f_3.svg'}
						%h4 ПРОФССИОНАЛИЗМ
						%p Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.
					.principle
						%img{ :src => './images/philosophie_f_4.svg'}
						%h4 ЖЕЛАНИЕ РАЗВИВАТЬСЯ
						%p Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.
					.principle
						%img{ :src => './images/philosophie_f_5.svg'}
						%h4 ЧЕСТНОСТЬ
						%p Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.
					.principle
						%img{ :src => './images/philosophie_f_6.svg'}
						%h4 ЖЕЛАНИЕ УЗНАВАТЬ НОВОЕ
						%p Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.
			%section#philosophie_block4
				%h3 Кальянный мастер
				%p Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю. Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.
				%br
				%h5 Игорь Коновалов
				%br
				%h6 Основатель франшизы
			%section#philosophie_block5
				%img{ :src=>"./images/sun.svg" , :alt=>"Звезда"}
				%h2 Ищущий да обретет
				%h6 Оригинал один - остальное копии
				%button Зарегистрироваться
