%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }

		%title Index fale
		%link{ :rel=>"stylesheet" , :href=>"src/css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/ukpace.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/style.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/lounges.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/fonts.css" }
		%link{ :rel=>"stylesheet" , :href=>"src/css/about.css" }
		%link{ :rel=>"stylesheet" , :href=>"bower_components/bootstrap-grid-only/css/grid12.css" }
		%link{ :rel=>"stylesheet" , :href=>"bower_components/font-awesome/css/font-awesome.min.css" }
	%body
		%main
			%section#liberty_block1
				-# Call to action
				%header
					%img{ :src=>"src/images/logo.svg" , :alt=>"Уникальные Кальянные" , :height=>"40px" }
					%nav
						%a Войти
						%a Зарегистрироваться
						%img{ :src=>"src/images/menu.svg" , :height=>"40px" }

				%section.informationlib
					%h1.orange-text ЛИБЕРТИ
					%h4 Sed et ceteri codices originale sit unum*
					%figure
						%img{ :src=>"src/images/location_gold.svg" , :alt=>"Город" , :height=>"16px" }
						%figcapation
							Санкт-Петербург,
							%br
							улица Маяковского 27
					%figure
						%img{ :src=>"src/images/phone.svg" , :alt=>"Город" , :height=>"16px" }
						%figcapation +7 (812) 922-71-99
					%figure
						%img{ :src=>"src/images/clock.svg" , :alt=>"Город" , :height=>"16px" }
						%figcapation
							Пн. - Пт.: с 17:00 до последнего гостя
							%br
							Сб. - Вс.: с 16:00 до последнего гостя
				%section.liberactions
					%button Забронировать столик	
					%button.button-dark Связаться с нами
				%footer
					%p Оригинал один - остальное копии
			
			%section#liberty_block2
				%h4 Первая в мире территория для курения со свободной оплатой и уникальным подходом к каждому гостю
				%h5 Почему же Вам стоит выбрать именно эту кальянную Петербурга? Во-первых, привлекает наша особенная атмосфера. Мы начинали как место только "для своих". С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Почему же Вам стоит выбрать именно эту кальянную Петербурга? Во-первых, привлекает наша особенная атмосфера.
				
			%section#liberty_block3.cd-hero
				%ul.cd-hero-slider.autoplay				
					%li.selected
						%img.img-slider{ :src=>"src/images/slider/1.jpg" }
					%li
						%img.img-slider{ :src=>"src/images/slider/2.jpg" }
					%li
						%img.img-slider{ :src=>"src/images/slider/3.jpg" }
					%li
						%img.img-slider{ :src=>"src/images/slider/4.jpg" }
					%li
						%img.img-slider{ :src=>"src/images/slider/5.jpg" }


					.cd-slider-nav
						%nav
							%ul
								%li.selected
									%img.img-nav{ :src=>"src/images/slider/1.jpg" }
								%li
									%img.img-nav{ :src=>"src/images/slider/2.jpg" }
								%li
									%img.img-nav{ :src=>"src/images/slider/3.jpg" }
								%li
									%img.img-nav{ :src=>"src/images/slider/4.jpg" }
								%li
									%img.img-nav{ :src=>"src/images/slider/5.jpg" }

				-# %article 1
				-# %article 2
				-# %article 3
				-# %article 4
				-# %article 5
				-# #nav
				-# 	#one 1
				-# 	#two 2
				-# 	#three 3
				-# 	#fourth 4
				-# 	#five 5

			%section#liberty_block_3-5
				%h2 Кальянные мастера
				%h5 
					Мы ставим своей целью не только подавать лучшие кальяны, но и помогать людям находить новые полезные знакомства. Тут вы можете выбраь место, дату, время 
					%br
					и выбрать одного или нескольких человек, с кем хотите встретиться.
				%br
				%img{ :src=>"src/images/shisha.svg" , :alt=>"Город" , :height=>"396px" }
				%img{ :src=>"src/images/shisha.svg" , :alt=>"Город" , :height=>"396px" }
				%img{ :src=>"src/images/shisha.svg" , :alt=>"Город" , :height=>"396px" }
			
			%section#liberty_block4
				%section#map_wrapper 
					%h3 Санкт-Петербург
					%h5 Центральный

					%p В первый же день было принято решение отказаться от стандартного позиционирования оплата стала свободной на усмотрение гостя или гостей.

					%img{ :src=>"src/images/location.svg" , :alt=>"Город" , :height=>"10px" }
					%small Россия, Санкт-Петербург, улица Маяковского 27

			%section#liberty_block5
				%h2 Контакты
				%h5 «Либерти» находится в самом центре Санкт-Петербурга!

				%h6 Адрес:
				%p Санкт-Петербург, улица Маяковского 27

				%h6 Контактный номер:
				%p +7 (812) 922-71-99

				%h6 Рабочие часы:
				%p 
					Понедельник - Пятница .................... с 17:00 и до последнего гостя
				%p
					Cуббота - Воскресенье .................... с 16:00 и до последнего гостя

%script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
%script(type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js")
%script(type="text/javascript" src="bower_components/requirejs/require.js")
%script(type="text/javascript" src="src/js/app/config.js")
%script(type="text/javascript" src="src/js/app/start.js")
%script(type="text/javascript" src="src/js/app/slider.js")




