%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/media.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/jquery.mask.min.js" }
		%script{ :src => "./js/underscore-min.js" }
		%script{ :src => "./js/openapi.js" }
		%script{ :src => "./js/moment-with-locales.js" }
		%script{ :src => "./js/lib/d3.min.js"}
		%script{ :src => "./js/ui.js" }
		%script{ :src => "./js/card.js" }
		%script{ :src => "./js/index.js" }
		%script{ :src => "./js/lib/d3.js" }
		%script{ :src => "./js/data.js" }
		%script{ :src => "./js/nodes.js" }
		%script{ :src => "./js/animation.js" }
		%script{ :src => "./js/fx.js" }
		%script{ :src => "./js/lounges.js" }
		%script{ :src => "./js/header.js" }
		%script{ :src => "./js/menu.js" }
		%script{ :src => "./js/lib/snap.svg-min.js" }
		%script{ :src => "./js/lib/svgicons-config.js" }
		%script{ :src => "./js/lib/svgicons.js" }
		%script{ :src => "./js/page_lounges.js" }
	%body#html_body{:data => {'page' => 'lounges'}}
		-# code acept
		.wrapper.h_v_center
			%section.popup_middle{:id => 'code_form'}
				%header
					%h2 Подтверждение
					%p.h2_subtitle
						Мы отправили смс с кодом подтверждения на ваш номер. <br>
						Подтверждая номер, вы вступаете в тайное общество.
					%input{:type => "text", :name => "code", :placeholder => "Код подтверждения"}
					%button.button-arrow{:type=>"button", :name=>"ok"} Подтвердить

		-# Регистрация
		.wrapper.center-center{:id => 'wrapper_signup'}
			%section.popup{:id => 'signup_form'}
				%header
					%h2 Регистрация
					%p.h2_subtitle
						Регистрация нового пользователя. Если у вас уже есть аккаунт —
						%a{:href =>"#login"} войдите.
				%form{:action => "", :method => "get", :autocomplete => "off"}
					%input{:style => "display:none"}
					%input{:style => "display:none", :type => "password"}
					%input{:type => "text", :name => "phone", :placeholder => "Телефон +7XXXXXXX"}
					%input{:type => "text", :name => "name", :placeholder => "ФИО"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button.button-arrow#open_liberty_btn{:type=>"sumbit", :name=>"sumbit"} Войти

		-# Логин
		.wrapper.center-center{:id => 'wrapper_login'}
			%section#error_password.error_tooltip
				Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
			%section.popup{:id => 'login_form'}
				%header
					%h2 Войти
					%p.h2_subtitle
						Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button.button-arrow{:type=>"sumbit", :name=>"sumbit"} Войти
				%a#recover_btn{:href =>"#forgot_pass"} Вы забыли пароль?
		-# Забыли пароль?
		.wrapper.center-center{:id => 'wrapper_pass'}
			%section#error_password.error_tooltip
				Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
			%section.popup{:id => 'pass_form'}
				%header
					%h2 Восстановление пароля
					%p.h2_subtitle
						Мы отправим вам новый пароль по смс,<br>если у вас еще нет аккаунта -
						%a{:href =>"#registration"} зарегистрируйтесь.
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%button.button-arrow{:type=>"button", :name=>"ok"} Отправить
		-# Меню
		.wrapper.center-center{:id => 'wrapper_menu'}
			%section#menu_left_part.left_menu
				%img#uhp_logo.pointer{ :src=>"./images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }
				%span
					%h4 Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces


				%footer
					%p Copyright © 2015 Уникальные Кальянные
					%p
						Создано в
						%img{ :src=>"./images/cpdbbk.svg" , :alt=>"CPD&BBK" , :height=>"24px"}
			-# Left bar
			%section#menu_right_part.right_menu
				%img#closing.pointer{ :src=>"./images/cross.svg" , :alt=>"Закрыть"}
				-# %a
				-# 	%h3#main_nav_btn Главная страница
				-# 	%p Основная информация
				%a
					%h3#lounges_nav_btn Ложи
					%p Уникальные заведения

				%a
					%h3#philosophy_nav_btn Философия
					%p Наши ценности

				%a
					%h3#community_nav_btn Сообщество
					%p Полезно быть своим
				-# %a
				-# 	%h3 Франшиза
				-# 	%p Открыть Ложу

				%button.button-arrow#go_login_from_menu_btn Круг избранных

		-# Color Overlay
		#color_overlay.color_overlay

		-# Хидер
		%header#header
			%img#menu_header_logo.pointer{ :src=>"./images/logo.svg", :alt=>"Уникальные Кальянные"}
			%nav
				%a{:id=>"login_header_btn"} Войти
				%a{:id=>"signup_header_btn"} Зарегистрироваться
				%img#menu_header_btn.pointer{ :src=>"./images/menu.svg", :alt=>"Меню"}

		-# Main conent
		%main{:id => 'main_content'}
			-# Блок первый
			%section.section_1_bg
				%header
					%h1 Посетите наши уникальные заведения
					%p.h2_subtitle Заведения нашей сети - первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому клиенту.
					%button.button-arrow.btn_arrow#liberty_btn Открыть
				%section.instruments
					-#%a.magnifying Искать по названию
					-#%a.changeview Карта
					-#%a.citypin По городу
				%hr
			-# List of lounges
			%section.lounges
				-#%article.lounge
					-#.frontside
						-#%img{ :src=>"./images/blazons/reserv.svg"}
						-#%h4 «Резерв»
						-#%small Тюмень
				-#%article.lounge
					-#.frontside
						-#%img{ :src=>"./images/blazons/oblaka.svg"}
						-#%h4 «Облака»
						-#%small Воронеж
				-#%article.lounge
					-#.frontside
						-#%img{ :src=>"./images/blazons/unityhall.svg"}
						-#%h4 «Unity Hall»
						-#%small Казань
				-#%article.lounge
					-#.frontside
						-#%img{ :src=>"./images/blazons/academy.svg"}
						-#%h4 «Академия»
						-#%small Новосибирск
