%html{:xmlns => "http://www.w                                    3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/clouds.css" }
		%link{ :rel=>"shortcut icon" , :href=>"./images/favicon.png" , :type=>"image/pngs" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/jquery.mask.min.js" }
		%script{ :src => "./js/underscore-min.js" }
		%script{ :src => "./js/openapi.js" }
		%script{ :src => "./js/lib/d3.js" }
		%script{ :src => "./js/data.js" }
		%script{ :src => "./js/nodes.js" }

		%script{ :src => "./js/lib/snap.svg-min.js" }
		%script{ :src => "./js/lib/svgicons-config.js" }
		%script{ :src => "./js/lib/svgicons.js" }
		%script{ :src => "./js/animation.js" }
		%script{ :src => "./js/fx.js" }
		%script{ :src => "./js/header.js" }
		%script{ :src => "./js/community.js" }
		%script{ :src => "./js/menu.js" }

		%script{ :src => "./js/pages_franchise.js" }
		%title Пришло время зарабатывать!

	%body#html_body{:data => {'page' => 'fran'}}

		-# Хидер
		%header#header
			%img#menu_header_logo.pointer{ :src=>"./images/logo.svg", :alt=>"Уникальные Кальянные"}
			%nav
				%a{:id=>"login_header_btn"} Войти
				%a{:id=>"signup_header_btn"} Зарегистрироваться
				%img#menu_header_btn.pointer{ :src=>"./images/menu.svg", :alt=>"Меню"}

		-# Основной контент
		%section#frn_b1
			.frn_b1_wrapper
				%img{ :src => "./images/franchise/crown.svg"}

				%h1 пришло время зарабатывать
				%p *Fortes fortuna adjuvat

				%span
					%button.btn_border Узнать больше
					%button.btn_gold.open_franchise_popup Заполнить заявку
				
			%footer
				%p *Смелым помогает судьба

		%section#frn_b2
			%header
				%h2  Наша цель максимально упростить процесс запуска вашего бизнеса
				%p Весь процесс открытия своего заведения можно свести к трем основным шагам:
			.wrapper_main_steps
				.wrapper_step
					%img{ :src => "./images/franchise/steps/1.svg", :alt => "Первый шаг"}
					%h4 Первый шаг
					%p Сначала мы поможем выбрать помещение и зарегистрировать деятельность. К вам будет отправлен специалист-консультант.
				.wrapper_step
					%img{ :src => "./images/franchise/steps/2.svg", :alt => "Второй шаг"}
					%h4 Второй шаг
					%p Разработка рекламной стратегии, дизайн интерьера кальянной и ремонт помещения, поставка средств для запуска и подключение к системам поставок и лояльности.
				.wrapper_step
					%img{ :src => "./images/franchise/steps/3.svg", :alt => "Третий шаг"}
					%h4 Третий шаг
					%p Полноценная работа заведения. Бухгалтерская отчетность, консультации по юридическим и другим вопросам, §отслеживание показателей и контроль.

		%section#frn_b3
			%header
				%h2	То, что мы обещаем, мы выполняем, Наши практики работают
				%p С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.
			<br>
			.wrapper_usp
				%figure
					%img{ :src => "./images/franchise/usp/1.svg", :alt => "Качественный бренд"}
					<br>
					%figcapation Качественный<br>бренд
				%figure
					%img{ :src => "./images/franchise/usp/2.svg", :alt => "Система взаимодействия"}
					<br>
					%figcapation Система<br>взаимодействия
				%figure
					%img{ :src => "./images/franchise/usp/3.svg", :alt => "Корпоративный стиль"}
					<br>
					%figcapation Корпоративный<br>стиль
				%figure
					%img{ :src => "./images/franchise/usp/4.svg", :alt => "Грамотная реклама"}
					<br>
					%figcapation Грамотная<br>реклама
				%figure
					%img{ :src => "./images/franchise/usp/5.svg", :alt => "Полезные бизнес-контакты"}
					<br>
					%figcapation Полезные<br>бизнес-контакты

		%section#frn_b4
			.slider_controls
				.left_arrow
					%img{ :src => "./images/franchise/left_arrow.svg", :alt => "Предыдущий отзыв"}
				.right_arrow
					%img{ :src => "./images/franchise/right_arrow.svg", :alt => "Следующий отзыв"}
			.franchisor_review
				.wrapper_fran_faces
					%img{ :src => "./images/franchise/franchisor/pronin.png", :alt => "Пронин Григорий"}
				%blockquote
					%p Совсем недавно открылось новое заведение Duplex от создателей кальянной Double. Оба заведения расположены недалеко от м. Лиговский Проспект, но имеют немного разный формат. В дуплексе вы найдете 5 уютных лаунж-зон с занавесками, за которыми можно уютно посидеть вдвоем или впятером, покуривая кальян. Так же есть возможность создания зоны для большой компании до 12 человек.
					%cite
						%h4 Пронин Григорий
						%span Основатель «Резерв»
		%section#frn_b5
			.wrapper_footer
				%header
					%h2 Ищущий да обрятет
					%p Оригинал один - остальное копии
					%button.btn_border.open_franchise_popup Заполнить заявку
				%footer
					%p Copyright © 2015 Уникальные Кальянные

		%section#frn_b6
			.wrapper_form
				%header
					%h2 Отправить заявку
					%p Заполните форму ниже

				%form
					%fieldset
						%legend	Основная информация
						%input{:placeholder=>"ФИО", :type=>"text", :name=>"name"}
						%input{:placeholder=>"Контактный телефон", :type=>"text", :name=>"name"}
						%input{:placeholder=>"Email", :type=>"text", :name=>"name"}
						%input{:placeholder=>"Город", :type=>"text", :name=>"name"}
						%input{:placeholder=>"Расскажие о себе", :type=>"text", :name=>"name"}
					%fieldset
						%legend	Компания работодель
						%input{:placeholder=>"Компания работодатель", :type=>"text", :name=>"name"}
						%input{:placeholder=>"Должность", :type=>"text", :name=>"name"}
					%fieldset
						%legend	Вложениия в франшизу
						%input{:placeholder=>"Первый взнос", :type=>"text", :name=>"name"}
						%input{:placeholder=>"Общая сумма", :type=>"text", :name=>"name"}
					%button Отправить заявку

				.wrapper_corners
					%img{ :src => "./images/franchise/corner.svg"}
					%img{ :src => "./images/franchise/corner.svg"}
					%img{ :src => "./images/franchise/corner.svg"}
					%img{ :src => "./images/franchise/corner.svg"}