%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/jquery.mask.min.js" }
		%script{ :src => "./js/underscore-min.js" }
		%script{ :src => "./js/openapi.js" }
		%script{ :src => "./js/header.js" }
	%body#html_body
		-# Логин
		.wrapper.center-center{:id => 'wrapper_login'}
			%section.popup{:id => 'login_form'}
				%header
					%h2 Войти
					%p.h2_subtitle
						Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button{:type=>"sumbit", :name=>"sumbit"} Войти
				-# %a#recover_btn{:href =>"#forgot_pass"} Вы забыли пароль?

		-# Регистрация
		.wrapper.center-center{:id => 'wrapper_signup'}
			%section.popup{:id => 'signup_form'}
				%header
					%h2 Регистрация
					%p.h2_subtitle Регистрация нового пользователя. Если у вас уже есть аккаунт — войдите.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%input{:type => "text", :name => "name", :placeholder => "ФИО"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button#open_liberty_btn{:type=>"sumbit", :name=>"sumbit"} Войти
		-# Меню
		.wrapper.center-center{:id => 'wrapper_menu'}
			%section#menu_left_part.left_menu
				%img{ :src=>"./images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }
				%span
					%h4 Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

				%footer
					%p Copyright © 2015 Уникальные Кальянные
					%p
						Создано в
						%img{ :src=>"./images/cpdbbk.svg" , :alt=>"CPD&BBK" , :height=>"24px"}
			-# Left bar
			%section#menu_right_part.right_menu
				%img#closing{ :src=>"./images/cross.svg" , :alt=>"Закрыть"}

				%h3 Главная страница
				%p Основная информация

				%h3#lounges_nav_btn Ложи
				%p Основная информация

				%h3#philosophy_nav_btn Философия
				%p Основная информация

				%h3#community_nav_btn Сообщество
				%p Основная информация

				%h3 Франшиза
				%p Основная информация

				%button Войти

		-# Color Overlay
		#color_overlay.color_overlay
		%main{:id => 'main_content'}
			%header#header
				%img{ :src=>"./images/logo.svg" , :alt=>"Уникальные Кальянные"}
				%nav
					%a{:id=>"login_header_btn"} Войти
					%a{:id=>"signup_header_btn"} Зарегистрироваться
					%img.menu{ :id=>"menu_header_btn" , :src=>"./images/menu.svg" , :alt=>"Меню"}
			%section#community_block1
				%img{ :src=>"./images/community_h1.svg" , :alt=>"Полезно быть своим"}
			%section#community_block2
				%h2
					Самая лучшая сеть
					%br
					кальянных и только для вас
				%br
				%h3 Каждый клиент для нас уникален. Красота жизни заключается в ее неповторимости.
				%br
				%section.game_feature
					%img{ :src=>"./images/game_feature_1.svg" , :alt=>"Нетворкинг"}
					%h4 Нетворкинг
					%p Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.
				%section.game_feature
					%img{ :src=>"./images/game_feature_2.svg" , :alt=>"Система лояльности"}
					%h4 Система лояльности
					%p Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.
				%section.game_feature
					%img{ :src=>"./images/game_feature_3.svg" , :alt=>"Неповторимый опыт"}
					%h4 Неповторимый опыт
					%p Мы ценим профессионализм во всех его проявлениях. Всем заведениям, сотрудникам и сети предъявляется данное требование. Кроме того, мы всегда особенно рады принимать у себя профессионалов своего дела.
			%section#community_block3
				%h3 Каждый клиент для нас уникален. Красота жизни заключается в неповторимой оригинальности
				%p С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи.
				%br
				%img{ :src=>"./images/game_skillset.svg" , :alt=>"Полезные бонусы"}
				%video#dust{ :controls=>"false", :src=>"../video/vid.mp4", :autobuffer=>"true", :autoplay=>"true", :loop=>"true"}
				#cb3grad
				#cb3grad2
				%video#dust#cb3smoke{ :controls=>"false", :src=>"../video/vid2.mp4", :autobuffer=>"true", :autoplay=>"true", :loop=>"true"}
			%section#community_block4
				%h2 Назначить встречу
				%br
				%p С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу. Приходя к нам в первый раз, вы становитесь нашим единомышленником, другом, членом семьи.
			%section#community_block5
				.round
					%img{ :src=>"./images/messages.svg" , :alt=>"Коммуникация"}
				%br
				%h3 Общение — это важно
				%br
				%p Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю.
				%br
				%p Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.
				%br
				%p Многие люди приходят к нам снова и снова именно за этим, проводя у нас недели и месяцы напролет.
				%br
				%button Прочитать историю

			%section#community_block6
