
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/jquery.mask.min.js" }
		%script{ :src => "./js/underscore-min.js" }
		%script{ :src => "./js/openapi.js" }
		%script{ :src => "./js/index.js" }
	%body#html_body
		-# Логин
		.wrapper.center-center{:id => 'wrapper_login'}
			%section.popup{:id => 'login_form'}
				%header
					%h2 Войти
					%p.h2_subtitle
						Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button{:type=>"sumbit", :name=>"sumbit"} Войти
				-# %a#recover_btn{:href =>"#forgot_pass"} Вы забыли пароль?

		-# Регистрация
		.wrapper.center-center{:id => 'wrapper_signup'}
			%section.popup{:id => 'signup_form'}
				%header
					%h2 Регистрация
					%p.h2_subtitle Регистрация нового пользователя. Если у вас уже есть аккаунт — войдите.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%input{:type => "text", :name => "name", :placeholder => "ФИО"}
					%input{:type => "text", :name => "password", :placeholder => "Пароль"}
					%button{:type=>"sumbit", :name=>"sumbit"} Войти
		-# Меню
		.wrapper.center-center{:id => 'wrapper_menu'}
			%section#menu_left_part.left_menu
				%img{ :src=>"./images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }

				%h4 Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...
				%p 24 июл в 14:44 от #unihuqhookahplaces

				%h5 Она задала нам неожиданный вопрос
				%p 24 июл в 14:44 от #unihuqhookahplaces

				%h5 Она задала нам неожиданный вопрос
				%p 24 июл в 14:44 от #unihuqhookahplaces

				%h5 Она задала нам неожиданный вопрос
				%p 24 июл в 14:44 от #unihuqhookahplaces

				%h5 Она задала нам неожиданный вопрос
				%p 24 июл в 14:44 от #unihuqhookahplaces

				%footer
					%p Copyright © 2015 Уникальные Кальянные
					%p
						Создано в
						%img{ :src=>"./images/cpdbbk.svg" , :alt=>"CPD&BBK" , :height=>"24px"}
			-# Left bar
			%section#menu_right_part.right_menu
				%img#closing{ :src=>"./images/cross.svg" , :alt=>"Закрыть"}

				%h3 Главная страница
				%p Основная информация

				%h3 Ложи
				%p Основная информация

				%h3 Философия
				%p Основная информация

				%h3 Сообщество
				%p Основная информация

				%h3 Франшиза
				%p Основная информация

				%button Войти

		-# Color Overlay
		#color_overlay.color_overlay

		-# Main conent
		%main{:id => 'main_content'}
			%section.section_1_bg
				%header#header
					%img{ :src=>"./images/logo.svg" , :alt=>"Уникальные Кальянные"}
					%nav
						%a{:id=>"login_header_btn"} Войти
						%a{:id=>"signup_header_btn"} Зарегистрироваться
						%img.menu{ :id=>"menu_header_btn" , :src=>"./images/menu.svg" , :alt=>"Меню"}
				%header
					%h1 Посетите наши лучшие уникальные места
					%p.h2_subtitle Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю и гостье.
					%button Открыть
				%section.instruments
					%a.magnifying Искать по названию
					%a.changeview Карта
					%a.citypin По городу
				%hr
			-# List of lounges
			%section.lounges
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazons/reserv.svg"}
						%h4 «Резерв»
						%small Тюмень
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazons/oblaka.svg"}
						%h4 «Облака»
						%small Воронеж
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazons/unityhall.svg"}
						%h4 «Unity Hall»
						%small Казань
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazons/academy.svg"}
						%h4 «Академия»
						%small Новосибирск
