
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/index.js" }
	%body#html_body
		-# Form
		.wrapper.center-center
			-# Логин
			%section.popup{:id => 'login_form'}
				%header
					%h2 Войти
					%p.h2_subtitle
						Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "input", :placeholder => "Номер телефона"}
					%input{:type => "text", :name => "input", :placeholder => "Пароль"}
					%button{:type=>"sumbit", :name=>"sumbit"} Войти
				%a#recover_btn{:href =>"#forgot_pass"} Вы забыли пароль?
			-# Регистрация
			%section.popup{:id => 'signin_form'}
				%header
					%h2 Регистрация
					%p.h2_subtitle
						Регистрация нового пользователя. Если у вас уже есть аккаунт — войдите
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "input", :placeholder => "Номер телефона"}
					%input{:type => "text", :name => "input", :placeholder => "ФИО"}
					%input{:type => "text", :name => "input", :placeholder => "Пароль"}
					%button{:type=>"sumbit", :name=>"sumbit"} Зарегистрироваться
				%a#login_btn{:href =>"#login_form"} Вернуться к логину
					
			-# Забыли пароль
			%section.popup{:id => 'recover_form'}
				%header
					%h2 Восстановление пароля
					%p.h2_subtitle
						Мы отправим вам новый пароль по смс, если у вас еще нет аккаунта — зарегистрируйтесь
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "input", :placeholder => "Номер телефона"}
					%button{:type=>"sumbit", :name=>"sumbit"} Отправить
				%a#recover_btn{:href =>"#recover2_form"} Вернуться к логину
		-# Color Overlay
		#color_overlay
		-# Main conent
		%main{:id => 'main_content'}
			%section.section_1_bg
				%header#header
					%img{ :src=>"./images/logo.svg" , :alt=>"Уникальные Кальянные"}
					%nav
						%a{:id=>"login_btn"} Войти
						%a{:id=>"signup_btn"} Зарегистрироваться
						%img.menu{ :src=>"./images/menu.svg" , :alt=>"Меню"}
				%header
					%h1 Посетите наши лучшие уникальные места
					%p.h2_subtitle Наша кальянная – первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю и гостье.
					%button Открыть
				%section.instruments
					%a.magnifying Искать по названию
					%a.changeview Карта
					%a.citypin По городу
				%hr
			-# List of lounges
			%section.lounges
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazon.svg"}
						%h4 «Резерв»
						%small Тюмень
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazon.svg"}
						%h4 «Резерв»
						%small Тюмень
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazon.svg"}
						%h4 «Резерв»
						%small Тюмень
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazon.svg"}
						%h4 «Резерв»
						%small Тюмень
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazon.svg"}
						%h4 «Резерв»
						%small Тюмень
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazon.svg"}
						%h4 «Резерв»
						%small Тюмень
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazon.svg"}
						%h4 «Резерв»
						%small Тюмень
				%article.lounge
					.frontside
						%img{ :src=>"./images/blazon.svg"}
						%h4 «Резерв»
						%small Тюмень
