%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/slider_style.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/pages_lounges.css" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/jquery.mask.min.js" }
		%script{ :src => "./js/slider_main.js" }
		%script{ :src => "./js/underscore-min.js" }
		%script{ :src => "./js/openapi.js" }
		%script{ :src => 'http://maps.googleapis.com/maps/api/js'}
		%script{ :src => "./js/lib/snap.svg-min.js" }
		%script{ :src => "./js/lib/svgicons-config.js" }
		%script{ :src => "./js/lib/svgicons.js" }
		%script{ :src => "./js/lib/d3.js" }
		%script{ :src => "./js/data.js" }
		%script{ :src => "./js/nodes.js" }
		%script{ :src => "./js/animation.js" }
		%script{ :src => "./js/fx.js" }
		%script{ :src => "./js/header.js" }
		%script{ :src => "./js/menu.js" }
	%body#html_body

		-# Регистрация
		.wrapper.center-center{:id => 'wrapper_signup'}
			%section.popup{:id => 'signup_form'}
				%header
					%h2 Регистрация
					%p.h2_subtitle
						Регистрация нового пользователя. Если у вас уже есть аккаунт —
						%a{:href =>"#login"} войдите.
				%form{:action => "", :method => "get", :autocomplete => "off"}
					%input{:style => "display:none"}
					%input{:style => "display:none", :type => "password"}
					%input{:type => "text", :name => "phone", :placeholder => "Телефон +7XXXXXXX"}
					%input{:type => "text", :name => "name", :placeholder => "ФИО"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button#open_liberty_btn{:type=>"sumbit", :name=>"sumbit"} Войти
		-# Логин
		.wrapper.center-center{:id => 'wrapper_login'}
			%section#error_password.error_tooltip
				Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
			%section.popup{:id => 'login_form'}
				%header
					%h2 Войти
					%p.h2_subtitle
						Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button{:type=>"sumbit", :name=>"sumbit"} Войти
				-# %a#recover_btn{:href =>"#forgot_pass"} Вы забыли пароль?
		-# Меню
		.wrapper.center-center{:id => 'wrapper_menu'}
			%section#menu_left_part.left_menu
				%img{ :src=>"./images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }
				%span
					%h4 Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces

					%h5 Она задала нам неожиданный вопрос
					%p 24 июл в 14:44 от #unihuqhookahplaces


				%footer
					%p Copyright © 2015 Уникальные Кальянные
					%p
						Создано в
						%img{ :src=>"./images/cpdbbk.svg" , :alt=>"CPD&BBK" , :height=>"24px"}
			-# Left bar
			%section#menu_right_part.right_menu
				%img#closing.pointer{ :src=>"./images/cross.svg" , :alt=>"Закрыть"}
				-# %a
				-# 	%h3#main_nav_btn Главная страница
				-# 	%p Основная информация
				%a
					%h3#lounges_nav_btn Ложи
					%p Уникальные заведения

				%a
					%h3#philosophy_nav_btn Философия
					%p Наши ценности

				%a
					%h3#community_nav_btn Сообщество
					%p Полезно быть своим
				-# %a
				-# 	%h3 Франшиза
				-# 	%p Открыть Ложу

				-# %button Круг избранных

		-# Color Overlay
		#color_overlay.color_overlay

		-# Основной контент
		%main{:id => 'main_content'}
			-# Первый блок
			%section#liberty_block1
				-# Хидер
				%header#header
					%img.pointer{ :src=>"./images/logo.svg" , :alt=>"Уникальные Кальянные"}
					%nav
						%a{:id=>"login_header_btn"} Войти
						%a{:id=>"signup_header_btn"} Зарегистрироваться
						#menu_header_btn.menu.pointer{:data => {'icon-name' => 'hamburger'}}
				%hr
				-# Контент
				%header
					%h1.style-unityhall Unity Hall
					%p Miserere domine, stultus sum*
				-# Адрес, телефон и время работы
				%section.information_lib
					%figure
						%img{ :src=>"./images/location_gold.svg" , :alt=>"Город" , :height=>"16px" }
						%figcapation Казань, Бутлерова 21
					%figure
						%img{ :src=>"./images/phone.svg" , :alt=>"Город" , :height=>"16px" }
						%figcapation +79053771850
					%figure
						%img{ :src=>"./images/clock.svg" , :alt=>"Город" , :height=>"16px" }
						%figcapation
							Пн.-Чт. 14:00-02:00
							%br
							Пт.-Сб. 14:00-04:00
							Вс. 14:00-02:00
				-# Кнопка бронирования
				%section.liberactions
					%button#reserve_table_btn.style-unityhall Забронировать столик
					-# 	 Связаться с нами

				-# Подпись
				%footer
					%p *Ничто не истинно, Все дозволено
				-# Герб
				%img#liberty_herb.layer{ :src=>"./images/blazons/unityhall.svg", :"data-depth"=>"0.40"}

				%img.gerb_glow_2{ :src=>"images/unityhall/glow.png"}
				-#%img.gerb_glow{ :src=>"./images/sun_glow.svg"}

			-# Второй блок
			%section#liberty_block2
				.text-wrapper-liberty
					%h4 Unity Hall
					%p
						"Зал Единства", главный штаб Уникальных Кальянных в Казани.
						%br
						Место с особым дизайном и полноценной сценой, на которой происходят всевозможные события, от музыкальных мероприятий и спектаклей, до профессиональных презентаций
						%br
						Кальянная площадка, где стильный интерьер пересекается с высочайшим качеством сервиса и необычной подачей, будь то кальян, десерт или коктейль.
			%section#liberty_block3
				%section.cd-hero
					%ul.cd-hero-slider.autoplay
						%li.selected
							%img.img-slider{:src => "./images/unityhall/slider/1.jpg"}
						%li
							%img.img-slider{:src => "./images/unityhall/slider/2.jpg"}
						%li
							%img.img-slider{:src => "./images/unityhall/slider/3.jpg"}
						%li
							%img.img-slider{:src => "./images/unityhall/slider/4.jpg"}
						%li
							%img.img-slider{:src => "./images/unityhall/slider/5.jpg"}

					.cd-slider-nav
						%nav
							%ul
								%li.selected
									%img.img-nav.pointer{:src => "./images/unityhall/slider/1.jpg"}
								%li
									%img.img-nav.pointer{:src => "./images/unityhall/slider/2.jpg"}
								%li
									%img.img-nav.pointer{:src => "./images/unityhall/slider/3.jpg"}
								%li
									%img.img-nav.pointer{:src => "./images/unityhall/slider/4.jpg"}
								%li
									%img.img-nav.pointer{:src => "./images/unityhall/slider/5.jpg"}

			%section#liberty_block4
				%header
					%h2.style-unityhall Кальянные мастера
					%p Команда "Unity Hall" формировалась по принципу всестороннего развития коллектива. Каждое звено нашего братства поддерживает слабые и дополняет сильные стороны другого звена. Вместе это образует единый механизм, систему, способную выдержать высокий уровень сервиса и, при этом, каждый бармен, администратор или кальянный мастер является личностью и профессионалом, способным поддержать диалог в своей сфере интересов.
				%br
				%img{ :src=>"./images/unityhall/hms/belancheva.svg" 	, :alt=>"Кальянщик" , :height=>"396px" }
				%img{ :src=>"./images/unityhall/hms/chernov.svg" 		, :alt=>"Кальянщик" , :height=>"396px" }
				%img{ :src=>"./images/unityhall/hms/efrem.svg" 			, :alt=>"Кальянщик" , :height=>"396px" }
				%img{ :src=>"./images/unityhall/hms/gabdulhakov.svg" 	, :alt=>"Кальянщик" , :height=>"396px" }
				%img{ :src=>"./images/unityhall/hms/seifulin.svg" 		, :alt=>"Кальянщик" , :height=>"396px" }
				%img{ :src=>"./images/unityhall/hms/sokolov.svg" 		, :alt=>"Кальянщик" , :height=>"396px" }
				%img{ :src=>"./images/unityhall/hms/valeev.svg" 		, :alt=>"Кальянщик" , :height=>"396px" }

			%section#liberty_block5
				.map_overlay
				.map_wrapper
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.3041163349435!2d49.12802931560311!3d55.78795698056282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead0e0f1bf763%3A0x15b9b07f38999c07!2z0YPQuy4g0JHRg9GC0LvQtdGA0L7QstCwLCAyMSwg0JrQsNC30LDQvdGMLCDQoNC10YHQvy4g0KLQsNGC0LDRgNGB0YLQsNC9LCA0MjAwMTI!5e0!3m2!1sru!2sru!4v1449576018940" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
				%section#map_wrapper
					%header
						%h3.style-unityhall Казань
						%p Вахитовский район

					%p Неподалеку от берега Волги в городе Казань расположилась Уникальная Кальянная “Зал Единства”.

					%small Россия, Казань, Бутлерова 21

			%section#liberty_block6
				%header
					%h2.style-unityhall Контакты
					%h5 По вопросам справки обращайтесь по телефону в рабочее время:

				%h6 Адрес:
				%p Казань, Бутлерова 21

				%h6 Контактный номер:
				%p +79053771850

				%h6 Рабочие часы:
				%p
					Пн.-Чт. 14:00-02:00
					<br>
					Пт.-Сб. 14:00-04:00
					Вс. 14:00-02:00
			%section#philosophie_block5
				%h3 Miserere domine, stultus sum*
				%h6 *Ничто не истинно, Все дозволено
				%br
				%button.button-dark.style-unityhall Зарегистрироваться

				%img.sun_glow_2{ :src=>"./images/sun_glow.png"}
				%img.sun_glow{ :src=>"./images/sun_glow.svg"}
				%img.sun_rotation{ :src=>"./images/sun_lines.svg"}
				%img{ :src=>"./images/sun.svg" , :alt=>"Звезда"}
