!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "ru", :lang => "ru"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%meta{ :charset => "UTF-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/clouds.css" }
		%link{ :rel=>"shortcut icon" , :href=>"./images/favicon.png" , :type=>"image/pngs" }
		%script{ :src => "./js/jquery-2.1.4.min.js" }
		%script{ :src => "./js/jquery.gsap.min.js" }
		%script{ :src => "./js/TweenLite.min.js" }
		%script{ :src => "./js/TweenMax.min.js" }
		%script{ :src => "./js/jquery.mask.min.js" }
		%script{ :src => "./js/underscore-min.js" }
		%script{ :src => "./js/moment-with-locales.js" }
		%script{ :src => "./js/openapi.js" }
		%script{ :src => "./js/lib/d3.js" }

		%script{ :src => "./js/lib/snap.svg-min.js" }
		%script{ :src => "./js/lib/svgicons-config.js" }
		%script{ :src => "./js/lib/svgicons.js" }
		%script{ :src => "./js/animation.js" }
		%script{ :src => "./js/fx.js" }
		%script{ :src => "./js/header.js" }
		%script{ :src => "./js/menu.js" }

		%script{ :src => "./js/pages_franchise.js" }
		%title Пришло время зарабатывать!

	%body#html_body{:data => {'page' => 'fran'}}
		-# code acept
		.wrapper.h_v_center
			%section.popup_middle{:id => 'code_form'}
				%header
					%h2 Подтверждение
					%p.h2_subtitle
						Мы отправили смс с кодом подтверждения на ваш номер. <br>
						Подтверждая номер, вы вступаете в тайное общество.
					%input{:type => "text", :name => "code", :placeholder => "Код подтверждения"}
					%button.button-arrow.button-small{:type=>"button", :name=>"ok"} Подтвердить
					%button.button-link{:type=>"button", :name=>"ok"} Отправить СМС повторно

		-# Регистрация
		.wrapper.center-center{:id => 'wrapper_signup'}
			%section.popup{:id => 'signup_form'}
				%header
					%h2 Регистрация
					%p.h2_subtitle
						Пожалуйста, указывайте ваше настоящее имя и фамилию, так как при первом посещении любого из заведений<br>будет производится проверка паспорта. Если у вас уже есть аккаунт —
						%a{:href =>"#login"} войдите.
				%form{:action => "", :method => "get", :autocomplete => "false"}
					%input{:name => "fakeusernameremembered", :style => "display:none", :type => "text"}
					%input{:name => "fakepasswordremembered", :style => "display:none", :type => "password"}
					%input{:type => "text", :name => "phone", :placeholder => "Телефон +7XXXXXXX"}
					%input{:type => "text", :name => "name", :placeholder => "ФИО"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button.button-arrow#open_liberty_btn{:type=>"sumbit", :name=>"sumbit"} Войти

		-# Логин
		.wrapper.center-center{:id => 'wrapper_login'}
			%section#error_password.error_tooltip
				Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
			%section.popup{:id => 'login_form'}
				%header
					%h2 Войти
					%p.h2_subtitle
						Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get", :autocomplete => "off"}
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%input{:type => "password", :name => "password", :placeholder => "Пароль"}
					%button.button-arrow{:type=>"sumbit", :name=>"sumbit"} Войти
				%a#recover_btn{:href =>"#forgot_pass"} Вы забыли пароль?
		-# Забыли пароль?
		.wrapper.center-center{:id => 'wrapper_pass'}
			%section#error_password.error_tooltip
				Введеный логин и пароль не совпадают! Попробуйте ввести логин и пароль еще раз.
			%section.popup{:id => 'pass_form'}
				%header
					%h2 Восстановление пароля
					%p.h2_subtitle
						Мы отправим вам новый пароль по смс,<br>если у вас еще нет аккаунта -
						%a{:href =>"#registration"} зарегистрируйтесь.
					%input{:type => "text", :name => "phone", :placeholder => "Номер телефона"}
					%button.button-arrow{:type=>"button", :name=>"ok"} Отправить
		-# Меню
		.wrapper.center-center{:id => 'wrapper_menu'}
			%section#menu_left_part.left_menu
				.wrapper_left_menu
					%header
						%img#uhp_logo.pointer{ :src=>"./images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }

					%span
						%h4 Первая в мире территория для курения со свободной оплатой и индивидуальным подходом к каждому гостю...
						%p 24 июл в 14:44 от #unihuqhookahplaces

						%h5 Она задала нам неожиданный вопрос
						%p 24 июл в 14:44 от #unihuqhookahplaces

						%h5 Она задала нам неожиданный вопрос
						%p 24 июл в 14:44 от #unihuqhookahplaces

						%h5 Она задала нам неожиданный вопрос
						%p 24 июл в 14:44 от #unihuqhookahplaces

						%h5 Она задала нам неожиданный вопрос
						%p 24 июл в 14:44 от #unihuqhookahplaces

					%footer
						%p Copyright © 2015 Уникальные Кальянные
						%p C любовью от CPD&BBK
			-# Left bar
			%section#menu_right_part.right_menu
				%img#closing.pointer{ :src=>"./images/cross.svg" , :alt=>"Закрыть"}
				-# %a
				-# 	%h3#main_nav_btn Главная страница
				-# 	%p Основная информация
				%a
					%h3#lounges_nav_btn Ложи
					%p Уникальные заведения

				%a
					%h3#philosophy_nav_btn Философия
					%p Наши ценности

				%a
					%h3#community_nav_btn Сообщество
					%p Полезно быть своим
				%a
					%h3#franchise_nav_btn Франшиза
					%p Открыть Ложу

				%button.button-arrow#go_login_from_menu_btn Круг избранных

		-# Color Overlay
		#color_overlay.color_overlay

		-# Хидер
		%header#header
			%img#menu_header_logo.pointer{ :src=>"./images/logo.svg", :alt=>"Уникальные Кальянные"}
			%nav
				%a{:id=>"login_header_btn"} Войти
				%a{:id=>"signup_header_btn"} Зарегистрироваться
				%img#menu_header_btn.pointer{ :src=>"./images/menu.svg", :alt=>"Меню"}

		-# Основной контент
		%main{:id => 'main_content'}
			%section#frn_b1
				.frn_b1_wrapper
					%img{ :src => "./images/franchise/crown.svg"}

					%h1 пришло время зарабатывать
					%p *Fortes fortuna adjuvat

					%span
						%button.btn_border.srcoll_to_next Узнать больше
						%button.btn_gold.open_franchise_popup Заполнить заявку

				%footer
					%p *Смелым помогает судьба

			%section#frn_b2
				%header
					%h2  Наша цель максимально упростить процесс запуска вашего бизнеса
					%p Весь процесс открытия своего заведения можно свести к трем основным шагам:
				.wrapper_main_steps
					.wrapper_step
						%img{ :src => "./images/franchise/steps/1.svg", :alt => "Первый шаг"}
						%h4 Первый шаг
						%p Сначала мы поможем выбрать помещение и зарегистрировать деятельность. К вам будет отправлен специалист-консультант.
					.wrapper_step
						%img{ :src => "./images/franchise/steps/2.svg", :alt => "Второй шаг"}
						%h4 Второй шаг
						%p Разработка рекламной стратегии, дизайн интерьера кальянной и ремонт помещения, поставка средств для запуска и подключение к системам поставок и лояльности.
					.wrapper_step
						%img{ :src => "./images/franchise/steps/3.svg", :alt => "Третий шаг"}
						%h4 Третий шаг
						%p Полноценная работа заведения. Бухгалтерская отчетность, консультации по юридическим и другим вопросам, §отслеживание показателей и контроль.
			%section#frn_b3
				%header
					%h2	То, что мы обещаем, мы выполняем, Наши практики работают
					%p С того момента утекло много времени, наша команда собрала огромную фанатскую базу, но сумела сохранить ту самую атмосферу.
				<br>
				.wrapper_usp
					%figure
						%img{ :src => "./images/franchise/usp/1.svg", :alt => "Качественный бренд"}
						<br>
						%figcapation Качественный<br>бренд
					%figure
						%img{ :src => "./images/franchise/usp/2.svg", :alt => "Система взаимодействия"}
						<br>
						%figcapation Система<br>взаимодействия
					%figure
						%img{ :src => "./images/franchise/usp/3.svg", :alt => "Корпоративный стиль"}
						<br>
						%figcapation Корпоративный<br>стиль
					%figure
						%img{ :src => "./images/franchise/usp/4.svg", :alt => "Грамотная реклама"}
						<br>
						%figcapation Грамотная<br>реклама
					%figure
						%img{ :src => "./images/franchise/usp/5.svg", :alt => "Полезные бизнес-контакты"}
						<br>
						%figcapation Полезные<br>бизнес-контакты

			%section#frn_b4
				.slider_controls
					.left_arrow.pointer
						%img{ :src => "./images/franchise/left_arrow.svg", :alt => "Предыдущий отзыв"}
					.right_arrow.pointer
						%img{ :src => "./images/franchise/right_arrow.svg", :alt => "Следующий отзыв"}
				.review-slider
					.franchisor_review.review_0
						.wrapper_fran_faces
							%img{ :src => "./images/franchise/franchisor/bulatov.png", :alt => "Булатов Денис"}
						%blockquote
							%p В «Уникальных Кальянных» мы увидели потенциал, что-то большего, чем просто кальянная. Сыграло и огромное количество знаний и опыта у франшизы, схожая философия и многое другое. Работа с «Уникальными Кальянными» цепляет своей независимостью, у компании своё мнение на популярные темы, слаженная команда помогает на каждом шаге.
							%cite
								%h4 Денис Булатов
								%span Основатель «Резерв»
					.franchisor_review.review_1
						.wrapper_fran_faces
							%img{ :src => "./images/franchise/franchisor/bulatov.png", :alt => "Булатов Денис"}
						%blockquote
							%p В «Уникальных Кальянных» мы увидели потенциал, что-то большего, чем просто кальянная. Сыграло и огромное количество знаний и опыта у франшизы, схожая философия и многое другое. Работа с «Уникальными Кальянными» цепляет своей независимостью, у компании своё мнение на популярные темы, слаженная команда помогает на каждом шаге.
							%cite
								%h4 TODO 1
								%span Основатель «Резерв»
					.franchisor_review.review_2
						.wrapper_fran_faces
							%img{ :src => "./images/franchise/franchisor/bulatov.png", :alt => "Булатов Денис"}
						%blockquote
							%p В «Уникальных Кальянных» мы увидели потенциал, что-то большего, чем просто кальянная. Сыграло и огромное количество знаний и опыта у франшизы, схожая философия и многое другое. Работа с «Уникальными Кальянными» цепляет своей независимостью, у компании своё мнение на популярные темы, слаженная команда помогает на каждом шаге.
							%cite
								%h4 TODO 2
								%span Основатель «Резерв»
			%section#frn_b5
				.wrapper_footer
					%header
						%h2 Ищущий да обрятет
						%p Оригинал один - остальное копии
						%button.btn_border.open_franchise_popup Заполнить заявку
					%footer
						%p Copyright © 2015 Уникальные Кальянные

		%section#frn_b6
			.wrapper_form
				%header
					%h2 Отправить заявку
					%p Заполните форму ниже

				%form
					%fieldset
						%legend	Основная информация
						%input{:placeholder=>"ФИО", :type=>"text", :name=>"franchise_request[fio]"}
						%input{:placeholder=>"Контактный телефон", :type=>"text", :name=>"franchise_request[contact_phone]"}
						%input{:placeholder=>"Email", :type=>"text", :name=>"franchise_request[email]"}
						%input{:placeholder=>"Город", :type=>"text", :name=>"franchise_request[city]"}
						%input#total_payment_input{:placeholder=>"Бюджет", :type=>"text", :name=>"franchise_request[total_payment]"}
						%input{:placeholder=>"Расскажите о своих проектах", :type=>"text", :name=>"franchise_request[about]"}
					-# %fieldset
					-# 	%legend	Компания работодель
					-# 	%input{:placeholder=>"Компания работодатель", :type=>"text", :name=>"franchise_request[employe_phone]"}
					-# 	%input{:placeholder=>"Должность", :type=>"text", :name=>"franchise_request[employe_status]"}
					-# %fieldset
					-# 	%legend	Вложениия в франшизу
					-# 	%input{:placeholder=>"Первый взнос", :type=>"text", :name=>"franchise_request[first_payment]"}
					-# 	%input{:placeholder=>"Общая сумма", :type=>"text", :name=>"franchise_request[total_payment]"}
					%button Отправить заявку

				.wrapper_corners
					%img{ :src => "./images/franchise/corner.svg"}
					%img{ :src => "./images/franchise/corner.svg"}
					%img{ :src => "./images/franchise/corner.svg"}
					%img{ :src => "./images/franchise/corner.svg"}
