
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"./css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"./css/general_all.css" }
	%body
		-# Menu
		.wrapper.center-center
			%section#menu_left_part.left_menu
				%img{ :src=>"./images/logo.svg" , :alt=>"Unique Hookah Places" , :height=>"40px" }
				
				%h4 Первая в мире территория для курения со свободной оплатой и<br>индивидуальным подходом к каждому гостю...
				%p 24 июл в 14:44 от #unihuqhookahplaces

				%h5 Она задала нам неожиданный вопрос
				%p 24 июл в 14:44 от #unihuqhookahplaces

				%h5 Она задала нам неожиданный вопрос
				%p 24 июл в 14:44 от #unihuqhookahplaces

				%h5 Она задала нам неожиданный вопрос
				%p 24 июл в 14:44 от #unihuqhookahplaces

				%h5 Она задала нам неожиданный вопрос
				%p 24 июл в 14:44 от #unihuqhookahplaces
				
				%footer
					%p Copyright © 2015 Уникальные Кальянные
					%p 
						Создано в
						%img{ :src=>"./images/cpdbbk.svg" , :alt=>"CPD&BBK" , :height=>"24px"}
			-# Left bar
			%section#menu_right_part.right_menu
				%img#closing{ :src=>"./images/cross.svg" , :alt=>"Закрыть"}

				%h3 Главная страница
				%p Основная информация

				%h3 Ложи
				%p Основная информация

				%h3 Философия
				%p Основная информация

				%h3 Сообщество
				%p Основная информация

				%h3 Франшиза
				%p Основная информация
				
				%button Войти
		-# Color Overlay
		.color_overlay.color_overlay_active
		-# Main conent
		%main.under_popup.main_content_active
			%img.imgfortest{:src=>"./images/test_for_p.png"}