
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"../layout/css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"../layout/css/general_all.css" }
	%body
		-# Form
		.wrapper.center-center
			%section.popup
				%header
					%h2 Войти
					%p.h2_subtitle
						Вход на сайт для зарегистрированных пользователей,<br>если у вас еще нет аккаунта —
						%a{:href =>"#registration"} зарегистрируйтесь.
				%form{:action => "", :method => "get"}
					%input{:type => "text", :name => "input", :placeholder => "Номер телефона"}
					%input{:type => "password", :name => "input", :placeholder => "Пароль"}
					%button.button-arrow{:type=>"sumbit", :name=>"sumbit"} Войти
				%a{:href =>"#forgot_pass"}
					%p Вы забыли пароль?
		-# Color Overlay
		.color_overlay.color_overlay_active
		-# Main conent
		%main.under_popup.main_content_active
			%img.imgfortest{:src=>"./images/test_for_p.png"}
