
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head
		%meta{ :"http-equiv" => "content-type" , :content =>"text/html; charset=utf-8" }
		%link{ :rel=>"stylesheet" , :href=>"../layout/css/reset.css" }
		%link{ :rel=>"stylesheet" , :href=>"../layout/css/general_all.css" }
	%body
		-# Form
		.wrapper.h_v_center
			%section.popup_middle
				%header
					%h2 Заявка на бронирование подана
					%p.h2_subtitle 
						Вы подали заявку на бронирование столика 21 мая с 18:00 до 21:00 в "Liberty". В ближайшее время вам позвонят для подтверждения заявки
					%button.button-arrow{:type=>"sumbit", :name=>"sumbit"} Отлично
		-# Color Overlay
		.color_overlay.color_overlay_active
		-# Main conent
		%main.under_popup.main_content_active
			%img.imgfortest{:src=>"./images/test_for_p.png"}